[2016-04-08 03:52] martine opened #1714 "Internal compiler error on variable named "exports""
This input:
[code]

Produces this output:
[code]

[2016-04-08 03:52] martine commented on #1714
[code]

[2016-04-08 03:58] Dominator008 commented on #1714
This has been fixed in the latest release. Please upgrade to v20160308.

[2016-04-08 03:58] #1714 closed

[2016-04-08 03:59] martine commented on #1714
Thanks!

[2016-04-08 04:10] Dominator008 commented on #1714
@martine My bad, this was fixed in cc05a011a002c52857335d9a72f826a96e3caf3a, which hasn't been released yet.

[2016-04-08 17:41] bobzhang commented on #1620
hi, is there any on going plan to lift restrictions on

[2016-04-08 17:56] Dominator008 commented on #1620
@bobzhang Per discussion within the team, we are a little hesitant on making `The body of a goog.module cannot use throw` suppressible.

@blickly Can you explain more? Thanks.

[2016-04-08 18:52] bobzhang commented on #1620
I am interested in the reason underlying, if you allow

[code]
how can it be different from

[code]

[2016-04-08 18:58] dimvar commented on #1620
The difference between these two is that you are explicitly going out of your way to throw, so you are telling the compiler "I know what I'm doing". What we are trying to prevent is to accidentally using throw at the top level without realizing the consequences (that if you bundle, it stops loading of all subsequent modules, not just the one that throws).

[2016-04-08 19:00] blickly commented on #1620
Throwing during initialization of a single goog.module means that in the following modules will all be uninitialized as well, even if they have nothing to do with the throwing module.

For those that understand that tradeoff and have judged that they still want to throw, we don't prevent them from throwing in an IIFE (example 1).

For those who don't want the exceptional behavior in their module t

[2016-04-08 19:00] #1620 closed

[2016-04-08 20:23] bobzhang commented on #1620
I agree, it would be really nice to have a flag for powerful users to allow this, since the js code is generated, not written by human being

preventing `throw` in the syntax level (unless you do sophiscated flow analysis) really does not add any safety, any side effect in the toplevel can throw

[2016-04-08 20:33] dimvar commented on #1620
The check eliminates one kind of error, not all kinds. To give another example, if a type checker catches some but not all errors, would you say that it does not add any safety?

[2016-04-08 20:46] bobzhang commented on #1620
I agree, just wish gcc can have some flags to give user some flexibility to make it usable in difference scenarios, my 2 cents

[2016-04-08 20:58] bobzhang commented on #1620
To be more specific about my use case, I am working on a compiler(https://github.com/bloomberg/bucklescript)  which compiles OCaml code into Javascript, currently it supports different module systems (amd, commonjs), I wish to support goog module system as well, OCaml itself has a sound type system, so we mostly want to use Closure compiler as a bundle tool, safety check is nice but it's not our m

[2016-04-08 21:05] Dominator008 commented on #1620
@bobzhang The problem is that once people know such a suppression exists they tend to overuse it.
I'm not feeling too strong about this though. If you don't mind using a custom-built compiler, [this](https://github.com/google/closure-compiler/blob/587c05ee3db3dc373b10f19908aa9b0d9f2605ab/src/com/google/javascript/jscomp/ClosureRewriteModule.java#L1135) is the line you'd want to remove.

[2016-04-08 21:18] bobzhang commented on #1620
hi @Dominator008 , it's perfectly fine to have flags prefixed with `--internal-xxx`.
Thanks for the link, is the line to suppress warnings about `use strict;`? Currently the blocking issue is `disallowing throw in toplevel`, I guess allowing throw requires much less work than my side,and it generates consistent code for different module system

[2016-04-08 21:22] Dominator008 commented on #1620
@bobzhang That line is reporting the error about throwing in modules. If you remove that then the Compiler won't give the error.

[2016-04-08 21:36] bobzhang commented on #1620
hi @Dominator008 , thanks for the info. It's fine for me to have a customize build, but we want other people who use our compiler to use Closure compiler as well, the added effort is much higher in that case

[2016-04-08 22:13] pstjvn opened #1719 "warning for missing require when using addSingletonGetter"
I have this code:

[code]

and I get this warning:

[code]

Why is this a missing require? I think this might be a bug.

[2016-04-08 22:16] MatrixFrog commented on #1719
I just saw a similar case recently and @blickly and I were discussing a plan to fix this. Eventually we'll move the checkRequires pass before the goog.module rewriting pass, and that should make this go away. For now, you can make that pass locally in your own copy of the compiler, or turn off the lintChecks group. I would recommend the latter both because it's simpler and because you can get the

[2016-04-08 22:37] MatrixFrog commented on #1669
Forgot to update here. I'm not actively working on this right now. It's tricky to do in a way that the typechecker is happy with. We might need to do this after the typechecker understands ES6 classes natively.

[2016-04-08 22:39] MatrixFrog commented on #1405
`String(foo)` is fine (roughly equivalent to `foo.toString()`) but `new String(foo)` and `String` in a type annotation, should be warnings.

[2016-04-08 23:14] justinfagnani commented on #1669
Thanks for the update Tyler. Any ETA on ES6 class understanding?

On Fri, Apr 8, 2016 at 3:37 PM, Tyler Breisacher <notifications@github.com>
wrote:

[2016-04-09 00:13] bobzhang commented on #1620
I have no plan to make a fork, the maintainance cost is just so high. I really wish closure developers can make it a little flexible for more use cases

[2016-04-09 00:28] Dominator008 commented on #1620
@bobzhang How many files do you have that `throw`s in the top-level? If it's a small set of files, then check out the `--warnings_whitelist_file` flag, which helps suppressing particular warnings.

[2016-04-09 00:37] bobzhang commented on #1620
Thanks, I will give it a try. But here it's not a warning, it's an error, I am fine with warnings, closure refuse to bundle when it found the error. Take typescript compiler for example, it still emit js file even if it finds a type error.
Currently, in our ocaml standard libraries, I only found one file, but I would expect users would have some too.

[2016-04-10 19:31] bobzhang commented on #1620
Another argument to disable this check by default is that it means more difference from es6 module, and any difference from es6 module (besides the `google.require` vs `import`) needs to be documented. for example, I am not sure if there are more checks which will break my valid es6 code

[2016-04-11 13:12] ochafik opened #1720 "Cannot call symbol-indexed ES6 computed property methods"
Symbols are treated as regular values, which causes warnings when calling on a `@struct` (including ES6 classes) and prevents method inlining:
[code]
(see in [online console](http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%2520default.js%2

[2016-04-11 16:26] metrofun opened #1721 "Type inference not working with ES6 "export default""
Here is a simple way to reproduce:
[code]

[code]
Compilation will generate a warning:
` /src/B.js: WARNING - Bad type annotation. Unknown type module$$src$A.default`

Current workaround: use non-default exports.

[2016-04-11 16:26] dimvar commented on #1669
No ETA. We won't be working on this in Q2.

[2016-04-11 17:19] ChadKillingsworth commented on #1669
@MatrixFrog Do you have any WIP code? I might take a look. This will be very important for Polymer going forward.

Hopefully we can find a way to handle this that does not require updating the type checker.

[2016-04-11 18:27] vincent-dm opened #1722 "Dead code is not removed from switch statements"
I am trying to compile a separate version of my web app for each language.
Therefore, I want to include only the translations for that language, using the goog.LOCALE parameter I set during compilation.

However, this leads to this kind of output under advanced mode (example with `goog.LOCALE = "nl"`):
[code]
_(I added the whitespace for readability, the object with the translations is obviously a

[2016-04-11 18:43] Dominator008 commented on #1722
Which version of the Compiler are you using?

I think this has been fixed by https://github.com/google/closure-compiler/commit/8a468ed4abb4ececc5f24928aac2f8c354fea54e, but it's not released yet.

[2016-04-11 19:10] vincent-dm commented on #1722
Seems I was using an older version, I was able to compile i correctly now. Sorry!

[2016-04-11 19:23] Dominator008 commented on #1722
It's interesting that
[code]
doesn't seem to get optimized under ADVANCED because of https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/PeepholeRemoveDeadCode.java#L307

I think we can do better here.

[2016-04-11 19:41] vincent-dm commented on #1722
Yeah, and it seems that I closed the issue prematurely, as my effort to replicate the problem was broken, and it turns out it still exists. [I've made a gist](https://gist.github.com/vincent-dm/30701e1dbd5d13beb30b8e5e856e6fda) (source is Clojurescript).

The gist example uses the `(condp ...)` form in Clojurescript, which gives a different output than the one I pasted in this issue. However, it h

[2016-04-12 05:21] brad4d commented on #1405
I'll take this one.
Using this change as a model as suggested by @blickly
#1510

[2016-04-12 14:51] bobzhang opened #1723 "document how `goog.module` is different from es6 module or commonjs modules"
Following #1620
Besides the obvious part `goog.require` vs `require`, `goog.module` seems to add more checks, I wish `goog.require` behaves the same as other module systems (except the path resolution), but if it is not achievable, it would be nice to have the difference documented clearly in case users hit other corner cases

[2016-04-13 01:35] Dominator008 commented on #1723
Feel free to add a Wiki page for that.

[2016-04-13 01:38] ChadKillingsworth commented on #1723
Actually preferably just add it to this one: https://github.com/google/closure-compiler/wiki/JS-Modules

[2016-04-13 03:23] bobzhang commented on #1723
If I know the difference, would not ask here..

[2016-04-13 03:40] Dominator008 commented on #1723
@bobzhang Well I guess you can start from what you've observed.

[2016-04-13 15:05] hidachinoiro commented on #1707
It seems --jscomp_error=* contains analyzerChecks, but I cannot filter out it by using --jscom_off.

[2016-04-14 18:31] concavelenz commented on #1723
Is this what you are looking for?  https://github.com/google/closure-library/wiki/goog.module:-an-ES6-module-like-alternative-to-goog.provide

[2016-04-14 18:35] concavelenz commented on #1722
@Dominator008 If you remove that line is there a unit tests that covers it?  Generally, I think it would be fine if the default is the last case.

[2016-04-14 18:37] concavelenz commented on #1669
The type checker understands constructors with @return, we would we need native class support in the type checker?

[2016-04-14 19:24] Dominator008 opened #1725 "[NTI] False "All constants must be typed" warning on namespaced constant properties"
I'm getting a 500 on [the debugger](https://closure-compiler-debugger.appspot.com) so I can't include a link.
[code]
Run
[code]
and I get
[code]
`Object.prototype.hasOwnProperty` is part of the ES3 externs so it's already typed.

Real-world example:
https://github.com/google/incremental-dom/blob/70ad014d89d42818584f88886e6896e15535f806/src/util.js#L21

[2016-04-14 22:16] Dominator008 opened #1727 "[NTI] Missing warning about the second argument to Function.prototype.apply in global scope"
With
[code]
do
[code]
I get:
[code]

Note that the warning is missing in the global scope.

Personally I think NTI should infer that `arr` is not nullable since it's a `@const` initialized with `[]`, but that's a separate issue.

Real-world use case:
https://github.com/google/incremental-dom/blob/1f8324f39432d65bca62ed30640cb30b9b3e2304/src/virtual_elements.js#L172

[2016-04-14 22:20] Dominator008 commented on #1725
@dimvar FYI, this is the biggest false positive I got when checking [Incremental DOM](https://github.com/google/incremental-dom) with NTI. Once this is fixed I will switch them :)

[2016-04-14 22:25] dimvar commented on #1725
Say no more :) Upgrading.

[2016-04-15 05:40] Dominator008 commented on #1722
@concavelenz Yes there is a test case where the default is not the last case.

[2016-04-15 06:31] shicks opened #1729 "Type checker complains of redefinition when assigning to a parameter that shadows an extern constructor"
The following code should be fine, but causes an [error](https://closure-compiler-debugger.appspot.com/#input0%3Dpolyfill(function(Map)%2520%257B%250A%2520%2520%252F**%2520%2540constructor%2520*%252F%250A%2520%2520Map%2520%253D%2520function()%2520%257B%257D%253B%250A%257D)%253B%26input1%26conformanceConfig%26externs%3D%252F**%2520%2540param%2520%257Bfunction(*)%253A%2520*%257D%2520func%2520*%252F%

[2016-04-15 06:40] shicks commented on #1729
Same thing happens with just [`var` inside a function scope](https://closure-compiler-debugger.appspot.com/#input0%3D(function()%2520%257B%250A%2520%2520%252F**%2520%2540constructor%2520*%252F%250A%2520%2520var%2520Map%2520%253D%2520function()%2520%257B%257D%253B%250A%257D)()%253B%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_T

[2016-04-15 06:41] shicks commented on #1729
For the record, the error is

[code]

[2016-04-15 19:39] shicks opened #1730 "Failed `@record` declarations aren't reported correctly"
See [this example](https://closure-compiler-debugger.appspot.com/#input0%3Dsink(function()%2520%257B%250A%2520%2520%252F**%2520%2540record%2520*%252F%2520var%2520Foo%2520%253D%2520function()%2520%257B%257D%253B%250A%2520%2520%252F**%2520%2540type%2520%257Bstring%257D%2520*%252F%2520Foo.prototype.bar%253B%250A%250A%2520%2520%252F**%2520%2540return%2520%257B!Foo%257D%2520*%252F%250A%2520%2520var%252

[2016-04-15 20:05] shicks opened #1731 "[NTI] Variadic params {...T} should infer union types rather than failing"
See [this example](https://closure-compiler-debugger.appspot.com/#input0%3Dsink(Array.of(1%252C%2520'foo'%252C%2520undefined))%253B%26input1%26conformanceConfig%26externs%3Dfunction%2520sink(arg)%2520%257B%257D%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26CHECK_TYPES_NEW_INFERENCE%3D1%26LANG_IN_IS_ES6%3D1%26MISSING_PROPERTIES%3D1%26PRESERVE_TYPE_ANNOTAT

[2016-04-15 20:26] Dominator008 commented on #1620
@bobzhang Have you tried the `--warnings_whitelist_file` flag for your use case?

[2016-04-15 20:29] dimvar commented on #1731
It's deliberate to instantiate T to a single type, rather than the union of the arguments. This is usually the user intent, and the fact that the old type checker just unions everything is a loose check IMO. Also, I wouldn't want to special-case Array.of by name. So, the current behavior is inconvenient in this case, but I think it's generally the right one.

The fix for this case would be to allo

[2016-04-15 20:29] #1731 closed

[2016-04-15 22:42] chrismiddleton opened #1732 "Preserving doc comments, but renamed, to enable partial compilation"
I was working on a way to do partial compilation of my code to speed up the compile time and I realized that I couldn't really make it work without a new feature.

I'd like to put forward a request for a --preserve-doc-comments-minified option that would preserve all doc comments, with parameter names renamed, so that they can be used in a next step of compilation. Read on for why I think this wou

[2016-04-15 22:53] MatrixFrog commented on #1729
The error looks right to me, I think. `Map` is declared to take one param but you're over-writing it with a function that takes none. What am I missing?

[2016-04-15 23:02] dimvar commented on #1729
The redefinition is in a different scope, in the global scope the extern-defined Map should work as expected.

[2016-04-16 00:24] shicks opened #1733 "[NTI] Confusing error message for type mismatch"
The following is clearly a type error:

[code]

OTI fails to complain at all, but NTI gives an obscure [message](https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540param%2520%257B!IArrayLike%253Cstring%253E%257D%2520x%250A%2520%2520%2520%2520%2540return%2520%257Bboolean%257D%250A%2520%2520%2520%2520%2540this%2520%257B%257Ba%253A%2520string%257D%257D%2520*%252F%250Afunction%25

[2016-04-16 00:26] shicks commented on #1733
Including the name of the function (`Array.prototype.find` in this case) might also help to cut through the more difficult function type expression.

[2016-04-16 00:40] concavelenz commented on #1730
The OTI incorrectly uses the global TypeRegistry in a few places where it should be using the TypedScope to look up the type.

[2016-04-16 13:42] bobzhang commented on #1723
@Dominator008 @ChadKillingsworth I updated the wiki here https://github.com/google/closure-compiler/wiki/JS-Modules, still wish no such restrictions though!

[2016-04-16 13:42] #1723 closed

[2016-04-16 20:44] nicks opened #1734 "circular references prevent code motion"
Create two modules:
[code]

[code]

and run the compiler with all the cross-module motion passes on.

Expected result: Foo gets moved into module 2
Actual result: Nothing gets moved

Repro link:
http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540constructor%2520*%252F%2520function%2520Foo()%2520%257B%257D%26input1%3Dwindow.foo%2520%253D%2520new%2520Foo()%253B%26conformanceConf

[2016-04-18 14:54] concavelenz commented on #1734
I actually have had a change to enable circular references in CMCM for a year or so but have never landed it.

[2016-04-18 15:02] concavelenz commented on #1709
The issue is how to implement a WeakMap polyfill, there are two basic choices: (1) create a weakMap that leaks (doesn't collect with GC) (2) create a WeakMap that adds properties to objects which would fail on sealed objects (a distributed Map).

Both implementations have advantages/disavantages and it is "wrong" (IMHO) to assume you know which is correct for any particular use case.

[2016-04-18 16:04] martine opened #1735 "Compiler warning when reassigning module exports"
[code]
produces warnings like
[code]

Perhaps this should be illegal, but I'm not sure what the rules are in this area.  (I guess exports are closest to commonjs exports in their semantics?)

Related: issue #1492.

Repro link:
https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F%252F%25

[2016-04-18 16:22] dimvar commented on #1735
Right, you can only assign once to a property of exports. If you want to reassign, you can silence the warning by using `/** @suppress {const|duplicate} */` on the second assignment, but the duplicate assignment may impact subsequent checks and optimizations.

Does this address your issue?

[2016-04-18 16:25] martine commented on #1735
That sounds acceptable -- it's not the behavior of commonjs but it's understandable that it'd be different.

Is this restriction documented somewhere, so I can point others at it?

[2016-04-18 16:26] martine commented on #1735
I think maybe a note on https://github.com/google/closure-compiler/wiki/JS-Modules would be good (?)

[2016-04-18 16:30] ChadKillingsworth commented on #1735
Yes - I'm planning to spend some time on that page after the next release. We're pretty much at feature parity across the 3 supported module formats now.

The `@const` restriction though is purely for the compiler. It enables the early inlining passes and other kinds of optimization.

[2016-04-18 16:45] dimvar commented on #1735
Chad, assigning to you since you're already planning to fix documentation on this.

[2016-04-18 16:52] ChadKillingsworth commented on #1735
👍

[2016-04-18 17:26] chrismiddleton commented on #576
+1

In my case, I'm doing stacking (with z indexes) of elements and there can be stacks of stacks (i.e. groups of elements which should either be above or below each other). Having bounded generics would allow me to satisfy the interface and also provide type-checking to calling code. Ideally, it would look like this:
	/**
	 * @interface
	**/
	function Stackable () {}

	// methods needed for manag

[2016-04-18 17:30] dimvar commented on #1727
This is WAI. In g, the use of arr is in a different scope from the declaration, so we use the declared type. In the global scope, the use is in the same scope as the declaration, so we have more type information.

[2016-04-18 17:30] #1727 closed

[2016-04-18 17:32] dimvar commented on #576
FYI, we are finally able to prioritize work on bounded generics :) They should be available for the new type checker sometime this quarter. https://github.com/google/closure-compiler/wiki/Using-NTI-(new-type-inference)

[2016-04-18 17:34] chrismiddleton commented on #576
Woo! That's awesome to hear; I look forward to it. I hope sometime in the future I have the time to actually contribute to Closure, but in the mean time I can only say thank you for all that you guys do. Using the compiler has made my JS coding 1000x better.

[2016-04-18 19:10] dimvar commented on #1733
Giving a good name for the function, or identifying which parts of the function type were responsible for the mismatch is non-trivial. (Useful, but not sth I can prioritize right now.) What about reorganizing the error message as follows. Would that help?

    When instantiating a polymorphic function, you can only specify one type for each type variable.
    Found 2 types for type variable T: [st

[2016-04-18 20:00] ChadKillingsworth opened #1736 "Type Only Import Reference"
A key component to avoiding circular dependencies is the option to reference a type without importing the module.

Example:

[code]

[code]

We need a way (without requiring closure-library) to import or reference a type from another module.

[2016-04-18 20:32] ChadKillingsworth commented on #1669
This is why the change is needed: https://github.com/w3c/webcomponents/blob/gh-pages/proposals/Constructor-Dmitry.md

[2016-04-19 04:45] shicks opened #1737 "Compiler can't infer well-known symbols like obj[Symbol.iterator]"
See [this example](https://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520map%2520%253D%2520new%2520Map%28%29%253B%250Avar%2520iter%2520%253D%2520map%255BSymbol.iterator%255D%253B%250A%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26MISSING_PROPERTIES%3D1%26PRESERVE_TYPE_ANNOTATIONS%3D1%26PRETTY_PRINT%3D1):

[2016-04-19 04:59] Dominator008 commented on #1732
Sounds like `--preserve_type_annotations` is what you need: https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/CommandLineRunner.java#L613-L617

[2016-04-19 04:59] #1732 closed

[2016-04-19 09:43] Dominator008 commented on #1709
@concavelenz Seems like most polyfill implementations go with option 2.

[2016-04-19 11:09] rejas opened #1738 "Self-compiled soyutils problem with Imported test-only code"
Not sure if you can help me here but I am trying to build the soyutils myself with the google closure compiler like this:

`java  -server -XX:+TieredCompilation  -jar "../closure-compiler/build/compiler.jar"  --js ../closure-library/closure/goog/ --js ../closure-templates/javascript/soyutils_usegoog.js --js soyutils-exports.js --js_output_file=soyutils-no-amd.js --manage_closure_dependencies --onl

[2016-04-19 12:44] chrismiddleton commented on #1732
I hadn't seen that option before - it looks like there isn't any wiki documentation for it anywhere. But unfortunately it doesn't rename the doc parameters.

E.g.
[code]

becomes

[code]

[2016-04-19 15:34] MatrixFrog commented on #1732
The compiler is essentially a full-program compiler. I like the idea of what you're trying to do but the compiler is not designed for it so it will probably require a lot of changes.

[2016-04-19 16:17] dimvar commented on #1732
Right, this is not just an issue of preserving comments. The compiler optimizations change code significantly (code gets removed, namespaces get collapsed, etc), and there is no guarantee that the compiled output will compile cleanly.

[2016-04-19 16:36] chrismiddleton commented on #1732
This is a very good point. I completely forgot about the code removal. I guess if this were to work, it would require more options than the one I mentioned above, including a "--no-tree-shake" option. I'd be curious if there actually are a lot (if any) more things that the compiler would need to not do, or if this would be that would be the only extra thing.

That being said, I understand why this

[2016-04-19 16:55] ChadKillingsworth commented on #1738
It would be best to ask this on the [closure-compiler google group](https://groups.google.com/forum/#!forum/closure-compiler-discuss) or the [closure templates google group](https://groups.google.com/forum/#!forum/closure-templates-discuss). The issue tracker is reserved for bug reports a feature changes.

[2016-04-19 16:55] #1738 closed

[2016-04-19 21:16] MatrixFrog commented on #1737
Long term, the type system should understand that "symbol" is a special type which is allowed in this way. Shorter term, I'm not sure what we want to do. Maybe just make an exception to the struct rule for "Symbol.*" names.

[2016-04-19 22:07] MatrixFrog commented on #1719
It looks like this might be fixed already.

https://closure-compiler-debugger.appspot.com/#input0%3Dgoog.module('pstj.graphics.ColorWheel')%253B%250A%250Avar%2520ColorWheel%2520%253D%2520class%2520ColorWheel%2520%257B%250A%2520%2520constructor()%2520%257B%252F**%2520impl%2520*%252F%257D%250A%257D%253B%250Agoog.addSingletonGetter(ColorWheel)%253B%250Aexports%2520%253D%2520ColorWheel%253B%26input1%3

[2016-04-19 22:45] MatrixFrog commented on #1669
https://github.com/MatrixFrog/closure-compiler/commit/b7948b8541f3e1fe52cfc8f52ac50f941a162ef6

[2016-04-20 00:50] Dominator008 opened #1740 "Support user-defined type guard functions"
Inspired by https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#user-defined-type-guard-functions

I'm thinking of something like:
[code]

This should be useful in cases like #1589.

[2016-04-20 00:52] Dominator008 commented on #1740
@dimvar

[2016-04-20 00:52] ChadKillingsworth commented on #1669
I finally found a good example of what this is needed for: https://gist.github.com/domenic/c1566e755c9e14613aa1

[2016-04-20 02:17] vivekimsit opened #1741 "Obsolete document references."
Please remove obsolete document references mentioned in the wiki pages here:

https://github.com/google/closure-compiler/wiki/Compiler-Assumptions

[2016-04-20 02:49] Dominator008 commented on #1741
I've updated the links.

[2016-04-20 02:49] #1741 closed

[2016-04-20 03:41] justinfagnani commented on #1669
Also see the custom elements polyfill I'm working on, which has an implementation of that technique: https://github.com/webcomponents/webcomponentsjs/pull/514/files#diff-41d0341d0c70774ca250552105b7a773R283

I just added a test on Closure output, which actually fails before running the constructor when trying to assign to `prototype.constructor`: https://github.com/webcomponents/webcomponentsjs/pu

[2016-04-20 06:14] cvissie opened #1742 "var self = this; this.x becomes this after compiling"
This is not a bug and shouldn't be flagged as such.

I'm merely wondering in the following snippet of code:

[code]

After compiled using simple optimizations becomes the following:

[code]

Nothing wrong. I'm just wondering why does closure ignore the var self = this; statement and replace it with this.xxx everywhere.

Is it faster for some reason? It definitely makes the code bigger.

[2016-04-20 06:30] Dominator008 commented on #1742
My guess is that the current output is actually smaller after gzipping.

[2016-04-20 06:43] #1707 closed

[2016-04-20 07:02] Dominator008 commented on #1719
Looks like this has been fixed. Closing.

[2016-04-20 07:33] #1742 closed

[2016-04-20 07:34] Dominator008 commented on #1000
FYI, the "AliasExternals" pass has been removed.

[2016-04-20 09:17] uriva opened #1743 "Compiler doesn't recognize `has` check on es6 `Map`"
A code similar to this will not compile. The compiler complains that the `get` function might return an undefined value, although this is not possible due to the check one line before.

[code]

[2016-04-20 10:35] icmdaf commented on #1707
The rest of the analyzerChecks are very useful though, so I would like to continue using them — why can't the synthetic code be fixed instead?

[2016-04-20 15:40] MatrixFrog commented on #1707
At some point the type system will really understand the `symbol` type but not this quarter. The analyzer checks are designed for systems like https://github.com/google/shipshape where warnings are shown only on source files, not synthetic files. If someone can come up with a short-term fix for that particular issue though, that would be nice, and then users could turn the analyzer checks on expli

[2016-04-20 15:52] icmdaf commented on #1707
I haven't tried it out but when reporting the bug I basically thought the synthetic files were just [these auto-included polyfills](https://github.com/google/closure-compiler/blob/8a468ed4abb4ececc5f24928aac2f8c354fea54e/src/com/google/javascript/jscomp/js/es6/map.js#L394) and that fixing the types there would stop the analyzerChecks from complaining until `symbol` becomes a real type instead of a

[2016-04-20 16:17] dimvar commented on #1740
I was gonna mark this as low priority, but frankly, I don't see us working on it anytime soon. There are many many other things more important. So I'll just close.

[2016-04-20 16:17] #1740 closed

[2016-04-20 16:19] Dominator008 commented on #1743
While it might be possible to support this particular case, I feel that it will be hard to support the general case. Will it compile if you cast the returned value to `!Object`, like
[code]
?

[2016-04-20 16:36] Dominator008 commented on #1740
@dimvar That's fine. Filed just for the record :)

[2016-04-20 16:40] dimvar commented on #1743
I'll change the es6 externs to fix this. For other collections, such as arrays, Object<KEY, VALUE> and IObject, we exclude `undefined` from the result, unless the user explicitly includes it in the type.

[2016-04-20 17:12] MatrixFrog commented on #1707
Essentially, yes. But `symbol` is just an alias for `?` (for now) and the implicit nullability check seems to think of that as "nullable" (which I suppose is technically true, though unhelpful in this case).

[2016-04-20 17:15] Dominator008 commented on #1707
@MatrixFrog Well technically `?` should be ignored by the type checker. I'm not sure about the behavior of the implicit nullability check though.

[2016-04-20 18:28] MatrixFrog commented on #1405
#1510 is a good example, but since this will involve JSDoc, looking at [CheckJSDocStyle](https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/lint/CheckJSDocStyle.java) might also be helpful.

[2016-04-20 20:34] sparhami opened #1745 "Object created with Object.create not dead code eliminated"
When creating an object through `Object.create` and adding a property to it, it will not be removed in ADVANCED mode, even if nothing references it.

**Not** removed:
[code]

Removed:
[code]

[2016-04-21 07:14] Dominator008 commented on #126
@SLaks I think the behavior of code like:
[code]
is correct, but we still lack a short syntax for optional fields.

[2016-04-21 13:51] krk opened #1747 "HTMLElement.dataset key can be encoded as an invalid identifier"
HTMLElement.dataset key can be encoded as an invalid identifier.

`element.dataset.abc = 5;` can be compiled to `e.dataset.$a` where element is an HTMLElement. '$' character is not in the allowed identifiers list for [HTMLElement.dataset](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset) keys.

[2016-04-21 14:01] Dominator008 commented on #1747
This is similar to https://github.com/google/closure-compiler/issues/1371. We should probably prioritize changing the prefix for property renaming.

[2016-04-21 14:40] SLaks commented on #1745
I think the right fix for this is a new annotation that indicates that a function's return value is not shared (and can therefore be removed entirely if not used at the callsite)

[2016-04-21 14:54] metrofun commented on #1391
Is there are any progress on it?
Btw I am trying to *sell* Closure Compiler(Google Traceur) to my team and without async/await it's a bit difficult with Babel nowadays :sweat_smile:

[2016-04-21 15:02] illandril opened #1748 "Bad "JSC_DETERMINISTIC_TEST" warnings with null checks"
The compiler seems to assume that variables will never be changed by function calls.

Simple reproduction case:
[code]

I'd expect no warnings (or _maybe_ 1), but get 2...

[code]

The first warning would be fine in this case (because it will be null), but I wouldn't expect the compiler to analyze things that thoroughly. The second warning is flat out wrong - the condition will evaluate to true in

[2016-04-21 15:05] Dominator008 commented on #1391
@metrofun Thanks, but FYI, Closure and Traceur are two different compilers :)

[2016-04-21 15:11] metrofun commented on #1391
@Dominator008 My bad, I was sure Closure Compiler uses Traceur under the hoo

[2016-04-21 15:23] Dominator008 commented on #1748
As of now, the new type inference does not have this kind of check. @dimvar Is this something to be added? My guess is no.

[2016-04-21 15:56] ChadKillingsworth commented on #1748
We do have this type of analysis. But for performance reasons it doesn't run in the global scope:

[code]

[2016-04-21 15:56] #1748 closed

[2016-04-21 15:58] Dominator008 opened #1749 "Deprecate @nosideeffects in favor of @checkReturnValue, @pure and @returnValueNotShared"
Some context: https://github.com/google/closure-compiler/issues/1745 reported that `Object.create()` was not dead code eliminated. My proposed fix in https://github.com/google/closure-compiler/pull/1746 was pointed out to be unsafe because of cases like:
[code]
`document.getElementById` is also marked with `@nosideeffects`, but since it returns a shared mutable object, the assignment cannot be rem

[2016-04-21 16:03] Dominator008 commented on #1748
@ChadKillingsworth In that case the OTI shouldn't give false positives in the global scope.

[2016-04-21 16:05] ChadKillingsworth commented on #1745
All we really need to know if the returned type is an extern type or not. For extern types, we do not know if the property set has side effects or not. For source code types, we can know that.

I think we may just need a special case in the compiler to infer the types returned by `Object.create` calls.

[2016-04-21 16:06] ChadKillingsworth commented on #1749
I think we have pretty good heuristics and understand `@nosideeffects` usage well. I don't really see the need to add these.

Allowing them in source code is also a huge foot gun.

[2016-04-21 16:09] ChadKillingsworth commented on #1748
I agree - but I'm guessing that fixing this in OTI won't be a priority.

[2016-04-21 16:10] Dominator008 commented on #1745
We also need to bail out on setting prototype properties:
[code]

[2016-04-21 16:12] ChadKillingsworth commented on #1745
You mean like https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/RemoveUnusedPrototypeProperties.java

[2016-04-21 16:12] dimvar commented on #1748
@ChadKillingsworth your guess is correct :)

[2016-04-21 16:14] Dominator008 commented on #1749
@ChadKillingsworth If we establish that `@nosideeffects ~= @checkReturnValue` then it's fine. I feel that allowing `@checkReturnValue` in code would be useful, unless I'm missing something.

[2016-04-21 16:16] Dominator008 commented on #1745
@ChadKillingsworth Right, but `PeepholeRemoveDeadCode` needs to be safer.

[2016-04-21 16:25] ChadKillingsworth commented on #1749
I don't think we should allow this:

[code]

[2016-04-21 16:29] Dominator008 commented on #1749
If we just use it for checks then it's probably fine? We can leave `@nosideeffects` as is.

[2016-04-21 16:33] #1725 closed

[2016-04-21 16:55] Dominator008 commented on #1743
Closed by https://github.com/google/closure-compiler/commit/d83e3c2c7d032fda6bae8de0f94c59057eb88c3c

[2016-04-21 16:55] #1743 closed

[2016-04-21 17:30] MatrixFrog commented on #1391
It _may_ happen this quarter but I make no promises.

[2016-04-21 22:57] Dominator008 commented on #197
[code]
is incorrectly folded to
[code]
while
[code]
is correctly folded to
[code]

[2016-04-21 23:11] jleyba commented on #1737
This has come up in a few times now: #1720 #1507

[2016-04-21 23:40] Dominator008 commented on #196
Looks like this has been fixed: https://github.com/google/closure-compiler/blob/f0bae7f1e918365c061e4b92d1a6f4ef70a4f4e1/externs/browser/w3c_event.js#L34

[2016-04-21 23:40] #196 closed

[2016-04-21 23:47] Dominator008 commented on #190
Cannot reproduce, closing.

[2016-04-21 23:47] #190 closed

[2016-04-21 23:50] Dominator008 commented on #230
@concavelenz I think TurboFan will be fine with those.

[2016-04-21 23:55] Dominator008 commented on #211
This could be a lint check.

[2016-04-22 00:00] Dominator008 commented on #236
Repro:
[code]

[2016-04-22 00:06] Dominator008 commented on #286
Closed by https://github.com/google/closure-compiler/commit/263ff819da0541265f4b9b67474b970790ace2f3. Added here: https://github.com/google/closure-compiler/blob/cb6f30dd11b5d1fa77f3dde910448df9a22505ce/externs/browser/w3c_selectors.js#L107-L113.

[2016-04-22 00:06] #286 closed

[2016-04-22 00:14] Dominator008 commented on #266
This is partially addressed now that we allow aliases in externs: https://github.com/google/closure-compiler/blob/642ce8b22b911e0c62da6af5748707a7e937f2b5/contrib/externs/jquery-1.9.js#L157-L160.

[2016-04-22 00:15] Dominator008 commented on #282
I'd say this is a duplicate of https://github.com/google/closure-compiler/issues/946

[2016-04-22 00:15] #282 closed

[2016-04-22 00:17] Dominator008 commented on #281
Should be handled in https://github.com/google/closure-compiler/issues/273

[2016-04-22 00:17] #281 closed

[2016-04-22 00:20] Dominator008 commented on #279
Repro:
[code]

[2016-04-22 00:24] Dominator008 commented on #312
Repro:
[code]

[2016-04-22 00:30] Dominator008 commented on #311
Cannot reproduce, closing.

[2016-04-22 00:30] #311 closed

[2016-04-22 00:41] Dominator008 commented on #291
Repro, compile with simple optimizations:
[code]
Compiler output:
[code]

Expected output:
[code]

[2016-04-22 00:42] ChadKillingsworth commented on #279
Honestly this specific case just means we need to improve the extern type information. The type of `this` should be inferred by both OTI and NTI.

https://github.com/google/closure-compiler/blob/master/externs/browser/w3c_dom1.js#L671-L707

[2016-04-22 00:46] Dominator008 commented on #295
From @ChadKillingsworth: The workaround for this issue is to mark the parent namespace with `@const`.

[2016-04-22 00:53] Dominator008 commented on #1722
Related: https://github.com/google/closure-compiler/issues/313

[2016-04-22 00:55] Dominator008 commented on #338
Seems to have been fixed.

Input:
[code]
Output:
[code]
No unnecessary zero was kept / added.

[2016-04-22 00:55] #338 closed

[2016-04-22 00:59] Dominator008 commented on #334
The most common use cases have been covered with the `-O` and `-W` aliases. Closing.

[2016-04-22 00:59] #334 closed

[2016-04-22 01:01] Dominator008 commented on #335
The complaint was that
[code]
gets folded into
[code]
IMO this is perfectly fine.

[2016-04-22 01:01] #335 closed

[2016-04-22 01:09] Dominator008 commented on #319
The `--use_only_custom_externs` flag has been replaced by the `--env` flag. `--env CUSTOM` still loads the language externs, so the definitions for `NaN`, `Infinity` and `undefined` will always be present.

[2016-04-22 01:09] #319 closed

[2016-04-22 01:11] Dominator008 commented on #342
Should be fixed by https://github.com/google/closure-compiler/commit/ef9ff6433890d76eb9bc66148cc02c7dd0f96517. Besides, the original issue became too vague / broad during the discussion so I'm closing this.

[2016-04-22 01:11] #342 closed

[2016-04-22 01:27] Dominator008 commented on #318
Repro:
[code]
Run
[code]

[2016-04-22 01:31] Dominator008 commented on #290
Repro:
[code]

[2016-04-22 01:33] Dominator008 commented on #255
We should probably warn on:
[code]

[2016-04-22 01:56] Dominator008 commented on #372
The current behavior is desired and well documented: https://github.com/google/closure-compiler/blob/346d4dfa1a0bd230cb339aaf258a30a1cee9ba64/externs/es3.js#L184-L186. Closing.

[2016-04-22 01:56] #372 closed

[2016-04-22 01:58] Dominator008 commented on #1748
Duplicate of https://github.com/google/closure-compiler/issues/380.

[2016-04-22 02:03] Dominator008 commented on #284
Duplicate of https://github.com/google/closure-compiler/issues/914

[2016-04-22 02:03] #284 closed

[2016-04-22 02:03] Dominator008 commented on #914
Should be similar to https://github.com/google/closure-compiler/pull/1726.

[2016-04-22 02:31] Dominator008 commented on #172
This is working as intended. The type annotation matches the description at https://developer.chrome.com/extensions/webRequest#subscription.

[2016-04-22 02:31] #172 closed

[2016-04-22 02:34] Dominator008 commented on #1749
https://github.com/google/closure-compiler/issues/122 is related.

[2016-04-22 05:28] dimvar commented on #255
NTI warns, I doubt that we'll fix for the old type checker.

[2016-04-22 05:35] dimvar commented on #279
The global-this warning warns only on property accesses, that's why it doesn't warn for the second case. And for the first case, I think it warns because the assignment isn't a general method declaration (on a prototype property) but rather a one-off assignment to an object, and I'm guessing the pattern isn't recognized.

[2016-04-22 05:37] dimvar commented on #312
FYI, NTI warns on both of these.

[2016-04-22 06:38] Dominator008 commented on #527
Looks like the current `MessageEvent` is exactly what you requested: https://github.com/google/closure-compiler/blob/1f896d0c4139c60bc9c59ccd5f1daa1cc58bac6d/externs/browser/html5.js#L1824-L1863.

[2016-04-22 06:38] #527 closed

[2016-04-22 12:04] ChadKillingsworth opened #1751 "Type infeference fails when assignment is separate from declaration"
Repo case for both OTI and NTI:
[code]
If the initial assignment is on the same line as the declaration, the type is correctly inferred.

http://closure-compiler-debugger.appspot.com/#input0%3D(function()%2520%257B%250Avar%2520xhr%253B%250Axhr%2520%253D%2520new%2520XMLHttpRequest()%253B%250Axhr.open(%2522GET%2522%252C%2520%2522somefile%2522%252C%2520true)%253B%250Axhr.addEventListener(%250A%2520%2

[2016-04-22 18:06] Dominator008 commented on #1751
This is WAI for both OTI and NTI. If you look at the AST, `xhr` is of type `XMLHttpRequest`. The unknown type is on `xhr.response`, which is because the externs file is missing that property: https://github.com/google/closure-compiler/blob/b85923365aa8571db47ac09a27c1adddb0d299a2/externs/browser/w3c_xml.js#L295.

[2016-04-22 18:06] #1751 closed

[2016-04-22 20:41] dimvar commented on #1751
FWIW, even when you run NTI, the warning that you see is from OTI, because it runs after NTI. Normally OTI warnings are silenced, but there are a few that slip through the cracks, which I'm planning to fix.

NTI doesn't support reportUnknownTypes yet. I'll add support for it soon-ish.

[2016-04-22 20:57] ChadKillingsworth commented on #1751
Ahh that makes sense.

[2016-04-23 09:48] Dominator008 commented on #900
@ihsoft Is this crash still happening?

[2016-04-23 10:16] Dominator008 commented on #787
Technically the return type can be `?`, but I think it makes sense to restrict it to `(boolean|undefined)` or even just `undefined`. Returning anything other than `undefined` sounds like the code is relying on legacy behavior.

[2016-04-23 10:16] #787 closed

[2016-04-23 10:31] kvanberendonck commented on #787
I'm sorry what do you expect the people to do who currently use closure compiler and rely on this?

[2016-04-23 10:32] Dominator008 commented on #109
@concavelenz Can you verify this?

[2016-04-23 10:41] Dominator008 commented on #787
@kvanberendonck You can either suppress the type check on the listener function:
[code]
or cast the return value to `?` manually:
[code]

[2016-04-24 01:16] Dominator008 commented on #393
@concavelenz Unfortunately, incompatible overrides are need in the externs.

[2016-04-24 18:55] myphysicslab opened #1757 "module pattern does not minify"
When using an [augmentation module pattern](http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html) Closure Compiler doesn't minify the code. Here is an example:

[code]

The [result with Advanced Optimization](http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%2

[2016-04-25 06:06] gilad-bendor commented on #1685
body p { margin-bottom: 0cm; margin-top: 0pt; }

    Again, it can be seen when you check "ENABLE_ALL_DIAGNOSTIC_GROUPS":

    http://closure-compiler-debugger.appspot.com/#input0%3D(function()%257B%250A%2520%2520%2520%252F**%2520%2540constructor%2520*%252F%250A%2520%2520%2520function%2520MyClass()%257B%257D%250A%2520%2520%2520%252F**%2520%2540type%2520%257B!string%257D%2520*%252F%2520MyClass.prot

[2016-04-25 06:16] dimvar commented on #1757
The compiler is somehow confused because you are passing module1 to the function and the assigning the result of the call to module1. Since the function adds properties to its argument, you can just omit the assignment to module1 (and the return statement) and then the program will optimize to a single statement.

[2016-04-25 06:16] #1757 closed

[2016-04-25 06:28] gilad-bendor commented on #1685
body p { margin-bottom: 0cm; margin-top: 0pt; }

    Lying to the type system is an established and honorable
    institution...
    Google-closure would have become useless if not for that.
    From my experience with Google-Closure, you just can't avoid that
    (at least elegantly).
    Life is not a fairy-tale   ;-)

    In my Eclipse environment, I have set up a "builder" that can
    suppres

[2016-04-25 06:53] myphysicslab commented on #1757
That works, but only if the input is an integer.  Here is the code you are suggesting, but with a non-integer  argument (4/3) we don't get optimized code:

[code]

The [result with Advanced Optimization](http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540outp

[2016-04-25 07:21] dimvar commented on #1757
Are you building with the latest release? There is commit https://github.com/google/closure-compiler/commit/ef9ff6433890d76eb9bc66148cc02c7dd0f96517 at head, which will probably inline in this case as well.

[2016-04-25 18:23] myphysicslab commented on #1757
I was using the [online closure compiler](http://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%252F%2520%2540output_file_name%2520default.js%250A%252F%252F%2520%253D%253D%252FClosureCompiler%253D%253D%250A%250A%252F%252F%2520ADD%2520YOUR%2520CODE%2520HERE%250Avar%2520module1

[2016-04-25 18:42] myphysicslab commented on #1757
I'm getting similar results with the latest compiler:

    $ java -jar ../javascript/closure-compiler/build/compiler.jar --version
    Closure Compiler (http://github.com/google/closure-compiler)
    Version: v20160315-213-g4787bb5
    Built on: 2016/04/25 10:12
    $ java -jar ../javascript/closure-compiler/build/compiler.jar --js test.js
    var module1={};(function(b){b.add1=function(a){return

[2016-04-25 19:16] martine commented on #1425
Is there a way to disable the warning about unimplemented Polyfills?

E.g. you get this even if you declare Reflect in an externs.js:
[code]

[2016-04-25 19:17] myphysicslab opened #1758 "For online Closure Compiler Service: provide compiler version number"
When answering a [StackOverflow question about Closure Compiler](http://stackoverflow.com/questions/36769662/closure-compiler-doesnt-remove-unused-properties/) it would be helpful to be able to determine the version number that the [online Closure Compiler Service](http://closure-compiler.appspot.com/home) is based on.

[2016-04-25 20:29] dimvar commented on #1425
You can avoid the warnings by skipping the compiler's rewriting of the polyfills `--rewrite_polyfills=false`. If you want to run the pass and not see the warnings, I think it's not possible at the moment. @shicks can chime in.

[2016-04-25 21:05] myphysicslab opened #1759 "cannot make an HTMLOptionElement"
After updating to the latest compiler (previously I was using version from Nov 2015) I had to change this line

[code]

to this:

[code]

I tried doing this:

[code]

and that compiled OK, but results in runtime errors:

[code]

Note also that `new HTMLOptionElement()` does not allow arguments in the constructor.

Here are some of the relevant online docs:

<http://www.w3.org/TR/2012/WD-html5-2012

[2016-04-26 00:02] Dominator008 commented on #1759
[code]
gives a `TypeError` in Chrome.
I think `new Option()` should still be used: https://github.com/google/closure-compiler/blob/42a3cc26b3588450770a450027aad0c56a2698dd/externs/browser/deprecated.js#L33-L40
What error did you see when you had it the previous way?

[2016-04-26 01:01] myphysicslab commented on #1759
Here is the error:

[code]

Here is the definition of `selectMenu_`

[code]

This was compiling with the previous compiler version from Nov 2015.

[2016-04-26 01:46] Dominator008 commented on #1759
@myphysicslab Please see if https://github.com/google/closure-compiler/pull/1760/files fixes it.

[2016-04-26 02:29] myphysicslab commented on #1759
Yes, #1760 fixes it.  I made that change in my local version of the compiler, rebuilt the compiler, and now the original version of the line is compiling with no warning or error:

[code]

[2016-04-26 02:30] Dominator008 commented on #1759
@myphysicslab Great, thanks. I don't expect #1760 to cause breakages internally at Google but we will see how it goes :)

[2016-04-26 18:00] #1405 closed

[2016-04-26 18:06] Dominator008 commented on #1708
Closed by https://github.com/google/closure-compiler/commit/2000025c9c0b1bc209f8365a8590ca34e61218f0.

[2016-04-26 18:06] #1708 closed

[2016-04-26 23:33] blickly commented on #255
Seems like something that could be checked completely syntactically (independently of the type checker)

[2016-04-27 06:23] ZanneZankyo opened #1761 "existing output file does not update when compiling multiple files"
Hi, I'm a Windows user and I'm using Closure Compiler in IDEA file watcher to compile all my .js files into a single one. But I notice that the existing output file does not update after I change my code. I have to delete the output file then trigger the file watcher to get the newest compiled code.

I call the compiler directly in cmd finding that the exist output file does not update, too:
`java

[2016-04-27 07:18] Dominator008 commented on #1761
I doubt if `--js_output_file=output.js --js *.js` works. Looks like you will be reading `output.js` as an input starting from your second compilation. What about `--js_output_file=output.js --js *.js --js !output.js`?

[2016-04-27 08:21] ZanneZankyo commented on #1761
Oh, my apologize, it was because I use wildcard in such a wrong way

[2016-04-27 08:21] #1761 closed

[2016-04-27 17:17] blickly commented on #1391
This missed the deadline for ES7 (== ES2016), so now the earliest this could be standardized is ES8.

[2016-04-28 19:16] martine opened #1762 "Warning on type annotation for default values of destructuring parameters"
In the following code, the second function warns:
[code]

[code]

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520%2540param%2520%257B!%257Bx%253A%2520number%257D%257D%2520param%250A%2520*%252F%250Afunction%2520foo1(%257Bx%257D)%2520%257B%250A%257D%250A%250A%252F**%250A%2520*%2520%2540param%2520%257B!%257Bx%253A%2520number%257D%257D%2520param%250A%2520*%252F%250Afunc

[2016-04-28 23:24] #1722 closed

[2016-04-28 23:49] Dominator008 commented on #111
@yosin The event externs are currently available in the form of `@typedef`s: https://github.com/google/closure-compiler/blob/f0bae7f1e918365c061e4b92d1a6f4ef70a4f4e1/externs/browser/w3c_event.js#L75-L81

[2016-04-28 23:49] #111 closed

[2016-04-28 23:55] Dominator008 commented on #138
An externs file for the Google Earth API is available at: https://github.com/vicb/VisuGps3/blob/f2e563c2ff5d51091843e01fb7dac1071372cac7/src/vgps3/plugins/earth/externs/google_earth_api.js

[2016-04-28 23:55] #138 closed

[2016-04-29 00:00] Dominator008 commented on #163
Input:
[code]
Output under `SIMPLE_OPTIMIZATIONS`:
[code]

[2016-04-29 00:09] Dominator008 commented on #246
This seems to have been fixed.
[code]
compiles with no warnings.

[2016-04-29 00:09] #246 closed

[2016-04-29 00:30] Dominator008 commented on #344
Currently, jQuery is not compatible with `ADVANCED_OPTIMIZATIONS`.

[2016-04-29 00:30] #344 closed

[2016-04-29 00:50] Dominator008 commented on #277
`reportUnknownTypes` might help with this, though its usage is generally not encouraged.

[2016-04-29 07:43] Dominator008 commented on #253
Input:
[code]
Looks like it has been fixed.

[2016-04-29 07:43] #253 closed

[2016-04-29 07:50] Dominator008 commented on #269
Input:
[code]

[2016-04-29 07:57] Dominator008 commented on #309
Input:
[code]
A warning is given by the linter:
[code]

[2016-04-29 07:57] #309 closed

[2016-04-29 08:06] Dominator008 commented on #145
Input:
[code]

[2016-04-29 08:08] Dominator008 commented on #210
NTI has this.

[2016-04-29 08:12] Dominator008 commented on #239
Input:
[code]
NTI gives 2 warnings correctly.

[2016-04-29 08:14] Dominator008 commented on #216
It would be nice if something like `@mixin` is supported

[2016-04-29 08:18] Dominator008 commented on #263
Input:
[code]
NTI gives 2 warnings.

[2016-04-29 08:22] Dominator008 commented on #1361
Looks like now we give a warning in the first case, but not in the second one.

[2016-04-29 08:26] Dominator008 commented on #1379
This is already optimized with `ADVANCED_OPTIMIZATIONS`.
Input:
[code]
Command:
[code]
Output:
[code]

[2016-04-29 08:26] #1379 closed

[2016-04-29 08:29] Dominator008 commented on #1086
Cannot reproduce, closing.

[2016-04-29 08:29] #1086 closed

[2016-04-29 17:13] dimvar commented on #1361
FYI, we're not planning to support parameterized Object in NTI. (We want to avoid spurious warnings, but not typecheck it.) The recommended type for parameterized objects is IObject.

[2016-04-29 17:15] dimvar commented on #263
Closing since we're only making top-priority changes in the old type checker.

[2016-04-29 17:15] #263 closed

[2016-04-29 17:17] dimvar commented on #210
Closing. For whoever runs into this, the recommended solution is to migrate to the new type inference.

[2016-04-29 17:17] #210 closed

[2016-04-29 21:18] Dominator008 commented on #1540
Closed  by #1541 (https://github.com/google/closure-compiler/commit/8143ba9cfea599365365ff0834716b3c38e4efa6)

[2016-04-29 21:18] #1540 closed

[2016-04-30 13:16] StewVed opened #1763 "w3c_gamepad.js not included in Closure?!?"
I thought I'd look into why my basic gamepad code wasn't being kept`(navigator.getGamepads();` and `GamePad[x].axes.slice(0)` for example

It looks like whoever was going to move `w3c_audio.js` and `w3c_gamepad.js` into `closure-compiler/externs/browser/ forgot to move w3c_gamepad.js` along with `w3c_audio.js`;
`w3c_gamepad.js` still appears to be in `closure-compiler/contrib/externs/`

I'd love t

[2016-04-30 15:39] a510 opened #1764 "Compiler doesn't hoist variables"
In this function variables should be hoisted instead of repeating the `var` keyword for each variable.

[code]

i.e.

[code]

[2016-04-30 15:53] Dominator008 commented on #1764
It doesn't help reducing gzipped size.

[2016-04-30 15:53] #1764 closed

[2016-04-30 17:06] brad4d commented on #1764
See also this FAQ entry for more detailed explanation on a similar issue.
https://github.com/google/closure-compiler/wiki/FAQ#closure-compiler-inlined-all-my-strings-which-made-my-code-size-bigger-why-did-it-do-that

[2016-04-30 17:26] brad4d commented on #1763
https://www.w3.org/TR/gamepad/

[2016-04-30 20:36] Dominator008 commented on #1763
@StewVed Assuming you are using the command line runner, you can use the `--externs` flag like `--externs closure-compiler/contrib/externs/w3c_gamepad.js` for now.

[2016-04-30 20:52] StewVed commented on #1763
@Dominator008 Awesome! I'll do that, thank you!

could https://github.com/google/closure-compiler/tree/master/contrib/externs/w3c_gamepad.js
be moved to:
https://github.com/google/closure-compiler/tree/master/externs/browser
where w3c_audio.js was moved to though?

[2016-04-30 20:59] Dominator008 commented on #1763
@StewVed Maybe. We will need to also move it internally at Google.

[2016-05-02 14:29] phax opened #1765 "Remove unused API in AbstractCommandLineRunner"
Please remove `AbstractCommandLineRunner.CommandLineConfig.js` and `AbstractCommandLineRunner.CommandLineConfig.jsZip` as the latest version only uses `AbstractCommandLineRunner.CommandLineConfig.mixedJsSources` for input determination.

[2016-05-02 14:53] Dominator008 commented on #1765
I think those are used internally at Google.

[2016-05-02 14:53] #1765 closed

[2016-05-02 19:00] infusion commented on #1379
Hm? Sure it works with constant folding. But the question was to pass a var assignment directly to a subsequent function call.

[2016-05-03 03:44] hochhaus commented on #1401
@Dominator008 I will happily do this work. Could you point me at some documentation for how new releases are performed so that I know where to hook in?

Thanks.

[2016-05-03 04:07] hochhaus commented on #1401
@Dominator008 I'm happy to do this work. Can you point me at the script which does releases so I know where to hook in?

I think the binaries are likely built with something like ("ant jar linter") but I don't see where they get packaged up into *.zip and .tar.gz files.

[2016-05-03 13:08] Dominator008 commented on #1401
@MatrixFrog Should we just provide `linter.jar` in a separate zip archive?

@hochhaus Yes it's currently built with `ant linter` externally. I have https://github.com/google/closure-compiler/pull/1650 to add it to the Maven build.

[2016-05-03 13:27] Dominator008 commented on #207
This should be a Safari issue.

[2016-05-03 13:27] #207 closed

[2016-05-03 13:31] Dominator008 commented on #667
@pstjvn Is this still happening? If so, can you provide a repro case?

[2016-05-03 14:32] pstjvn commented on #667
Sorry, it was too long ago, also I submitted the bug informatively, back then it was critical to release asap so I have changed my code right away to use the simpler email address checks to avoid the issue and I already have no idea which code base was using this, so basically I cannot reproduce it.

Maybe should be closed.

[2016-05-03 15:32] hochhaus commented on #1401
@Dominator008 Thanks for the clarification.

@MatrixFrog Can I do anything to help?

[2016-05-03 17:07] #667 closed

[2016-05-03 17:45] #1759 closed

[2016-05-04 00:20] jart opened #1769 "MUST_BE_PRIVATE doesn't work with @protected"
The latest release from March, `CheckJSDocStyle.MUST_BE_PRIVATE` does not take into consideration the fact that `@protected` members will have the trailing underscore.

[2016-05-04 00:23] MatrixFrog commented on #1769
You can check with the stylists but I thought protected members were supposed to not have the underscore.

[2016-05-04 01:14] jart commented on #1769
My mistake then. In that case, feel free to close. I guess it's just a
legacy issue with closure library.
On May 3, 2016 8:23 PM, "Tyler Breisacher" <notifications@github.com> wrote:

[2016-05-04 01:22] MatrixFrog commented on #1769
Yup, there are many of those :(

[2016-05-04 01:22] #1769 closed

[2016-05-04 07:25] Dominator008 commented on #1661
https://github.com/google/closure-compiler/commit/069e6378f8ba41372c9a1a38d4f4ebbbb4328fe1 fixed this for most cases.

[2016-05-04 07:25] #1661 closed

[2016-05-04 20:58] jart opened #1770 "When's the next release?"
I work on [Closure Rules](https://github.com/bazelbuild/rules_closure). I'm really excited about integrating some of the new linting features in the codebase. But there hasn't been a release since March 15th.

1. When is the next release planned?
2. Would you consider adopting a regular release schedule?

I would be so happy if there was a release at the beginning of each month. Then I could sync

[2016-05-04 21:02] MatrixFrog commented on #1770
We try to release once a month but it doesn't always happen for various reasons. The next one should be out by early next week at the latest.

[2016-05-04 21:07] hochhaus commented on #1770
@MatrixFrog Any chance that closure-templates can be released on the same interval as closure-{compiler,library}?

[2016-05-04 21:07] MatrixFrog commented on #1770
I think @Ubehebe is the de-facto owner of that release cycle nowadays.

[2016-05-04 21:24] jart commented on #1770
Thanks for the clarification. Also +1 to @hochhaus's comment on Templates release at same time.

@Ubehebe would it be too much trouble to add "Ping Justine" to your release protocol, so I know when it goes live on Maven? That way I can get it integrated and released with Closure Rules immediately after. That way Closure users are super happy.

[2016-05-04 21:36] hochhaus commented on #1770
@iflan While we are discussing it, would it be possible to also sync closure-stylesheets with the release of closure-{compiler,library}?

[2016-05-05 11:00] supersteves opened #1771 "Wrong report of "variable {0} is undeclared" using short obj literals"
I can't repro this in the debugger (can't guess what I need to configure to match my build), but here's what I'm seeing (names altered for brevity):

[code]

[code]

Debugging the compiler, the variable in scope is actually named:
``` module$contents$a_f ```

I'm experimenting with commonjs modules, if it's related.

The workaround is to use
[code]

[2016-05-05 11:07] supersteves opened #1772 "Circular references and long namespaces"
I'm using goog.modules and there are some cases where circular references mean I need:

[code]

[2016-05-05 12:30] supersteves commented on #1697
Apologies if this is hijacking this issue but I can't find any other issue or wiki page more relevant.

I am struggling to figure out how to get node_modules and commonjs requires to work with Closure Compiler using ```--js_module_root```.

It would be really helpful if there was a node_modules example added here, showing the command line, directory structure, working dir (if relevant) and require

[2016-05-05 13:08] iflan commented on #1770
Yes, if whoever releases the compiler and library is willing to do it.

[2016-05-05 13:40] ChadKillingsworth commented on #412
We deleted the contributors file - it's now the github commit history.

[2016-05-05 13:40] #412 closed

[2016-05-05 13:40] ChadKillingsworth commented on #1697
@supersteves The reason there is no documentation is it doesn't really work. You have to pre-process node_modules files so that the imports are paths instead of named modules.

There are changes to the compiler I have planned to address this, but nothing has been actually started yet.

[2016-05-05 13:53] supersteves opened #1773 "Use with node_modules and commonjs requires"
I'm exploring using Closure Compiler with node_modules and have run into a couple of blocking issues:
- Moocher dropping. All CJS modules are being considered moochers because they don't "provide" anything. I need moocher dropping in my codebase to avoid pulling in tons of unused files for compilation.
- node_module path resolution. I'm happy to write my paths explicitly like `require("react-boots

[2016-05-05 13:55] supersteves commented on #1697
Thanks @ChadKillingsworth ... saw your response only now after posting https://github.com/google/closure-compiler/issues/1773

[2016-05-05 13:58] ChadKillingsworth commented on #1773
Not sure why you see this - this definitely isn't occurring in my code bases. Make sure you use the `--process_common_js_modules` flag.

This is currently true.

[2016-05-05 16:15] MatrixFrog commented on #1771
Interesting. I assume this is with the compiler built from head, not the release? (If not, try it with a compiler built from head maybe...)

[2016-05-05 16:30] supersteves commented on #1771
Yes, 7a180297a38478d0e85c81d3266bcac1a31d32ea

[2016-05-05 20:05] victordelacruz opened #1775 "For..of not supported"
Hello guys, I tried to use the `for..of` form in my code and got this:

[code]

After swapping `for..of` for lodash's `forEach` it compiled without problems.

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/for...of

[2016-05-05 20:07] dimvar commented on #1775
Make sure you pass `--language_out=ECMASCRIPT5`

[2016-05-05 20:07] #1775 closed

[2016-05-06 10:06] supersteves opened #1776 "Static methods lost using ES6 modules"
In advanced obfuscation, the method "something" is removed from the compiled output.

[code]
[code]

I'm guessing this is specific to ES6 modules, since I use classes and static methods with goog.module successfully.

I tried to set up a debugger but don't know how ES6 module paths work there:
https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520A%2520%257B%250A%250A%2520%2520method()

[2016-05-06 10:08] supersteves commented on #1472
I'm revisiting this, perhaps it has moved forwards? But I can't find a pattern that works for importing (this time around) ES6 modules from a goog.module.

[2016-05-06 10:14] supersteves commented on #1776
same as https://github.com/google/closure-compiler/issues/1693?

[2016-05-06 10:16] supersteves commented on #1776
related to https://github.com/google/closure-compiler/issues/370?

[2016-05-06 10:25] JdeH opened #1777 "Source map uses ; as terminator rather then separator as specified in Rev.3"
Hi,

First of all thank you for the effort invested in the closure compiler!

The closure compiler produces a sourcemap whose mappings end with ;
This isn't correct, the Rev.3 specs say ; is a separator, not a terminator.
This results in an error when separating groups in Python with <mappings>.split (';') as I am trying to do in the [Transcrypt](http://www.transcrypt.org) Python to JS compiler, i

[2016-05-06 10:33] supersteves commented on #1472
Update: this works:

[code]
[code]
Note the ```.default```.

[2016-05-06 10:40] supersteves opened #1778 "Strange name error when importing goog.module into ES6 module"
A.js:
[code]
B.js:
[code]
[code]
Note the error is on the console.log line.

Workaround:
add ```goog.module.declareLegacyNamespace();``` after ```goog.module(...)```.

[2016-05-06 11:18] supersteves commented on #1776
Yep, ```CompilerOptions.collapseProperties=true``` was the culprit. I think I want collapse properties for my large codebase, and it seems it is missing the collapse at the point of use and therefore pruning as unused. So probably a bug. Any suggestions to work around it?

[2016-05-06 11:38] supersteves commented on #1776
In my case both A and B are ES6 modules.

I've tried converting just A or just B to a goog.module, retaining an ES6 module pattern for the other; same problem.

I've tried A and B both as goog.module, **it fixes it**. So I have a workaround - avoid ES6 modules for both the declaring and importing modules if you have a static class property and collapseProperties enabled.

(In case it's relevant: i

[2016-05-06 11:41] ChadKillingsworth commented on #1776
How are you using `A.something`? If it's referenced in the same compiled code, it should be renamed consistently. If you are using it from an external reference, you'll need to use `@nocollapse`.

[2016-05-06 11:42] supersteves commented on #1776
In the same compiled code, a single run of the compiler.
It works with goog.modules, it fails with either being ES6 modules.
```@nocollapse``` is a much better workaround, and works - thanks.

[2016-05-06 11:43] supersteves commented on #1776
Let me know how to set up the debugger to use ES6 modules, and I'll create a test case. Do you have any example debugger URLs I can look at?

[2016-05-06 11:46] ChadKillingsworth commented on #1776
I don't have an example for the debugger.

[2016-05-06 15:02] supersteves opened #1779 "Whitespace only mode breaks ES6 modules"
This is a bit like https://github.com/google/closure-compiler/issues/611

It is concatenating the modules without any module scoping/loading system, and leaving the import / export statements as-is.

This means you can't debug whitespace only mode in Chrome and must wait for a longer compilation.

[2016-05-06 15:36] brad4d commented on #854
I'm inclined to make new.target a token. Does that seem reasonable?

[2016-05-06 15:54] MatrixFrog commented on #854
Is `new   .    target` syntactically valid? If so it might be easier if the `new` and the `.` and the `target` are all separate tokens.

[2016-05-06 16:40] Dominator008 commented on #1779
I'd say this is a current limitation in Chrome. IMO `WHITESPACE_ONLY` should keep the import / export statements as is. We can revisit this once we have a better story of how module loading works.

[2016-05-06 16:41] dimvar commented on #854
Tyler, are you proposing that we make it a getprop? AFAICT, we'll never treat new.target as a property access, it is its own separate thing, it just happens to have a dot in its name. But it should probably be a separate token.

[2016-05-06 16:45] Dominator008 commented on #1771
@supersteves Can you provide a simple repro case, hopefully with the command line flags you used?

[2016-05-06 16:50] MatrixFrog commented on #854
No, I was just talking about how we'd tokenize it in https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/parsing/parser/Scanner.java -- I forgot we'd overloaded the word `Token`. Once we're done parsing, `Token.NEW_TARGET` probably makes sense.

[2016-05-06 16:51] dimvar commented on #854
OK, cool, we're on the same page then.

[2016-05-06 17:37] supersteves commented on #1771
Aha! I was experimenting with CommonJS modules and since gave up.

Short syntax works fine without enabling processing of CommonJS modules.
But when I turn on ```CompilerOptions.processCommonJSModules```, it immediately fails.

No idea why - this is in a goog.module and it is being used by a goog.module...

I don't think I can currently create an online test case for CJS and ES6 modules. (Should I

[2016-05-06 17:50] Dominator008 commented on #1771
@supersteves Hmm. I tried
[code]
and it's still working. Haven't tried with a Java wrapper though.

[2016-05-06 17:51] ChadKillingsworth commented on #1771
There's tests for that: https://github.com/google/closure-compiler/blob/master/test/com/google/javascript/jscomp/ProcessCommonJSModulesTest.java#L276-L331

[2016-05-06 17:54] supersteves commented on #1771
@Dominator008 did you try *using* the export? It's the use of the module that fails, I'm getting ```module$contents$a_f``` just like you are, but the point of use is trying to call ```f$$module$a()```.

[2016-05-06 17:58] ChadKillingsworth commented on #1771
Ugh - I bet the commonjs module rewriting is interpreting goog.module files as common js. We need to fix that.

[2016-05-06 18:04] acordex opened #1780 "Name clash with CSS extern"
I was trying to make a "Rect" class, but Rect is defined in the css externs file:

    ERROR - Variable Rect first declared in externs.zip//browser/w3c_css.js

However, Rect is not available in JS (at least not in Chrome). So this basically means that Closure is banning `Rect` from ever being used. Shouldn't the externs that aren't actually available as JS objects be obfuscated in some way so that

[2016-05-06 18:08] ChadKillingsworth commented on #1780
What surprising is that has been present for pretty much the life of the project and you are the first person I recall reporting it.

@MatrixFrog There are lots of generic internal types in that extern and it is VERY old. I'm guessing changes here will be very difficult to land?

[2016-05-06 18:14] Dominator008 commented on #1780
@ChadKillingsworth IMO instead of changing the externs, the compiler should be told that `Rect` isn't available in JavaScript and only serves as a type. We should then do the renaming internally. Changing it to things like `w3c_css_Rect` seems pretty messy and is a big loss for documentation purposes.

[2016-05-06 18:28] ChadKillingsworth commented on #1780
Fixing #1426 would give us a way to fix this as well.

[2016-05-06 18:34] brad4d commented on #854
I was thinking in terms of a lexer token, but upon reflection and looking
at the spec, I won't do that.
Creating a Node with type = Token.NEW_TARGET makes sense, though.

On Fri, May 6, 2016 at 9:51 AM Dimitris Vardoulakis <
notifications@github.com> wrote:

[2016-05-07 02:23] shicks opened #1781 "Improve JSDoc support for destructured parameters"
Currently it is very cumbersome to use destructuring for function parameters with more than a couple properties, particular if many are optional:

[code]

Note that the `number=` syntax does not work, and in fact leads to #1762.

Ideally we could write
[code]

[2016-05-08 14:52] supersteves opened #1782 "Type casts get stripped by Babel JSX, alternate form needed"
I'm preprocessing my JSX files with Babel, and it's stripping the extraneous comments needed only for Closure Compiler's type cast syntax, resulting in:
[code]
It would be good if there was an alternative syntax. Or if the type cast worked like Java's, and took effect on the immediate node following.

[2016-05-08 14:54] supersteves commented on #1145
Update: having revisited this with ES6 modules I now realise it was my JSX transformation that was stripping the () needed in a cast. This probably helps identify the original crash, and entirely explains the misplaced type annotation error. See https://github.com/google/closure-compiler/issues/1782

[2016-05-09 00:17] ChadKillingsworth commented on #1782
You can always use functions to tighten types.

[code]

[2016-05-09 10:05] supersteves commented on #1782
@ChadKillingsworth  - Ah yes, thanks for the tip!

[2016-05-09 13:21] mervekara opened #1783 "Advanced mode empty using Grunt"
Grunt use and compilation_level advanced. But output.js empty. compilation_level simple use output.js compiler.

[2016-05-09 16:25] Dominator008 commented on #1783
Are you exporting things correctly? See https://developers.google.com/closure/compiler/docs/api-tutorial3#removal for more information.

[2016-05-09 16:27] Dominator008 commented on #1781
@shicks That looks ambiguous, I guess? What's the difference between
[code]
and
[code]
?

[2016-05-09 17:12] Dominator008 commented on #106
Repro:
[code]

[2016-05-09 18:42] hochhaus commented on #1770
Thanks Ian. @MatrixFrog Would the compiler team consider integrating stylesheets into your release process as well?

I left Google many years ago so I'm not sure how much I can do to help. Please let me know if I can though.

[2016-05-09 18:45] MatrixFrog commented on #1781
I agree. I'd like to see the `=` be supported someday, but I don't mind the verbosity other than that because it keeps things clear IMO.

[2016-05-09 19:00] Dominator008 commented on #1770
@hochhaus I don't think the Compiler team manages Closure Stylesheets releases. Looks like @iflan is the one doing the releases?

[2016-05-09 19:51] hochhaus commented on #1770
@Dominator008 Thanks. Yes, my understanding is that Ian is the current owner. I was hoping that the timing/version numbering for all of the closure tools could by synchronized. Doing so would simplify things a bit for external users.

My interpretation of Ian's comment above was that he is open to synchronizing the stylesheets release with the compiler/library if the owner of that release process

[2016-05-10 00:55] Dominator008 commented on #168
Duplicate of #490, which is fixed in NTI.

[2016-05-10 00:55] #168 closed

[2016-05-10 01:04] alexeagle commented on #1770
+1 angular would like to demo closure-compiler with our new offline compilation but "version": "20160315.2.0" is not good enough :(

[2016-05-10 01:35] Dominator008 commented on #306
Looks like this has been fixed. The following code does not give any error / warning:
[code]

[2016-05-10 01:35] #306 closed

[2016-05-10 16:21] brad4d opened #1785 "Provide refasterJS-style DSL to allow quick definition of custom compiler passes"
I got this idea from a suggestion that we add a check for, probably accidental, calls to x.prototype.foo()
instead of x.prototype.foo.apply() (or call()).

It's a good idea, but probably not worth spending closure-compiler eng time on. It would be great if people could quickly write their own errors and warnings like this one by using a DSL like the one used by refasterJS, just a bit of JS templat

[2016-05-10 16:23] MatrixFrog commented on #1785
cc @mknichel who created RefasterJS

[2016-05-10 16:42] dimvar commented on #1770
This would be fine if these tools were meant to always be used together. But in reality, they are separate tools and have been operating independently. It makes less sense to synchronize the versions if the actual coding efforts are not coordinated.

The compiler team does not own stylesheets, and there is no plan to start owning it, so we shouldn't be the ones doing their external releases.

So,

[2016-05-10 16:44] MatrixFrog commented on #1770
Yup. Apologies for this release taking a while. We hope to have it out soon.

[2016-05-10 16:44] #1770 closed

[2016-05-10 16:51] hochhaus commented on #1770
@dimvar Fair enough. Thanks!

[2016-05-10 21:30] SLaks opened #1786 "assert() type narrowing doesn't work with destructured import"
I can't figure out how to make `goog.module()` syntax work on jscomp-debug, so no demo for you.

Source:

[code]

Result:

[code]

Calling `assert` doesn't apply the return type; calling `asserts.assert()` does.

[2016-05-10 21:48] dimvar commented on #1786
I'm gonna guess this is a bug in the InlineAliases pass. Here is a repro. I also define a type and import it using destructuring and it is not recognized.

https://closure-compiler-debugger.appspot.com/home#input0%3Dgoog.provide('goog.asserts')%253B%250A%250Agoog.asserts.assert%2520%253D%2520function(x)%2520%257B%257D%253B%250A%250A%252F**%2520%2540constructor%2520*%252F%250Agoog.asserts.MyFoo%252

[2016-05-11 04:26] mknichel commented on #1785
Hi @brad4d ,

You can use RefasterJS syntax with the Closure Compiler conformance framework (https://github.com/google/closure-compiler/wiki/JS-Conformance-Framework - BANNED_CODE_PATTERN).

Have you seen this before? Are you asking for something that's not possible with that?

[2016-05-11 19:24] #914 closed

[2016-05-12 03:40] shicks opened #1789 "Transpile /u and /y regex flags, or else explicitly warn if untranspilable"
We currently warn if parsing /u or /y and language_in is not ES6, but we don't warn about the fact that they aren't currently transpiled at all.

[2016-05-12 16:13] brad4d commented on #1785
That's a very good point, @mknichel. I'm not very familiar with the
conformance framework, which is why I forgot about it here.
I know it can prevent compilation of banned code patterns.
Can it also just warn?
Can it modify the AST also?

Thanks,
Bradford

On Tue, May 10, 2016 at 9:26 PM mknichel <notifications@github.com> wrote:

[2016-05-12 16:43] chrismiddleton opened #1791 "Type mismatch when passing in function that takes generic parameter more broad than required"
The basic problem is that the compiler is treating `function(Foo<T?>)` as a type mismatch with `function(Foo<T>)`. I believe that this case should be allowed and not throw a mismatch (more on why below).

[code]

If I was passing in `Result<string?>` to a function that accepted only `Result<string>`, then it makes since that the compiler would complain. However, if I'm passing in a *function* that

[2016-05-12 16:50] chrismiddleton commented on #1791
My workaround is to change

[code]

to

[code]

This isn't that much of a pain as long as the function name isn't too long, but can be very tedious if instead of `string?`, you have something like `(Foo|Bar|Baz)!`, or if the class name is longer than `Result` or you have nested generics.

Perhaps the above transformation could be done in the compiler? What do you think about the equivalence of the

[2016-05-12 16:52] ChadKillingsworth commented on #1791
Make sure you have read http://closuretools.blogspot.com/2012/06/subtyping-functions-without-poking-your.html - because I believe this is related.

[2016-05-12 16:55] chrismiddleton commented on #1791
Thanks for the link, Chad. I think I'm using it correctly, right? A function taking a string or null is a function taking a string? Even though string is normally a subtype of string or null?

[2016-05-12 16:58] chrismiddleton commented on #1791
Thanks for the link, Chad. I skimmed the beginning (will read the whole thing when I can). If I understand correctly...

[code]

so it should work?

[2016-05-12 17:13] dimvar commented on #1791
Generics are invariant in the old type checker, so Result<string> is not a subtype of Result<string|null>.

They are covariant in the new type inference, so you can check that out:
https://github.com/google/closure-compiler/wiki/Using-NTI-(new-type-inference)

Closing this since we won't be changing the semantics in the old type checker.

[2016-05-12 17:13] #1791 closed

[2016-05-12 23:58] #1262 closed

[2016-05-13 04:29] mknichel commented on #1785
I don't think you can cause one particular conformance rule to warn while the rest error, but I think you can cause all conformance violations to warn by setting the level for JSC_CONFORMANCE_VIOLATION..

Right now there's no support for transforming code in the compiler with the RefasterJS syntax. It's something that we have discussed before, but so far we've never come up with a use case to impl

[2016-05-13 13:20] jGleitz opened #1793 "How to reference not-imported types from ES6 modules?"
I have something like the following:

Foo.js:
[code]

Bar.js:
[code]

Note that `Bar.js` uses an instance of the class from `Foo.js` but does not need to import `Foo.js`. What is the correct way to declare that `Bar`’s constructor takes a `Foo` in that situation? In the old namespace system, I was able to reference `Foo` by its full namespace, without having to `goog.require('namespace.Foo');`. Th

[2016-05-13 13:32] ChadKillingsworth commented on #1793
This is something best asked on stackoverflow or the Google group. In fact, it's already been answered there: https://groups.google.com/d/msg/closure-compiler-discuss/nW5nbGcerJw/RECwK40cBAAJ

[2016-05-13 13:32] #1793 closed

[2016-05-13 16:05] brad4d commented on #1785
So to sum-up the current state of things:

- The JS conformance framework will allow users to forbid or give warnings for code patterns they define, but it isn't fine-grained enough now to treat some patterns as errors and others as warnings.
- RefasterJS can be used for code transformations, but the compiler doesn't support incorporating such transformations into a compiler pass.

So, suppose I'm

[2016-05-13 16:05] #1785 closed

[2016-05-14 03:30] concavelenz commented on #1785
There was some discussion and proposal to create conformance rule "level"  (lint, warning, error) but I haven't implemented it.

[2016-05-14 07:09] michaelcheers opened #1794 "Code compiled badly."
![](https://cloud.githubusercontent.com/assets/10186738/15266915/3cc4f220-19b3-11e6-9963-a21d3fd3e0a3.png)
This a screenshot of my screen, it says: -2759.87% off of the g-zipped size, that is impossible.

[2016-05-14 12:45] Dominator008 commented on #1794
Most of the output is the injected `es6_runtime.js`, a small library to polyfill some ES6 features:
https://github.com/google/closure-compiler/blob/34d6980c5f6efb846bfafb665526d7d7619dc83e/src/com/google/javascript/jscomp/js/es6_runtime.js
We should improve the webservice to make this injection optional, and fix the negative size difference.

[2016-05-14 13:26] tdelmas opened #1795 "absence of @return tag : documentation differ from compiler behaviour"
The documentation ( https://developers.google.com/closure/compiler/docs/js-for-compiler#tag-return ) says :

But the Compiler treats unannotated extern functions as returning ?, not undefined:
http://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520%252F**%2520number%2520*%252F%2520a%2520%253D%2520f()%253B%26input1%26conformanceConfig%26externs%3Dfunction%2520f()%2520%257B%257D%26refasterjs

[2016-05-14 18:08] chrismiddleton commented on #1146
I'm not sure if this is the same issue, but I noticed in my own program that a possibly null return value was not generating an error when used as a non-null value. Here is a simple program which shows the problem:

[code]

https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%25

[2016-05-14 18:12] mknichel commented on #1785
We're still discussing how to classify conformance errors (security, lint, performance, etc.) - we may propose something to you in the upcoming months.

[2016-05-14 18:21] chrismiddleton commented on #1146
To add to the weirdness, when you compile the above with ADVANCED_OPTIMIZATIONS on, but change the name "clone" to something that can be minified, like "clome", it compiles to simply `alert("WOOF!")`, which actually changes the behavior of the program (by removing the Math.random portion). Presumably the same bug causing it to think that getBar() returns a !Bar instead of a ?Bar makes it think it

[2016-05-14 22:59] brad4d commented on #1146
@chrismiddleton, it is the same issue.
Here's an example in the debugger of the option turned on to detect the problem.
https://goo.gl/lYLViT

The second behavior is actually as expected.
Since the nullability check is turned off the compiler assumes there must actually be a Bar object on which to call bark(). From there the compiler can tell that the end result is just to call alert() and is able

[2016-05-15 02:22] chrismiddleton commented on #1146
Perhaps it is as expected given the current logic, but I don't see how it's expected from a user point of view. My assumption has generally been "turning off warnings disables the warning", not "turning on a warning prevents the code's behavior from being changed". I would think that if nullability checks are off, it shouldn't be making an assumption that something is non-null. If it's not checkin

[2016-05-15 03:24] tanvirjoy opened #1796 "joy closed"

[2016-05-15 03:24] tanvirjoy commented on #1796
d bye..

[2016-05-15 03:24] tanvirjoy commented on #1796
d bye..

[2016-05-15 03:24] #1796 closed

[2016-05-15 17:57] Dominator008 commented on #1290
@ajpaon The compiler already optimizes this. Using `SIMPLE_OPTIMIZATIONS`:
[code]
becomes
[code]
and
[code]
becomes
[code]
It might be good to have a lint check for this though.

[2016-05-16 06:02] supersteves opened #1797 "WHITESPACE_ONLY fails at runtime with goog.modules that export undefined typedefs"
I've got a typedef that I define as a module and export so I can use it in several places:
[code]

I don't want it in externs, because I don't need its naming to be preserved at runtime.

In WHITESPACE_ONLY, "Cannot read property '__$179591873$4$__' of undefined" at:
[code]
because base.js is trying to do this when exports is ```undefined```:
[code]

Is this a bug, or am I doing something nonsensi

[2016-05-16 09:25] junjiemars commented on #1704
@darwin, Hi,
I got the same issue when ClojureScript -> JavaScript in Chrome Extension, How about UTF-8 js output now?

[2016-05-16 09:32] darwin commented on #1704
@junjiemars: for a workaround set `:closure-output-charset "US-ASCII"` in your ClojureScript compiler options, or downgrade ClojureScript compiler to a version not including [this commit](https://github.com/clojure/clojurescript/commit/404d6444cb6419658a7dacb343a5fed5b9451e0c).

[1] https://github.com/binaryage/dirac/blob/a9f5d1c842ff43934b4fc5ed665d3fcd903a655c/project.clj#L191

[2016-05-16 09:43] junjiemars commented on #1704
Thanks @darwin ,
:closure-output-charset "US-ASCII" fix the issue.

[2016-05-16 17:30] MatrixFrog commented on #1795
If I remember correctly there is a difference here between functions in externs and functions in regular code.

[2016-05-16 19:05] tdelmas commented on #1795
I'm not sure :
https://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520%252F**%2520number%2520*%252F%2520a%2520%253D%2520f()%253B%250A%250A%252F**%2520%2540return%2520%257Bundefined%257D%2520*%252F%2520function%2520f2()%2520%257B%2520return%2520f()%253B%2520%257D%250A%250Afunction%2520f3()%2520%257B%2520return%2520f()%253B%2520%257D%250A%250Avar%2520%252F**%2520number%2520*%252F%2520b%2520

[2016-05-16 20:47] dimvar commented on #1146
I looked into this and I don't think it's purely a documentation issue. It would be good to address the bug that changes the semantics of the code. Here is the example, slightly simplified, that also has the bug in advanced mode.

    /** @constructor */
    function Bar () {}

    Bar.prototype.bark = function () {
      alert("WOOF!");
    };

    /** @constructor */
    function Foo () {

[2016-05-16 20:48] dimvar commented on #1146
I compiled the code with advanced mode and the flags: --print_source_after_each_pass, --pretty_print,
--generate_pseudo_names.

[2016-05-16 21:11] #854 closed

[2016-05-17 01:00] chrismiddleton commented on #1146
@dimvar Thanks for taking a look into this so quickly. Also cool to see some of the debugging.

[2016-05-19 07:41] zombiecong opened #1799 "destructure object set default value"
destructure object set default value ?

I set 'language_in' : 'ECMASCRIPT6' and  'language_out': 'ECMASCRIPT5' . And I want to set default value of  video is true. But it did not work,while I run the code in latest Chrome, the code before compile like
[code]

[2016-05-19 07:55] #1799 closed

[2016-05-19 11:14] jochenberger commented on #1485
Reopen please, v20160517 is not available.

[2016-05-19 11:46] ChadKillingsworth commented on #1795
The difference is that inference runs on source but not externs.  An externs function without annotation is assumed to take any number of arguments of any type and return any type. This does not occur in source.

The other quirk is that a partially annotated function is treated differently than a fully annotated one. Though I don't recall the exact difference.

[2016-05-19 12:56] supersteves opened #1801 "Cannot access property name of non-object type truthy (NTI)"
Strange error, can't see what's wrong with my code:

[code]
[code]
https://closure-compiler-debugger.appspot.com/#input0%3Dfunction%2520f(v)%2520%257B%250A%2520%2520if%2520(v%2520%2526%2526%2520v.constructor)%2520return%2520v.constructor.name%253B%250A%2520%2520else%2520return%2520null%253B%250A%257D%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_S

[2016-05-19 16:18] dimvar commented on #1795
I updated the documentation of the `@return` tag to clarify.
https://developers.google.com/closure/compiler/docs/js-for-compiler#tag-return

[2016-05-19 16:18] #1795 closed

[2016-05-19 18:42] theorphan commented on #1736
Has there been any movement on this subject?  I've been looking for a way to do exactly this, without much success.

[2016-05-19 18:52] MatrixFrog commented on #1736
This is possible already. See https://github.com/google/closure-compiler/blob/master/test/com/google/javascript/jscomp/runtime_tests/module_tests/module_test_resources/referenceOtherModule.js

Needs to be documented better.

[2016-05-19 19:05] Dominator008 commented on #1736
@MatrixFrog It's nice that we have the runtime tests open sourced.

[2016-05-19 19:40] MatrixFrog commented on #1736
Yup. We don't have an easy way for non-Googlers to run them though :(

[2016-05-19 19:46] Dominator008 commented on #1736
@MatrixFrog Eventually we should switch the external build system to Bazel and use https://github.com/bazelbuild/rules_closure for them.

[2016-05-19 20:50] theorphan commented on #1736
I'm sure I'm overlooking something simple, but is there a way to do this without requiring a parameter to be passed from one function to another?  For example, if I were to deliberately setup circular factories:

[code]
... and ...
[code]

I could import Left into Right, or vice-versa, but I can't import them both into each other.  If they were defined in the same file, then variable hoisting woul

[2016-05-19 20:51] dimvar commented on #1736
To clarify, this bug covers the case when the module in question is included in the compilation unit, but we don't want to explicitly import it in our module.

There is another use case for type-only imports which we currently don't support, but we'd like to. One should be able to import some module only for types, and be sure that the code of that module won't be included in the output, even if i

[2016-05-19 21:02] theorphan commented on #1736
Ah, ok.  Your second paragraph was what I was hoping to do.  Thank you all for your time!

[2016-05-20 09:36] jochenberger commented on #1485
I still think that the Maven release should be made part of the release process, be it by automation or some kind of release checklist item.

[2016-05-20 12:15] supersteves commented on #1776
Just updated to compiler tip after running into this again (still an issue). It seems that all static functions in an ES6 class within an ES6 module, are being collapsed+renamed inconsistently where accessed outside of the module. If anyone can suggest how to create a live test case for this, I'll set one up - can't see how to recreate a multi- ES6 modules scenario in the debugger or service.

[2016-05-20 12:48] danmaas commented on #1472
As of the 20160517 compiler release, for using CommonJS module from a Google module it now seems possible to just use:
const A = require('path/to/A');

[2016-05-20 22:07] Dominator008 opened #1803 "Confusing warning when assigning the return value of Object.create to prototype of constructor function"
Input:

[code]

Warning under NTI:

[code]

http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520A%2520constructor%2520function%2520that%2520will%2520create%2520blank%2520objects.%250A%2520*%2520%2540constructor%250A%2520*%252F%250Afunction%2520Blank()%2520%257B%257D%250A%250ABlank.prototype%2520%253D%2520Object.create(null)%253B%250A%26input1%26conformanceConfig%26externs

[2016-05-20 23:33] Dominator008 commented on #1801
Fixed by https://github.com/google/closure-compiler/commit/0d8b50e8d2381abcc1def78379c37afdb18c6d14

[2016-05-20 23:33] #1801 closed

[2016-05-20 23:43] Dominator008 commented on #1803
Seems like 5de25a25dd75821063d24e4de43562081ef20723 made the error message less verbose, but more confusing :)
Before, it was like:
[code]

[2016-05-21 05:14] supersteves commented on #1801
Nice. Thanks.

[2016-05-21 05:27] supersteves opened #1804 "Ability to define loose types (NTI)"
I want to be able to define some React props and validate them in the compiler. Some or all of the props are optional. I want the compiler to check them, permit missing props, but complain if unrecognised props are present.

Here the [compiler fails](https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520%2540typedef%2520%257B%257B%250A%2520*%2520%2520%2520color%253A%2520st

[2016-05-21 08:30] supersteves commented on #1778
Today I get a different error:
[code]

Same workaround - ```goog.module.declareLegacyNamespace();```

Is this is indeed a bug or simply a limitation of ES6/goog module interop?

[2016-05-21 10:48] supersteves opened #1805 "Unexpected conformance violation hit for BanUnknownTypedClassPropsReferences"
Compiling this with conformance violations enabled:
[code]
results in:
[code]

I think this is triggered by putting a this.* reference within an object literal, but am not sure.

[See debugger](https://closure-compiler-debugger.appspot.com/#input0%3Dfunction%2520x(o)%2520%257B%257D%250A%250Aclass%2520A%2520%257B%250A%2520%2520constructor()%2520%257B%250A%2520%2520%2520%2520this.elem%2520%253D%2520

[2016-05-21 11:32] supersteves opened #1806 "Need DiagnosticGroups clarification for all OTI and NTI diagnostic types"
I'm building a large codebase with NTI enabled but with OTI errors also emitted. I'm enabling one or the other via a warnings guard, for different sections of the codebase, in a single compilation run.

I need to identify all diagnostic types which apply exclusively to each approach.

These appear to be the NTI ones (although (e.g.) GlobalTypeInfo appears to be created whether or not NTI is enable

[2016-05-21 13:34] ChadKillingsworth commented on #1735
Documentation updated

[2016-05-21 13:34] #1735 closed

[2016-05-21 13:35] ChadKillingsworth commented on #1697
I believe this is working as documented/intended.

[2016-05-21 13:35] #1697 closed

[2016-05-21 13:37] ChadKillingsworth commented on #1108
Based on the discussion, I'm not sure we are going to change the existing behavior.

[2016-05-21 13:37] #1108 closed

[2016-05-21 17:45] ChadKillingsworth commented on #1472
Module import statements can now be intermixed.

[2016-05-21 17:45] #1472 closed

[2016-05-21 17:52] supersteves commented on #1472
@ChadKillingsworth I'll try the ```const A = require('path/to/A');``` approach within a goog.module.  However will this work if I'm importing an ES6 module? And do I need to turn on CJS module processing to enable this at all?

[2016-05-21 19:33] ChadKillingsworth commented on #1472
You do need to turn on commonjs module processing. For ES6 modules, it's just `import Foo from 'path/to/A'` or `const Foo = require('path/to/A').Foo;`

[2016-05-22 07:27] supersteves commented on #1472
Thanks. I see the wiki page has changed greatly. I'll try it. Could do with clarification on the effect of the CJS flag, presumably it specifically enables processing of require() and module.exports? Also whether you can mix "import ..." into a goog.module?

[2016-05-23 13:07] jochenberger opened #1810 "Maven release for new version missing"
Same as #1485

[2016-05-23 13:21] ChadKillingsworth commented on #1810
There is a checklist. Persons responsible for distributing releases get an early warning of pending release and each has their own process for releasing.

Please refrain from posting new issues related to this. Different contributors volunteer their time to release the compiler to different repositories. We recognize that this causes delays between releases hitting different mirrors. I myself spen

[2016-05-23 13:21] #1810 closed

[2016-05-23 16:15] dimvar commented on #1804
To have optional properties, the syntax is `|undefined`, like you did. This is supported well in NTI, and is buggy in the old type checker.

Records are checked structurally, meaning that the subtype can have extra properties without warning. The way to forbid extra properties for normal classes is with `@struct`. You can technically define a `@record` as `@struct`, but I would stay away from that

[2016-05-23 16:15] #1804 closed

[2016-05-23 16:16] dimvar commented on #1804
The loose types you see in the error messages cannot be defined with annotations. They usually get created when inference of object or function types in taking place. We probably need to improve the error messages around those to avoid confusion.

[2016-05-23 16:32] dimvar commented on #1806
newCheckTypes is the diagnostic group for warnings from all NTI-related passes.
https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/DiagnosticGroups.java#L233

PS: the github issue tracker is for bugs/feature requests. For questions, please use:
https://groups.google.com/forum/#!forum/closure-compiler-discuss

[2016-05-23 16:32] #1806 closed

[2016-05-23 16:34] dimvar commented on #1805
In the object literal passed to `x`, the reference to `this` is not typed, so AFAICT this is working as expected.

[2016-05-23 16:34] #1805 closed

[2016-05-23 16:37] dimvar commented on #1803
This is probably just an example of NTI not handling `Object.create` well.

[2016-05-23 17:24] supersteves commented on #1804
@dimvar Thanks. I'll move this into a discussion as I can see why it's not a bug now.

[2016-05-23 17:26] supersteves commented on #1805
@dimvar What's strange is it works at runtime after compilation. So why is this. confused within {} but OK at runtime in Chrome?

[2016-05-23 17:27] supersteves commented on #1806
I missed that - thanks. Will do.

[2016-05-23 17:31] supersteves commented on #1804
Although in reply to your comment about ```@record``` and ```@struct```; I tried using a class to define the props but it won't work because ```{ color, size }``` is not the same as MyType:
[code]
[code]
So clearly I do need the ability to define ```@record```+```@struct``` - or some other way to define the shape of an object without permitting new properties. Should I file this as a feature reque

[2016-05-23 18:06] dimvar commented on #1804
Right, it won't work because classes are checked nominally, not structurally.

Feel free to file a feature request about this. Just FYI, it's not a high priority in the short-term though.

[2016-05-23 18:10] dimvar commented on #1805
The compiler's unknown-this warning is conservative. There are definitely cases where it warns and everything is fine at runtime.

[2016-05-23 19:33] supersteves opened #1811 "Ability to define restricted record types"
I'd like to be able to define a record type such as

[code]

Currently this is somewhat meaningless because it will match against any object since it will allow unknown properties. So, while I want it to match against any of these:

[code]

... I don't want it to match these, which it does currently:

[code]

(Background: this is for use defining React props, to allow templated externs for React t

[2016-05-23 19:33] supersteves commented on #1804
Understood. I've filed it anyway, should anyone else chime in.

[2016-05-23 20:01] blickly commented on #1805
Hmm, I don't think this has to do with the this, which seems like it gets inferred correctly. I think it's just that it's getting assigned the parameter elem, which is of type unknown.

e.g. With an annotation:
https://closure-compiler-debugger.appspot.com/#input0%3Dfunction%2520x(o)%2520%257B%257D%250A%250Aclass%2520A%2520%257B%250A%2520%2520constructor()%2520%257B%250A%2520%2520%2520%2520this.el

[2016-05-23 20:17] dimvar commented on #1805
@blickly Oh yes, you're right, it's because `elem` is unknown.

@supersteves The error message is confusing, but the conformance check is working as intended, so not much to do here.

[2016-05-23 21:19] supersteves commented on #1805
Got it. Thanks!

[2016-05-24 05:29] supersteves opened #1812 "$jscomp undefined when using skipNonTranspilationPasses (missing es6_runtime)"
With classes (this is a part- ES6 module example, but it makes no difference):

[code]
When compiling normally this works as expected, injecting the ES6 runtime and defining ```$jscomp``` correctly. [Debugger](https://closure-compiler-debugger.appspot.com/#input0%3Dgoog.module(%2522A%2522)%253B%250Agoog.module.declareLegacyNamespace()%253B%2520%252F%252F%2520%25231778%250A%250Aclass%2520A%2520%257

[2016-05-24 08:20] supersteves commented on #1812
Note, I have found an acceptable workaround - simply disabling checks individually rather than using skipNonTranspilationPasses - but this is probably going to be a problem for other people.

[2016-05-24 08:52] supersteves opened #1813 "Ability to disable more passes (inline aliases) for fastest possible compilation"
I've been trying to create a streamlined mode for Closure Compiler which does the bare minimum to get the code bundled and runnable in an up to date Chrome browser, for rapid in-browser debugging and development cycles.

(Because I'm using ES6 modules now, I can't use WHITESPACE_ONLY or ClosureBundler.)

This will allow my developers to choose between

1. fastest (no checks) = 4 seconds
2. medium

[2016-05-24 12:35] ChadKillingsworth commented on #1813
This would be a short-term stopgap solution only and I don't think it's worth the time. https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/uba6pMr-jec/tXdg6YYPBAAJ

You have the option to use a different module format that does not require transpilation. Both CommonJS and goog.module supoort uncompiled mode in the browser.

[2016-05-24 12:35] #1813 closed

[2016-05-24 15:43] dimvar commented on #1813
FYI, both of your requests will be worked on at some point. InlineAliases has some other issues that make it incompatible with incremental compiles, so we're looking into an alternative, and hopefully delete the pass altogether at some point. Emitting ES6 for the features that are supported natively in browsers is also something we want to do. So, not saying any hard timelines, but you'll eventual

[2016-05-24 16:34] supersteves commented on #1813
Thanks.

[2016-05-24 16:36] tomByrer commented on #1794
If you do, please warn if a support library could be needed.  (In case compiling code one isn't familar with.)

[2016-05-24 17:44] jart opened #1814 "Compiler thinks nested function parameter is undefined in ECMASCRIPT6_TYPED mode"
I'm using `v20160315` and I'm noticing the following error when I compile Closure Library code in `ADVANCED` `ECMASCRIPT6_TYPED` mode:

[code]

The params I'm using are:

[code]

The code in question is:

[code]

[2016-05-24 18:07] MatrixFrog commented on #1814
We're not really supporting ES6_TYPED nowadays except for parsing `.d.ts` files. I assume the error goes away if you go to `ES6_STRICT` mode instead?

[2016-05-24 18:33] jart commented on #1814
Yes I talked to the guy (forget his name) who was working on ES6_TYPED and he told me the same thing. But I still had some leftover typed unit tests in Closure Rules (now deleted) which caused me to run into this bug. I wasn't sure if it was worth reporting this, since it makes no difference to me whether or not it's fixed. But I figured I'd do the right thing. Feel free to disregard. (Although I

[2016-05-24 18:56] Dominator008 commented on #1814
@jart I doubt this is an `ES6_TYPED` specific issue. Does the errors really go away with `ES6_STRICT`?

[2016-05-24 18:56] MatrixFrog commented on #1814
Closure Compiler is designed for people who are writing JavaScript, not for people writing something similar to JavaScript, such as Dart/CoffeScript/TypeScript/etc. There's a lot of discussion going on about the future of JS and TypeScript-style type annotations are of course part of that. But this is more a topic for the discussion list than for the issue tracker.

[2016-05-24 19:06] Dominator008 commented on #1814
Reopening as this doesn't really use any TypeScript syntax. It's bad if people get wrong errors just by using a different language mode.

[2016-05-24 19:22] jart commented on #1814
Also @MatrixFrog I forgot to mention: Yes, I confirmed the error *only* happens when `--language_in=ECMASCRIPT6_TYPED`.

@Dominator008 Out of respect for @MatrixFrog, I'm going to re-close this issue and encourage you to start a thread on [closure-compiler-discuss](https://groups.google.com/forum/#!forum/closure-compiler-discuss). If you start a thread there, I have a few things on my mind I'll ha

[2016-05-24 19:32] MatrixFrog commented on #1814
I don't really care much if it's open or closed, as long as it's clear that we're unlikely to fix it in the forseeable future.

[2016-05-24 19:32] ChadKillingsworth commented on #1814
@jart Just an FYI - Dominator008 is a closure-compiler core contributor with commit access.

[2016-05-24 20:11] jart commented on #1814
Oh wow. I had no idea.

/me blushes and reopens issue.

[2016-05-24 21:12] ChadKillingsworth commented on #1814
Yeah - we no longer get badges on our comments. You just have to "know".

[2016-05-25 16:38] hochhaus opened #1815 "WhitespaceWrapGoogModules is incompatible with goog.ENABLE_DEBUG_LOADER=false"
The [WhitespaceWrapGoogModule](https://github.com/google/closure-compiler/commit/5afe95683b3ed020f7dfed772b7f2eacd332c9fe#diff-aa11261c60c6153a08ba78365124971dR48) pass generates code which assumes that goog.loadModule() is defined. However, in [base.js](https://github.com/google/closure-library/blob/master/closure/goog/base.js#L800) goog.loadModule() is not defined when goog.ENABLE_DEBUG_LOADER i

[2016-05-25 22:27] MatrixFrog commented on #1815
Why do you want that particular combination? The debug loader is only needed if you're not using the compiler at all, if I remember correctly.

[2016-05-25 22:58] hochhaus commented on #1815
My limited understanding is that in WHITESPACE_ONLY mode all of the required namespaces should already be concatenated into a single file and should not need to be dynamically loaded off network/disk. The desired behavior for our use case is (a) not dynamically loading JS sources and (b) not writing out deps.js. Therefore we [set](https://github.com/bazelbuild/rules_closure/blob/master/closure/tes

[2016-05-25 23:58] jart commented on #1815
What is whitespacewrapgoogmodules?
On May 25, 2016 6:58 PM, "hochhaus" <notifications@github.com> wrote:

[2016-05-26 01:13] hochhaus commented on #1815
My limited understanding is that [WhitespaceWrapGoogModules](https://github.com/google/closure-compiler/commit/5afe95683b3ed020f7dfed772b7f2eacd332c9fe) is a new pass first included in the v20160517 release of the compiler. The commit message summarizes it:

[code]

In a nutshell, it wraps `goog.module()` files in calls to `goog.loadModule(...)` when compiling in WHITESPACE_ONLY mode:

[code]

[2016-05-26 11:31] bitbay opened #1816 "ERROR - variable goog is undeclared"
Trying to compile
[code]

with the following command
[code]

but getting the following output:
[code]

Console output made me _report this problem_...

[2016-05-26 11:34] bitbay commented on #880
could this be related to #1816 ?

[2016-05-26 13:49] jochenberger opened #1817 "Minification fails if file name contains `<`, `[`, `]`, or `>` chars"
[code]

[2016-05-26 15:43] MatrixFrog commented on #1816
--generate_exports tells the compiler to output calls to goog.exportSymbol() when you use the `@export` annotation in your code. If you want to use that then you need the Closure Library (or at least base.js)

We should make this fail fast though instead of crashing.

[2016-05-26 17:48] MatrixFrog commented on #1815
It looks like goog.loadModule should be defined if COMPILED=true. Maybe we're failing to set COMPILED to true in whitespace only mode. On the other hand, for some uses of the COMPILED var, you could argue that's the correct behavior: For most code, whitespace-only mode is hardly "compiled"

So, I think we'll probably want to try setting COMPILED=true and see if that breaks anything.

[2016-05-26 20:04] hochhaus commented on #1815
Is that true?

[code]

To me it looks like `loadModule()` is only defined when the code is _not_ compiled _and_ `ENABLE_DEBUG_LOADER` is true. When `COMPILED` is true `loadModule()` will _not_ be defined.

What am I missing?

[2016-05-26 20:57] MatrixFrog commented on #1815
Okay maybe I got it backwards again, sorry. Sometimes `!`s really confuse me to be honest.

Anyway, it's probably safe to move goog.loadModule out of that `if` and guard it by a different condition. But that would be an issue for closure-library (and you probably want to cc @concavelenz on it)

[2016-05-26 21:02] hochhaus commented on #1815
Thanks for your help @MatrixFrog! No worries about flipping the condition.

I'll open the bug with closure-library shortly.

[2016-05-26 21:02] #1815 closed

[2016-05-26 23:34] jart opened #1819 "ES6 imports get rewritten out of order"
For example, if I write this:

[code]

Closure compiler generates the following synthetic code:

[code]

Which causes this to happen:

[code]

This problem can not be fixed by changing the import order in my code. No matter what order I put my imports in, the error will still happen, because `concat(dependencyInfo.getRequires(), extraRequires)` in `CompilerInput#getDependencyInfo()`.

[2016-05-27 00:07] Dominator008 commented on #1817
Closed by https://github.com/google/closure-compiler/commit/747aa4dfc5fb8c7a10dcaf96abb122cc72825fdb (#1818).

[2016-05-27 00:07] #1817 closed

[2016-05-27 00:08] Dominator008 commented on #1816
Duplicate of https://github.com/google/closure-compiler/issues/1393.

[2016-05-27 00:08] #1816 closed

[2016-05-27 01:04] MatrixFrog commented on #1819
@Dominator008 any chance you want to take this? It sounds like we might just be updating an 'insertionPoint' var incorrectly, or we need to switch an `insertBefore` to `insertAfter` somewhere.

[2016-05-27 01:38] Dominator008 commented on #1819
@MatrixFrog Done :)

[2016-05-27 10:09] pstjvn commented on #1492
I think I have the same problem, but disabling accessControl might lead to other issue, is there another workaround?

[2016-05-27 13:37] kseamon opened #1821 "@export does not work on goog.defineClass statics"
The annotated method is still removed during tree shaking.

Ping me internally (kkseamon@) for an example CL.

[2016-05-27 15:00] MatrixFrog commented on #1821
Sent a chat, but is it possible you just left off the `--generate_exports` flag? That does happen occasionally.

[2016-05-27 15:13] kseamon commented on #1821
Exports are enabled and working properly for regular (non-static) class members. I'll send the example CL internally in a few mins.

[2016-05-27 16:36] supersteves commented on #1607
I ran into a similar issue. In your case, Plovr must be starting and killing multiple compilation jobs (different Compiler instances), possibly sequentially.

Perhaps Plovr is interrupting the thread. That's what I'm trying. But Closure Compiler doesn't have a mechanism to cancel an ongoing compilation - it merely forgets the thread is running when interrupted. See CompilerExecutor.

I'm experimen

[2016-05-27 18:42] #1819 closed

[2016-05-27 20:25] supersteves opened #1822 "Short term memory leak from static ObjectType.builtinObject"
After compiling my codebase, 130mb of memory is occupied by the AST nodes reachable from ObjectType.builtinObject -> rawType -> namespaces -> ....

buildinObject is a static member that is assigned with Compiler instance-related data during compilation.

I run the compiler many times within the same JVM process, but it's not really a problem for me since the next run of the compiler presumably rep

[2016-05-27 21:49] dimvar commented on #1822
It is indeed unsafe, but it wasn't unintentional. We took a shortcut.
https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/newtypes/ObjectType.java#L74

Leaving the issue open because it'd be good to go back at some point and replace the static fields with instance fields.

[2016-05-30 05:18] supersteves commented on #1822
Presumably this means it is unsafe to run concurrent compilations in the same JVM?

[2016-05-30 21:10] jart opened #1824 "Making Closure Compiler faster"
I'm noticing with Closure Rules that the compiler takes eight seconds to compile a program with a single function. Four seconds if `--env=CUSTOM`. Is there a way to make it go faster?

Bazel has a [java workers](http://www.bazel.io/blog/2015/12/10/java-workers.html) feature prevents lots of JVMs from needing to be spawned for every single operation. It uses a protobuf communication channel. If I p

[2016-05-30 21:11] jart commented on #1824
Actually I'm going to move this to the mailing list, which I just realized is a better venue. Please disregard.

[2016-05-30 21:11] #1824 closed

[2016-05-31 19:44] dimvar commented on #1822
Yes. It will happen to work if they are all using the same externs for core objects (which should be true in most cases). But we will make it actually safe at some point.

[2016-05-31 21:03] supersteves commented on #1822
OK - presumably it's just the NTI pass that is affected, so using the compiler for anything else (e.g. parsing) is unaffected? I'm using reflection to erase these fields (non-concurrently with compilation) as part of a test for memory leaks in our wider build process' test suite.

[2016-05-31 21:06] dimvar commented on #1822
yes, this is NTI specific

[2016-06-01 00:15] concavelenz commented on #1607
I think to interrupt, you may just be able to report an error to the compiler, then the compiler will stop before the next pass starts unless you are running in "ide mode":
https://github.com/google/closure-compiler/blob/8a468ed4abb4ececc5f24928aac2f8c354fea54e/src/com/google/javascript/jscomp/PhaseOptimizer.java#L218

[2016-06-01 04:49] supersteves commented on #1607
Thanks. I need something more prompt, so I extended Compiler, overrode a bunch of public/protected methods, threw a RuntimeException and caught it higher up. Works well, but there'll be some fallout when I next update the compiler version probably. I think a PR for an API to interrupt compilation is probably to specific to my own uses, so unless you say otherwise I'll leave it at that.

Also see h

[2016-06-01 23:41] #1383 closed

[2016-06-02 17:20] sdgluck opened #1825 "Unnamed class expression as default export is not recognised as a type"
When an unnamed class expression is exported as the default export of a module, and then imported under an arbitrary name (as default exports are), Closure Compiler complains that it does not recognise the name of the class as a type.

This happens at least when the imported class is extended. Please see [this SO question](https://stackoverflow.com/q/37577183/2039244) and [answer](https://stackove

[2016-06-02 17:30] ChadKillingsworth commented on #1825
I've hit this too but never reported it. I'm guessing the name should default to the module name?

[2016-06-02 23:06] brad4d opened #1826 "Transpile uses of Promise to ES3 & ES5"
Adding transpilation support for ES Promise will allow anyone using closure compiler to use standardized ES Promises. No need to use goog.Promise or some other library's implementation. It will also us to also transpile the soon-to-be-standard async functions (issue #1391)

[2016-06-03 17:17] chrismiddleton opened #1827 "Ensuring all cases of an enum are handled"
(This is a feature request.)

Would it be possible to have the compiler type check uses of an enum to ensure that all cases are handled? For example, say that you have a switch statement like this:

    /**
     * @param {SomeEnum!} e
     * @return {number}
    **/
    function foo (e) {
        switch (e) {
            case SomeEnum.A: return 1;
            case SomeEnum.B: return 2;
        }

[2016-06-03 18:43] SLaks opened #1828 "void() operator results in unknown type"
The `BanUnknownTypedClassPropsReferences` conformance rule chokes on expressions inside `void()`.

[code]

The second line produces an error:

[code]

Strangely, the error still knows what the type is.

http://closure-compiler-debugger.appspot.com/#input0%3D%255B%255D.push(1)%253B%250Avoid(%255B%255D.push(1))%253B%26input1%26conformanceConfig%3Drequirement%253A%2520%257B%250A%2520%2520type%253A%25

[2016-06-03 18:55] SLaks commented on #1828
For better or for worse, `Promise.thenAlways()` is declared as taking `function(): void`.

I'm writing `somePromise.thenAlways(() => someFunction())`, and `someFunction` has a return value.
I need `void()` to avoid a compiler error.

[2016-06-03 18:57] MatrixFrog commented on #1828
I would recommend `somePromise.thenAlways(() => {someFunction();})`

[2016-06-03 18:59] SLaks commented on #1828
In my case, that's a bit annoying, becomes `someFunction`'s takes a multi-line object literal.

That forces me to add two extra lines:

[code]

[2016-06-03 19:04] MatrixFrog commented on #1828
Gotcha. Interesting. We could also consider changing the type of `thenAlways`. The `thenAlways` doesn't really care whether the function you pass to it returns undefined. It's just that if it does return something, `thenAlways` will ignore that return value.

[2016-06-03 19:13] SLaks commented on #1828
I suspect that `thenAlways` was declared that way to prevent people from returning a promise and expecting it to wait for that promise.

[2016-06-06 21:49] shicks commented on #379
What about starting with {[a, b]} as an alias for {!Array<a|b>}?  The latter is already the best we can do for many of these types, and then we can work on teaching NTI to deal with them better at some point later.

[2016-06-06 21:52] MatrixFrog commented on #379
I generally want to avoid allowing syntax in such a way that it implies we're doing some checking that we are not actually doing. If we're going to do that I'd like to at least emit a warning when the OTI runs, saying that this isn't actually being checked the way the user probably thinks it is.

[2016-06-06 21:55] dimvar commented on #379
Agree with Tyler. There is no rush to add the syntax until we're ready to add semantics as well. When we've added syntax early in the past it has led to issues, eg, all sorts of generic-type syntax was allowed before we supported generics, and was hard to migrate after we added generics.

[2016-06-07 01:02] cramforce opened #1830 "Invalid ES6 module rewrite"
I was just trying to upgrade our compiler to head (To test out https://github.com/google/closure-compiler/commit/96dbbf6820d1e9ae862cf91a83116c391ba08519) and ran into the following issue:

The compiler throws an error on the first global `let` it sees in the first module it compiles.

Error: `The nameNode for Var ModeDef$$module$src$mode must be a descendant of one of: [118, 162, 149, 105, 158, 1

[2016-06-07 01:06] cramforce commented on #1830
I, uh, recompiled (adding some debug info) and the problem went away.

Closing for now.

[2016-06-07 01:06] #1830 closed

[2016-06-07 15:34] cramforce opened #1831 "Cannot import/require module without exports"
There are NPM modules such as https://github.com/WebReflection/document-register-element/blob/master/build/document-register-element.max.js that only expose a polyfill and thus have no exports.

Currently it is not possible to import these using ES6 or CommonJS syntax, because both compiler passes do not emit an `goog.provide` if no export is available, which leads to an error at a later stage bec

[2016-06-07 15:40] ChadKillingsworth commented on #1831
Actually it should work at head - unless you are trying to do per-file transpilation. I submitted the changes to allow importing a module with no exports.

[2016-06-07 15:54] cramforce commented on #1831
I'm definitely at head. Patching files with a `export function deadCode() {}` fixed it.

[2016-06-07 16:15] MatrixFrog commented on #1831
I think @ChadKillingsworth is referring to https://github.com/google/closure-compiler/commit/96c8e74a08ca798ee69ec0796231f47a2bfecf26 (I also CC'd you on the Google-internal version of that). If it's not working maybe there's some edge case that was missed somehow.

[2016-06-07 16:29] ChadKillingsworth commented on #1831
If you can give me a repo case, I'll be happy to take a look.

[2016-06-07 18:46] cramforce commented on #1831
I have a PR here with a workaround that makes our repo build successfully:
https://github.com/ampproject/amphtml/pull/3478/files

Unfortunately our JSCompiler integration is extremely complex, both in terms of flags, srcs (we use a hack to show different files to JSCompiler than to Babel/browserify for non-prod builds) and we use a [custom command line runner](https://github.com/ampproject/amphtml

[2016-06-07 20:44] brad4d opened #1832 "externs update needed for jQuery 1.12"
jQuery is pushing everyone to upgrade to at least 1.12.

I found these jQuery 1.12 changes that may affect externs by searching their online API documentation.

jQuery.get([settings]) http://api.jquery.com/jQuery.get/
jQuery.htmlPrefilter(html) http://api.jquery.com/jQuery.htmlPrefilter/
jQuery.post([settings]) http://api.jquery.com/jQuery.post/
jQuery.uniqueSort(array) http://api.jquery.com/jQuer

[2016-06-07 20:45] brad4d commented on #1832
Hi @ChadKillingsworth.
I think this is in your domain.

[2016-06-08 17:24] ainsleyc opened #1833 "Missing extern for angular material mdDialog.prompt()"
I noticed that there isn't currently an extern for angular material dialog's prompt() function. Is this something that is going to be added?

[2016-06-08 18:24] ainsleyc commented on #1833
Also, I'd be happy to do a pull request to add it if that is appropriate.

[2016-06-08 18:28] SLaks opened #1834 "Const names result in final classes in goog.module"
[code]

This only happens in a goog.module, and only with const, not let.

http://closure-compiler-debugger.appspot.com/#input0%3Dgoog.module('base')%253B%250A%250A%252F**%2520%2540constructor%2520*%252F%250Aconst%2520Base%2520%253D%2520function()%2520%257B%2520%257D%253B%250A%250A%252F**%2520%2540constructor%2520%2540extends%2520%257BBase%257D%2520*%252F%250Aconst%2520Derived%2520%253D%2520functi

[2016-06-08 18:30] MatrixFrog commented on #1834
duplicate of https://github.com/google/closure-compiler/issues/1492 I think.

[2016-06-08 18:30] #1834 closed

[2016-06-08 18:32] MatrixFrog commented on #1833
Yes, please do, and assign it to @mprobst for review.

[2016-06-09 17:56] ainsleyc commented on #1833
I've created the pull request, but don't think I have the permissions to assign it?

[2016-06-09 22:37] SLaks opened #1836 "Templated @record types fail inference with other templates"
I have an `@record` type with a template parameter which is not yet used.

I perform a complicated dance with two other template types (in my actual code, this is from a base Model class), and I get an incorrect compiler error:

[code]

[code]

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540constructor%2520%2540template%2520T%2520*%252F%250Afunction%2520EventType()%2520%2

[2016-06-10 14:40] SLaks opened #1837 "Nested union types fail equality check"
[code]

[code]

The (obviously-incorrect) error only happens if both `|`s are present.

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540constructor%2520%2540template%2520T%2520*%252F%250Afunction%2520EventType()%257B%257D%250A%250A%252F**%250A%2520*%2520%2540param%2520%257Bstring%257C!EventType%253Cboolean%257Cnumber%253E%257D%2520a%250A%2520*%2520%2540param%2520%257B!Even

[2016-06-10 14:41] SLaks commented on #1837
On a related note, this error should arguably completely ignore template parameters because of type erasure.

[2016-06-10 21:10] dimvar commented on #1836
FYI, this works correctly in the new type inference.

[2016-06-11 11:02] WhyEvenTry commented on #1781
What IS the support for destructured parameters anyway? In WebStorm for example I cannot use the first syntax given in the ticket at the top. It only works when I pretend there is no destructuring as if everything in the object is a normal parameter. I have yet to see a word about destructuring in http://usejsdoc.org/index.html

[2016-06-11 19:24] ChadKillingsworth commented on #1831
Just tested this at head and it's working as intended for me:

### foo.js
[code]

### test.js
[code]

### Compile command
I tested this with and without dependency management enabled
[code]

### output
[code]

My first guess is that your custom command-line runner may be influencing behavior here.

We also have test coverage for this case: https://github.com/google/closure-compiler/blob/master/tes

[2016-06-12 16:44] getzinj opened #1840 "Compiler error compiling Typescript file to ES3"
I get the following error doing a compilation:

slideType.ts is the following:

[code]

I invoke the compiler with the following command:

[code]

I'm running this from within Visual Studio 2015 on Windows 10.

   - Jeff the Xoogler

[2016-06-12 21:12] mgiuffrida opened #1841 "@final not checked when method is overridden by setting prototype"
The docs imply that `@final` on a class method makes it an error to override that method in a subclass:

[code]

But this doesn't error. The method has to be set separately:

[code]

for closure-compiler to notice this mistake.

[2016-06-13 15:27] infusion opened #1842 "Compress condition as logical expression"
Hi,

I wonder if it's possible to shrink an expression like

[code]
to
[code]
instead of
[code]
You do such tricks already in a logical manner to kick out if-statements, but it would make sense within expressions as well. Or do I miss something, that it should be avoided?

Thanks!

[2016-06-13 17:20] dimvar commented on #1842
This is a matter of optimizing `a ? a : b` to `a || b`.

[2016-06-13 17:27] dimvar commented on #1841
This is caught by the new type inference. See:
https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540constructor%2520*%252F%250Afunction%2520MyClass()%2520%257B%257D%250A%250A%252F**%2520%2540final%2520*%252F%250AMyClass.prototype.method%2520%253D%2520function()%2520%257B%257D%253B%250A%250A%252F**%250A%2520*%2520%2540constructor%250A%2520*%2520%2540extends%2520%257BMyClass%257D

[2016-06-13 17:28] MatrixFrog commented on #1781
The `@param {{a: (number|undefined), b: (number|undefined), c: (number|undefined)}} param1` syntax is supported. Note that what Closure Compiler supports is pretty different from usejsdoc.org in general. From our official docs:

https://developers.google.com/closure/compiler/docs/js-for-compiler

[2016-06-13 17:44] WhyEvenTry commented on #1781
What is `param1` in the above example? Because with destructuring there is nothing in that place.

I know that JSDoc syntax != Closure compiler syntax. Since WebStorm supports both I can file a ticket with them if there is a problem with support for either, and I use the union of the syntaxes of both.

[2016-06-13 17:45] MatrixFrog commented on #1842
Might be a good first PR for someone, since it would be a "peephole" optimization?

[2016-06-13 17:51] MatrixFrog commented on #1781
Our "JSDoc" parser requires every param to have a name, so for destructuring params, we allow any name that's a valid JS identifier, even though that name won't appear in the (non-comment) JS code.

[2016-06-14 03:59] tanvirsobhanwe opened #1844 "hhh"
ghg

[2016-06-14 04:08] #1844 closed

[2016-06-14 07:58] vobruba-martin opened #1845 "java.lang.NoSuchMethodError: com.google.javascript.rhino.Node.getType()"
My script stopped working after this commit 62f4c44590dc4c80315f399cfdc2e7ae1ef141b3 with error:

Params:

[2016-06-14 14:11] blickly commented on #1845
It looks like PrepareAst.java hasn't been recompiled since before that change. I think you'll need to recompile your java code.

[2016-06-14 14:15] ChadKillingsworth commented on #1845
Are you using the ant build? I've not ever had this happen with maven.

[2016-06-14 15:44] cramforce commented on #1831
Could you point me to the code that emits the `goog.provide` for the file without the export. I'll take a look if there are any conditions that we do not meet.

[2016-06-14 15:51] MatrixFrog commented on #1831
https://github.com/google/closure-compiler/blob/e29bcdb897d0271cae41cf64c1c36592ef1b857d/src/com/google/javascript/jscomp/Compiler.java#L1402-1416 (the "true" on line 1415 means "force rewrite" -- that is, rewrite the file as a module even though it contains no `import`s or `export`s)

[2016-06-14 15:52] ChadKillingsworth commented on #1831
One thought that might fail to trigger rewriting, the detection code only works if existing goog.require/provide calls have been reported to the compiler. This should have occurred by module rewriting passes.

The `getKnownProvides` and `getKnownRequires` methods were added specifically because the `getRequires` and `getProvides` methods can trigger a full parse on files that would not otherwise o

[2016-06-14 16:06] vobruba-martin commented on #1845
Thank you! `ant clean && ant jar` did the trick

[2016-06-14 16:14] #1845 closed

[2016-06-14 20:55] concavelenz commented on #1492
If we aren't going to fix this, we should disable support for final classes.

[2016-06-14 20:57] MatrixFrog commented on #1492
We discussed this at the meeting yesterday. There was general support for chaning `@final` to mean only non-subclassable and `@const` to mean only non-reassignable, but @blickly seemed to think that @concavelenz had some objection to that at one point. John do you remember what the objection was?

[2016-06-15 14:53] concavelenz commented on #1492
No objection here except that we already use it to mean "@const".  I thought that this was true of jsdoc as well but I don't see that when I looked today.

[2016-06-15 15:24] ChadKillingsworth commented on #1492
I'm fine with `@final` implying `@const` - just not the other way around.

[2016-06-15 16:37] evmar opened #1846 "Reflect polyfill warning"
Suppose you're using a polyfill for Reflect.  Any reference in your code to `Reflect` causes the warning:

[code]

On https://github.com/google/closure-compiler/issues/1425, @dimvar wrote:

What I'd like instead is to continue to use the builtin polyfills but still use my own Reflect polyfill.

[2016-06-15 18:24] martine commented on #1846
Sample code snippet:

[code]

[2016-06-15 18:25] shicks commented on #1846
That's correct.  I can see three ways around this:
(1) I'm working on a Reflect polyfill, but it's blocked on some long-needed reorganization
(2) We could put the warning into a diagnostic group that can be disabled (globally and/or locally)
(3) We could provide customization for exactly which polyfills to use

The third option is more customization than we'd ideally prefer, so that leaves options

[2016-06-15 18:29] martine commented on #1846
I don't know how the code works, but what I was imagining is you could just disable the Reflect polyfill-matching logic entirely when targeting ES5, making it a compiler error to reference it (the same as referencing some nonexistent FooBar() function might be).

Now that I think of it, would it work to change the above code to something like
[code]
?

[2016-06-15 18:36] shicks commented on #1846
The reason we want to give an error is that if we're polyfilling some things and not others, people are likely to be surprised if they're expecting it but it's silently left as-is.

Your workaround should work fine in the short term.

[2016-06-15 20:32] jleyba opened #1847 "Promise.all & Promise.race should accept Iterable, not just Array"
The externs for [Promise.all](https://github.com/google/closure-compiler/blob/master/externs/es6.js#L1382) and [Promise.race](https://github.com/google/closure-compiler/blob/master/externs/es6.js#L1391) currently only accept arrays as parameters—they should also accept Iterable<T>

Ideally the extern definition for [Array](https://github.com/google/closure-compiler/blob/master/externs/es3.js#L461)

[2016-06-15 22:21] codebreach commented on #1382
Is this anywhere on the radar? I can help out depending on how much effort you estimate this to be.

[2016-06-15 22:22] ChadKillingsworth commented on #1382
Yes - I plan on working on module issues this summer. Most are not small changes though.

[2016-06-15 22:45] jbms opened #1848 "Duplicate licenses within a single input file are still emitted"
If the same "@license" text is contained in two separate input files, only a single copy will be written to the output.  However, if the same "@license" text is contained multiple times in the same input file, as can happen if the compiler is being run on output from another tool such as webpack that itself combines multiple files, then duplicate copies are emitted.

From investigating the source

[2016-06-16 09:35] codebreach commented on #1382
Cool this is blocking us from enabling closure for a pretty large nodejs
codebase, so let us know if we can help test or anything.

On Thu, Jun 16, 2016 at 3:52 AM Chad Killingsworth <notifications@github.com>
wrote:

[2016-06-16 10:10] firecow opened #1849 "Extend Generic class. Setter chaining bug."
I'm compiling with NTI...

[code]

[code]

Is this a bug, or am I documenting my @return incorrectly

[2016-06-16 14:30] MatrixFrog commented on #1849
I'm not sure if it's a bug, but I think this is better expressed as:

[code]

which tells the type system "whatever the type of `this` is, that's also the type I'm returning"

[2016-06-16 15:44] dimvar commented on #1849
Tyler's suggestion is what you do to chain in these cases. Closing.

[2016-06-16 21:25] brad4d opened #1851 "Numbers and string literals not allowed as property names"
The spec says string literals and numeric literals should be allowed as property names in class definitions, but the compiler won't allow it.
https://tc39.github.io/ecma262/#prod-LiteralPropertyName

https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520Foo%2520%257B%250A%2520%2520'hello'()%2520%257B%2520return%2520'hello'%253B%2520%257D%250A%257D%26input1%26conformanceConfig%26externs

[2016-06-16 21:27] MatrixFrog commented on #1851
I seem to remember we did this on purpose to keep things simple. Anyone else have a similar memory? @matthewloring @blickly

If it's not common in the wild I'd be happy to keep it this way (or maybe change the error to make it clear that we *know* it's technically valid and it's just our parser that doesn't accept it).

[2016-06-16 22:14] matthewloring commented on #1851
I don't believe I made a decision one way or the other. I don't recall explicitly disallowing something that was valid by spec but it's been a while.

![](https://media.giphy.com/media/FPjbHO0jJxGsE/giphy.gif)

[2016-06-17 06:06] firecow commented on #1849
[code]

[code]

[2016-06-17 20:35] haberman opened #1852 "Numbers 2^31 < x < 2^31-1 should not raise BITWISE_OPERAND_OUT_OF_RANGE"
Take this input:

[code]

Closure Compiler returns the error:

[code]

And yet the output of this code is `e0000000`, which illustrates that no information is in fact lost.

I think this warning should only fire for numbers `> 2^32 - 1`, not `> 2^31 - 1`.

[2016-06-19 09:46] aJchemist commented on #1704
@darwin thanks! I came here during the work with `binaryage/chromex`.

[2016-06-19 18:07] getzinj commented on #1840
Anybody? Bueller?

[2016-06-19 18:09] getzinj commented on #1840
Something that strikes me as unusual is that I see the following in the stack track:

[code]

But I specify in my compile options that the target language is **ES5**.

    Jeff

[2016-06-19 23:26] brad4d commented on #1840
@MatrixFrog can probably best investigate the source of the compiler exception, but I can point out a few things.

1. Es6toEs3Converter runs for both ES3 and ES5 output. The name is misleading.
2. I don't think it makes sense to use both goog.provide() and an ES6 'export' statement in the same file. I believe it's an either-or sort of thing.
3. ES6 class syntax doesn't allow for member variable de

[2016-06-20 00:34] getzinj commented on #1840
Interesting. When I tried it without the goog.provide, I got an error saying the type wasn't provided. What IS the correct way to mix and match the newer ES6 dependency management older Closure-style?

    Jeff the Xoogler

[2016-06-20 00:35] getzinj commented on #1840
P.S. Are using the ES3 as a form of intermediate language? Is that why it's so-named?

[2016-06-20 02:14] ChadKillingsworth commented on #1840
ES6 module rewriting will bail on any script that has a goog.provide. See the [modules documentation](https://github.com/google/closure-compiler/wiki/JS-Modules). A module may only have a single type of export statement: Closure's `goog.provide` or `goog.module`,  CommonJS `module.exports` or `export` or ES6 `export`. You can freely mix import statements however.

So at that point, you have manage

[2016-06-20 02:14] #1840 closed

[2016-06-20 06:10] dimvar commented on #1849
This will be fixed when we add support for bounded generics. For now, you can cast `this` to the object type before accessing the property.

[2016-06-20 06:39] marcfallows opened #1853 "Object.assign should be transpiled when language out is ES5"
If I compile code with the language_in as ES6 and language_out as ES5 then `Object.assign` should undergo transpilation since the feature is not available in the ES5 spec.

[2016-06-20 10:00] firecow commented on #1849
[code]
This is the current "hack" i use, and it works as intended.

[2016-06-20 10:54] getzinj commented on #1853
Maybe it uses a polyfill?

   Jeff

From: Marc Fallows [mailto:notifications@github.com]
Sent: Monday, June 20, 2016 2:39 AM
To: google/closure-compiler <closure-compiler@noreply.github.com>
Subject: [google/closure-compiler] Object.assign should be transpiled when language out is ES5 (#1853)

If I compile code with the language_in as ES6 and language_out as ES5 then Object.assign should undergo t

[2016-06-20 16:55] dimvar commented on #1853
This is a polyfill, defined here:
https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/js/es6/object.js#L34

To use the polyfilles, pass the flag `--rewrite_polyfills`.

[2016-06-20 16:55] #1853 closed

[2016-06-20 16:58] dimvar commented on #1849
Great.

[2016-06-20 20:58] #1847 closed

[2016-06-20 21:35] inexorabletash opened #1854 "DOMException should be subclass of Error"
Per http://heycam.github.io/webidl/#es-exception-objects and http://heycam.github.io/webidl/#es-DOMException-prototype-object DOMException should be a subclass of Error and therefore have `name` and `message` properties.

Sample:

[code]

Closure Compiler service reports:

[code]

Also note that `code` is intended to be an own-property not necessarily a getter on the prototype, but this is not cle

[2016-06-20 21:56] inexorabletash opened #1855 "Split nonstandard File Writer/File System API parts out of externs/browser/fileapi.js"
fileapi.js contains externs for:

* [File API](https://github.com/w3c/FileAPI) - actively maintained specification, implemented in all browsers
* [File API: Writer](https://www.w3.org/TR/file-writer-api/) - working group note, only implemented in Chrome
* [File API: Directories and System](https://www.w3.org/TR/file-system-api/) - working group note, only implemented in Chrome
* [Quota Management

[2016-06-20 22:10] marcfallows commented on #1853
Thanks @dimvar, I wasn't aware that this was a flag and just assumed it would be default behaviour. This addresses my issue completely.

[2016-06-20 22:40] MatrixFrog opened #1856 "Don't back off as much for externs properties"
See: https://github.com/google/closure-compiler/blob/0a776982280072be509c2253ed33f8aef82843f7/src/com/google/javascript/jscomp/ExpressionDecomposer.java#L813-837

It looks like we're backing off an optimization because of a bug/quirk in "Internet Explorer" (it doesn't say which versions). If we can identify exactly which versions of IE have this problem then we can either remove this special case

[2016-06-21 11:46] ChadKillingsworth commented on #1856
I setup a test page because I was curious: http://people.missouristate.edu/chadkillingsworth/ie_indirect_test.html

And the answer is: IE7 and older. Thank you sauce labs.

The page functioned correctly on IE8.

This means we should only back off in this manner if the output language is ES3, correct?

[2016-06-21 18:23] SLaks opened #1857 "NTI: Truthiness check discards unknown-ness"
[code]

[code]

https://closure-compiler-debugger.appspot.com/#input0%3Dfunction%2520f(x)%2520%257B%250A%2520%2520if%2520(!x)%2520return%2520null%253B%250A%2520%2520return%2520%252F**%2520%2540type%2520%257Bnumber%257D%2520*%252F%2520(x)%253B%250A%257D%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26CHECK_TYPES_NEW_IN

[2016-06-21 23:30] jplaisted opened #1858 "[ES6] Destructing and defaulted optional param does not work"
Related to https://github.com/google/closure-compiler/issues/1114 which added destructing params.

[code]

This is perfectly valid JS and I feel a useful case of object destructing. You'll currently get the error.

`parameter opt_param does not appear in test's parameter list`

Note that this *does* work without optional / default for the whole param.

[code]

[2016-06-22 16:49] peteblois commented on #1781
I agree with the original syntax request- converting to destructured parameters is a common refactoring operation when the number of optional parameters grows but the loss of per-parameter documentation is a clear regression.

[2016-06-23 13:56] mseddon commented on #1382
This is probably the only issue I have with closure, so I'm very much looking forward to this.  Also happy to test the changes when they're ready later in the year.

[2016-06-23 19:43] SLaks opened #1859 "NTI: Overriding re-specified template parameters cause spurious type mismatch error"
[code]

[code]

Removing the duplicate specification in the `Class1` override fixes.  This works fine in OTI.

It looks like the compiler doesn't realize that the two declared `@template T`s are equivalent.  (template parameters should be compared by index)

No demo link, because the debugger is down :(

[2016-06-23 20:06] SLaks commented on #1859
Debugger is back up!

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540interface%2520*%252F%250Afunction%2520Interface1()%257B%257D%250A%250A%252F**%2520%2540param%2520%257BT%257D%2520x%2520%2540return%2520%257BT%257D%2520%2540template%2520T%2520*%252F%250AInterface1.prototype.func%253B%250A%250A%250A%252F**%2520%2540interface%2520%2540extends%2520%257BInterface1%257D%2520*

[2016-06-23 20:07] SLaks opened #1860 "NTI: IObject<> isn't usable for simple maps"
[code]

[code]

https://closure-compiler-debugger.appspot.com/#input0%3Dconst%2520%252F**%2520IObject%253Cnumber%252C%2520string%253E%2520*%252F%2520x%2520%253D%2520%257B%257D%253B%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26CHECK_TYPES_NEW_INFERENCE%3D1%26CLOSURE_PASS%3D1%26LANG_IN_IS_ES6%3D1%26MISSING_PROPERTIES

[2016-06-23 22:48] SLaks commented on #1860
Actually, this doesn't work in OTI either.

What is `IObject<>` meant for?

[2016-06-23 23:42] shicks commented on #1860
My understanding is that the only reason IObject exists is to support type-checking getelem accesses for Arrays, in which IArrayLike<T> is IObject<number, T>; whereas Object<T> is IObject<string, T>.  So yes, as far as I understand it's entire purpose is as a base type.  Is there a reason you want to use it explicitly?

[2016-06-24 00:03] #1858 closed

[2016-06-24 00:49] SLaks commented on #1860
Even so, `{}` should be convertible to it (just like `[]` is convertible to `IArrayLike<>`).

But, more importantly,

[src](https://github.com/google/closure-compiler/wiki/Using-NTI-(new-type-inference)#no-support-for-parameterized-objectkv)

[2016-06-24 17:57] dimvar commented on #1860
Yes, IObject is a non-hacky version of parameterized Object. The behavior you're requesting for {} is correct. I'll fix for NTI.

[2016-06-24 19:10] SLaks commented on #1860
Can you please fix it for OTI too?
Without that, it will be impossible to migrate the Google codebase to NTI, since the same code (that uses `Object<>` all over the place) must still compile under OTI too.

Once they both work, we can mass-replace `Object<` to `IObject<`

[2016-06-25 08:34] alexzzp opened #1861 "How to remove extend based OOP style unused constructor?"
There are many js projects using 'extend based oop system', like the cocos2d-js html5 game engine (https://github.com/cocos2d/cocos2d-js) instead of goog.inherits, is it possible to remove this style of unused constructor in advanced mode?

[code]

cc.DrawingPrimitiveCanvas is only referred in CCBoot.js. but I compile the whole engine with my game in advanced mode, the cc.DrawingPrimitiveCanvas  s

[2016-06-27 00:57] kvanberendonck commented on #787
Another instance of this ...
[code]

Throws error on type of handler function unless you suppress the type check.
`onerror` is living standard and definitely not legacy behaviour.

[2016-06-27 01:01] ChadKillingsworth commented on #787
@kvanberendonck That's the wrong signature. That signature is only used for assigning to the `window.onerror` property:

[code]

See the [global onerror](https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror) handler vs the [ErrorEvent](https://developer.mozilla.org/en-US/docs/Web/API/ErrorEvent).

[2016-06-27 01:04] kvanberendonck commented on #787
Yep my bad.

[2016-06-27 14:12] icmdaf opened #1862 "--new_type_inf --strict doesn't elevate warnings to errors"
For example this generates "WARNING - Type annotation references non-existent type Foo."
`/** @type {!Foo} */ var foo = null;` when using `--new_type_inf`.
But adding `--strict` will not elevate it to error, it remains a warning.
When not using `--new_type_inf`, warnings to become errors as expected.

[2016-06-27 16:41] dimvar commented on #1861
For questions, please ask at: https://groups.google.com/forum/#!forum/closure-compiler-discuss

Maybe the call to `cc.Class.extend` has side effects, so the compiler can't remove it. There isn't enough information here to know what's going on. If you find a small program that reproduces the issue, you can post there and include steps to reproduce, and maybe someone can find why the class is not be

[2016-06-27 16:41] #1861 closed

[2016-06-27 18:17] dimvar commented on #1860
We are generally not fixing OTI bugs unless they're crashes or very high priority. If this one is easy to fix in OTI, I'll take a shot, but no promises.

There are no plans for this. Besides the bug here, they have different typing rules (Object is looser), so the mass migration won't be automatable.

[2016-06-27 18:49] doom-fr opened #1863 "ADVANCED_OPTIMIZATIONS compilation option makes Uncaught TypeError: Cannot read property 'length' of undefined"
I have an error when I am compiling lastest paper-core.js (v0.9.25) and my ultra simple script with Closure Compiler and ADVANCED_OPTIMIZATIONS option :
[code]

In some previous tests, the log is  more verbose (if it could help) :
[code]

All goes well with SIMPLE_OPTIMIZATIONS option. Errors appear only with ADVANCED_OPTIMIZATIONS option.

As paperjs is a great but big library, I don't know from

[2016-06-27 19:49] dimvar commented on #1860
Fix for NTI will be pushed later today.

[2016-06-27 20:10] SLaks commented on #1857
This is still broken for `instanceof`:

[code]

[code]

(from a build that includes the fix)

[2016-06-27 20:12] SLaks commented on #1857
And for method type inference:

[code]

[code]

[2016-06-27 21:27] WillsB3 opened #1864 "WARNING - optional arguments must be at the end"
I have this code (where myProject is a censored project name).

[code]

`gjslint --strict` reports no linting errors, yet when trying to compile I receive an error:

[code]

The optional arguments are at the end...

Have I made a mistake or is this a bug? I've tried with with both `20151216.0.0` and `20160619.0.0`.

[2016-06-27 21:36] dimvar commented on #1864
The type of opt_callback is malformed, which causes the type parser to miss the optionality of the argument. Either change the type to `function()=` or `Function=`, not sure which one you meant.

[2016-06-27 21:36] #1864 closed

[2016-06-27 21:53] WillsB3 commented on #1864
@dimvar Thank you - that was it.

For anyone else that hits the issue, there is some useful documentation in [Closure: The Definitive Guide](https://books.google.co.uk/books?id=p7uyWPcVGZsC&lpg=PA29&dq=The%20use%20of%20wrapper%20%22types%20is%20prohibited%22%20in%20the%20Closure%20Library&pg=PA31#v=onepage&q=The%20use%20of%20wrapper%20%22types%20is%20prohibited%22%20in%20the%20Closure%20Library&f=

[2016-06-27 22:41] rubenlg opened #1865 "--new_type_inf fails to check nullness"
/** @constructor @struct */
function Klass() {
  /** @type {number} */
  this.val = 1.0;
}

/** @return {Klass} */
function getNullable() {
  return new Klass();
}

/** @type {Klass} */
var best = null;

for (var i = 0; i < 5; i++) {
  var current = getNullable();
  if (best === null) {
    best = current;
  } else if (current !== null && current.val > best.val) {
    best = current;
  }
}

======

[2016-06-27 22:58] dimvar commented on #1862
Can you file a bug in the internal bug tracker? `--strict` is not available externally. As a workaround, if you add `--jscomp_error=checkTypes` instead of `--strict`, the warning gets promoted to an error as expected.

[2016-06-27 22:58] #1862 closed

[2016-06-27 23:07] dimvar commented on #1865
This is a known limitation of NTI. Basically, we don't analyze loops to a fixpoint, because types are generally stable inside loops. It's as if every loop is run either 0 or 1 times. The workaround is to change the initial assignment to
`var best = /** @type {Klass} */ (null);`

[2016-06-27 23:07] #1865 closed

[2016-06-27 23:15] #1860 closed

[2016-06-28 04:45] concavelenz commented on #1863
Did you try using --debug to create a more readible version of the output?  Have you also read the limitation impose by advance optimizations here:

https://developers.google.com/closure/compiler/docs/limitations

[2016-06-28 07:44] vobruba-martin opened #1866 "[NTI] Cannot add property a to a struct instance after it is constructed."
After this commit e5f3c532c151653719ff77db6154e7144cfa69bf

[code]
[code]

If I remove this code, no warning pops up
[code]

[2016-06-28 13:57] doom-fr commented on #1863
I have already compiled with the --debug option.
the resulted error line is :
`$arg$$15$$.alpha}this.$__read$&&$type$$114$$&&($read$$1$$=1)}this.$_type$=$type$$114$$||"rgb";this.$_id$=$UID$$.get(Color$$1);if(!$cached$$inline_32_components$$2_data$$inline_33_l$$inline_31_match$$inline_27$$)for(this.$_components$=$cached$$inline_32_components$$2_data$$inline_33_l$$inline_31_match$$inline_27$$=[],$ar

[2016-06-28 14:59] concavelenz commented on #1863
No, it can not warn in all cases or most cases where the limitations are violated.  For instance, it is impossible to know that an property needed by external code was exported (deval'd code).

You may wish to disable the type based optimizations  (--use_types_for_optimizations=false or something like that).

Generally, speaking the VERBOSE warnings/errors are to improve maintainability and do not

[2016-06-28 16:33] doom-fr commented on #1863
has tried your advice `--use_types_for_optimization false`, but nothing works better.

has tried also the verbose (`--warning_level=VERBOSE`) and some warnings and 3 errors come out :
[code]

I have opened the library code and there seems to be effectively a problem with the redeclared variables (will say it to the authors). I have patch the warnings in a local copy.

But I don't know how to work

[2016-06-29 16:33] alexzzp commented on #1861
thans, I will follow~

[2016-06-29 23:07] fastest963 opened #1868 "Side-effect of (0, obj.method)() is warned as no side-effect"
Babel produces code that utilizes `(0, obj.method)()` in order to make a function call without the context being `obj` since `obj` is just a placeholder object for the methods that were imported.

When running code through Closure Compiler, it produces a warning:
[code]
That code does have the side-effect of calling `dateNow` without the context of `_utilities`.

The original code (before babel) s

[2016-06-30 02:35] MatrixFrog commented on #1868
I assume it means that the '0' lacks side-effects.

In general, it's likely that Babel outputs lots of code that is valid but will produce warnings in Closure Compiler.

[2016-06-30 11:56] zarov opened #1869 "Curious behavior with obfuscation"
Hello, I noticed a curious behavior with obfuscation for one method (I don't know if it occurs somewhere else in my code). So I have the following code :

[code]

What happened when I compile the code is that I obtain this :
[code]

Notice the difference between the first two call of `slerpNoInvert` versus the last one. Do you have any idea why it would be like this ? I always reach an understatem

[2016-06-30 14:51] concavelenz commented on #1863
redeclared and undeclared variables aren't going to break any of the optimizations, they just commonly indicate typos.

[2016-06-30 15:06] doom-fr commented on #1863
yep, but with the --warning_level=VERBOSE t**he compiled file isn't create** (without, it is created).
**Expected** as the undeclared variables are errors, **but abnormal**.

In fact, it seems that paperjs does not meet limitations (they don't want to).
So my first problem is maybe not an issue of closure compiler (but there's one with the verbose option. no?).

[2016-06-30 15:07] #1863 closed

[2016-07-01 01:42] Dominator008 commented on #1833
Closed by https://github.com/google/closure-compiler/pull/1835.

[2016-07-01 01:42] #1833 closed

[2016-07-01 16:47] dimvar commented on #1869
We can't reproduce this without a standalone program to build.

Since you're turning off type checking, one thing you can try is `--use_types_for_optimization=false`. FYI, it is recommended to have type checking on when using advanced mode.

[2016-07-01 16:47] #1869 closed

[2016-07-06 16:28] supersteves opened #1873 "Randomised name generation"
I'd like to be able to randomise the name generation such that two compilations result in entirely different names. This makes it harder to reverse-engineer the compilation since every continuous integration build of the software would have far less in common.

I propose either of the following, and will put together a PR if it would be likely to be accepted:

1. Make `DefaultNameGenerator` and `N

[2016-07-06 21:02] MatrixFrog commented on #1873
I'm leaning toward saying no to this, because we want builds to be completely deterministic. It's not a bad idea though so I would encourage you to publish it and maybe we can link to it from the wiki somewhere even if we don't accept it into the official project.

[2016-07-06 22:27] acleung commented on #1873
It's been done before. At one point we have a special NameGenerator that
takes in a seed to randomize the variable names.

The level of obfuscation and the size penalty makes it not worth it so I
deleted it at some point (IIRC).

On Wed, Jul 6, 2016 at 11:02 PM, Tyler Breisacher <notifications@github.com>
wrote:

[2016-07-07 06:03] supersteves commented on #1873
@acleung I've found a way to prototype it using reflection (to work around the package protection), by calling favors() followed by reset() to establish randomised values of `CharPriority.occurrence` while preserving the order of sections lowercase, uppercase, numbers, symbols. This results in identical file size but entirely random output. Would this impact compressed size? Otherwise I'm not sure

[2016-07-07 09:00] Kegsay commented on #954
I'm still keen to get this feature implemented.

I originally fixed my problem by using Flowtype instead for type checking (which does resolve `require()` calls correctly), but the kicker is that in order to add type annotations you need to transpile since the annotations are not valid Javascript. It does support an ugly commented form, but what I really want is for it to use JSDoc so I can use 1

[2016-07-07 10:00] 2beers opened #1874 "Optimization for extended classes in ADVANCED_OPTIMIZATIONS"
Hello. I have the following javascript code:
[code]

I'm trying to compile this in ADVANCED_OPTIMIZATIONS .
if I use a simple(not extended) class for example
[code]

the output is nice and clean: `console.log("base");`

If I use the extended class
[code]
I get something like this:
`function d(a,b){function e(){}e.prototype=b.prototype;a.prototype=new e;a.prototype.constructor=a;for(var c in b)if(O

[2016-07-07 10:01] supersteves opened #1875 "JSCOMPILER_PRESERVE error"
When running the compiler in checks-only mode, optimisations don't run. "Protect hidden side effects" might be configured to run, but "strip protection" isn't because it's in the optimisations.

This means the temporary injection of JSCOMPILER_PRESERVE doesn't get stripped, and you get a runtime error.

The workaround is to turn off "protect hidden side effects" but to lose that protection.

I thi

[2016-07-07 11:17] 2beers opened #1876 "Error on extended class"
The following js code from mozilla classes documentation https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes returns an error:

Here is the code I used:

[code]

[2016-07-07 12:42] ChadKillingsworth commented on #1873
I've actually considered adding this in as well. It makes it harder for malware to target your code if it is constantly changing.

I was simply going to make a custom build to do this however.

[2016-07-07 16:49] MatrixFrog commented on #1876
For transpilation, we only support patterns that we can analyze and typecheck, which is the reason for this restriction. Eventually the compiler will support ES6 "natively" (without transpiling down) and then this pattern might work (but will probably still be difficult to typecheck)

[2016-07-07 16:49] #1876 closed

[2016-07-08 01:07] shicks opened #1877 "Cannot import goog.modules from an ES6 module"
The following code works if `foo` is a `goog.provide` or a `goog.module` with `goog.module.declareLegacyNamespace`, but fails to compile if it is an ordinary `goog.module`:
[code]

The error that shows up is
[code]

[2016-07-08 06:27] rconnamacher opened #1878 "Missed inlining opportunity when function contains pre-computable math."
Closure Compiler isn't currently able to consider the results of precomputing math when deciding whether to inline a function.

[code]

Possible result were the function inlined:
[code]
Actual result:
[code]

[2016-07-08 09:42] 2beers opened #1880 "ES6 import module from a relative path to a certain folder"
Hello. Let's say I have this 2 .js files in this location:

/work/javascript/src/main.js
/work/javscript/src/module.js

[code]

The compiler is in this path
/work/compiler.jar

when I compile I provide this source files:
javascript/src/main.js
javascript/src/module.js

but this throws this error:

if I change the main.js file to
[code]
everything works ok.

So my questions is if it's possible to s

[2016-07-08 10:04] 2beers commented on #1880
I found the solution:
setModuleRoots from CompilerOptions

[2016-07-08 10:04] #1880 closed

[2016-07-08 17:07] MatrixFrog commented on #1878
It works if you write `5*x` instead. I don't think we're likely to fix this.

[2016-07-08 17:47] rconnamacher commented on #1878
That's of course a contrived example; the project I'm working on involved more complex math like bit shifts (which Compiler can pre-compute if inlined but not when abstracted into a function).

[2016-07-08 18:54] shicks commented on #1877
The same thing happens when using
[code]
from within an ES6 module.

[2016-07-08 19:23] shicks opened #1881 "Linter should warn if 'let'/'const' and 'var' are used in the same file."
The following should generate a linter warning:
[code]

[2016-07-08 21:36] 2beers opened #1883 "ES6 import error"
I have the following files

[code]

on compiling in Advanced mode I get this error:

Is this a bug or am I doing something wrong? If I comment the import line in test2.js it compiles but not with the result I want:
[code]

[2016-07-08 22:33] MatrixFrog commented on #1883
I don't think we have a good answer for this right now. (We do for goog.module though)

If you can, move both classes into a single module? Lots of Google code has one class per file (like Java) and as modules become more common I've been encouraging people to move away from that where it makes sense.

[2016-07-09 00:21] 2beers commented on #1883
Is this something that's going to be fixed in future versions?
I know I can put them in the same file, but I encounter this error in a much more complicated situation. I just minimized it to this simple example.
What's the solution for goog.module?

[2016-07-09 04:09] WhiteTrashLord opened #1884 "Optimization for empty functions"
Sorry I am not a compiler expert. I just compiled some code with the ADVANCED_OPTIMIZATIONS level. I noticed that the Closure Compiler generated a lot of this code:

function da(){}function r(){}function ea(){}function t(){}function fa(){}function u(){}

Maybe it's possible to detect an empty function and use only 1 function for all empty functions in the code?

[2016-07-09 06:38] shicks opened #1885 "Extending Error results in a broken subclass"
If I transpile the following:

[code]

I end up with

[code]

But if you run this, you find that the error that's thrown has no message.  This seems to be due to the fact that `Error.apply` creates a new error.  There's [discussion on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error) about how to "subclass" error, but the short of it seems to be that it n

[2016-07-10 01:03] mashedcode commented on #1877
Yeah for some reason you need a newline between the destructuring assignment and the `goog.require` so this should work:
[code]
I got no clue why science I haven't even looked at the source but that's how I fixed it for my project.

Most of the code generated for ES6 features is quite terrible too IMHO therefore I still prefer `concat` over the spread operator etc. but that's another issue (The de

[2016-07-10 09:58] 2beers opened #1886 "ES6 export .. from leads to an error"
Hello. Initially I thought I created my js code in a way that lead to a circular dependency, so I submitted this issue : https://github.com/google/closure-compiler/issues/1883
Now I double checked my code and it appears that I didn't, but I think the compiler acts like it is.
Here is a simplified version of my code:
[code]

produce the following error:

**This is definitely not a circular depency*

[2016-07-11 14:24] acleung commented on #1873
If there is enough interest, it is probably worth rewriting one. If it
takes in a seed, it doesn't break the compiler's determinism requirement.

It impacted compressed size because the name generator does tricky things
that compress well after gzip.

On Thu, Jul 7, 2016 at 5:42 AM, Chad Killingsworth <notifications@github.com

[2016-07-11 14:53] ChadKillingsworth commented on #1873
Isn't it enough to simply randomize the order of supported characters?

https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/DefaultNameGenerator.java#L84-L96

[2016-07-11 14:57] supersteves commented on #1873
It's what I used to do, before `sort` was added: https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/DefaultNameGenerator.java#L171

[2016-07-11 14:59] supersteves commented on #1873
I have a working [prototype](https://github.com/google/closure-compiler/issues/1873#issuecomment-230986761), which I'll clean up and post as a PR if I it's likely to be accepted.

[2016-07-11 15:28] acleung commented on #1873
Randomizing the support letters was the previous approach. It still have a
bit of size penalty but probably not significant enough for most
applications.

On Mon, Jul 11, 2016 at 7:59 AM, Steve Spencer <notifications@github.com>
wrote:

[2016-07-11 16:51] TheModMaker opened #1887 "Inconsistent return type when using Promise.resolve."
When using `Promise.resolve` and record types, I get an inconsistent return type error even though the types are exactly the same.  This only appears to happen with record types and when using `Promise.resolve`, when using chained Promises, it correctly determines the type.

[code]

[code]

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540return%2520%257B!Promise%253C%257Bu

[2016-07-11 17:10] dimvar commented on #1873
@supersteves can you relink to your patch? The earlier link isn't right.

[2016-07-11 17:58] MatrixFrog commented on #1885
Is it just `Error` that is special, or other functions (like `Object`) that can be called either as a normal function or as a constructor? I suppose I don't mind making a special exception just for `Error` although it is definitely awkward.

[2016-07-11 18:25] ChadKillingsworth commented on #1885
Error is special.

[2016-07-11 19:02] MatrixFrog commented on #1885
So I guess we can generate a synthetic constructor like `constructor(message) { super(message); this.message = message; }` or something. But only if the user hasn't supplied one. If the user has supplied one then we need to add `this.message = message;` at the beginning of the one they gave us. This seems fragile; any better ideas? (I took a quick look at what Babel does, it looks like their use o

[2016-07-11 19:05] MatrixFrog commented on #1883
For goog.module, I believe you `goog.require` the module but then use `goog.module.get` before actually using anything from that module.

[2016-07-11 20:08] concavelenz commented on #1885
You can't call the constructor from the subclass unless you call "new":

var self = new Error();

which might woek for ES6 classes if we handled all the ES6 classes this way but then you run into other problems (call subclass overriden methods that would normally be on the prototype).

[2016-07-11 20:21] concavelenz commented on #1886
B -> C -> AB -> B  is a circular dependency. Did you mean something else?

[2016-07-11 20:31] concavelenz commented on #1884
CompilerOptions#setRewriteFunctionExpressions is used to use a factory to create common functions but it isn't great for performance.  In the general case, you don't know when a function is going to have properties add it to.

AddProp(da);

function AddProp(fn) {
  fn.prop = 1;
}

If empty functions that are not escaped are common in your code base, you may want to consider a custom compiler pass.

[2016-07-11 20:31] #1884 closed

[2016-07-11 20:33] concavelenz commented on #1878
This would basically require speculative inlining, I'm not sure how often it would be helpful.

[2016-07-11 20:56] jplaisted opened #1888 "Template objects cause "uknown type" warning when they shouldn't"
There's valid uses (imo) of a template object but the compiler will throw a warning that they shouldn't be used.

Example of what I think is a valid use. There's an Array<MyElement<T>>. The shift function returns T and attempts to return the data field of an element. But the compiler will warn you about this. I doesn't matter that the data field is unknown; I'm not really using it here. All that m

[2016-07-11 22:04] MatrixFrog commented on #1877
@mashedcode the newline making any difference at all is very surprising. Are you sure you're on the latest compiler version?

[2016-07-11 22:11] MatrixFrog commented on #1888
This is probably `BanUnknownTypedClassPropsReferences`. We check `isUnknown` (https://github.com/google/closure-compiler/blob/d8cab3fa8ac1fa80ce372202c2e55d097b28b59f/src/com/google/javascript/jscomp/ConformanceRules.java#L1267) but then also check `!isTemplateType` (https://github.com/google/closure-compiler/blob/d8cab3fa8ac1fa80ce372202c2e55d097b28b59f/src/com/google/javascript/jscomp/Conformanc

[2016-07-11 22:55] mashedcode commented on #1877
@MatrixFrog no I wasn't but now I definitely am and it's the same deal.

[2016-07-11 23:08] mashedcode commented on #1877
@MatrixFrog ohh well (yeah I am now ^^) but I just noticed that it had nothing to do with the closure compiler in my case (sorry for cluttering up this issue).
Because in my case the closurebuilder.py from the closure-library just doesn't get it right when calculating dependencies because of [this super specific regex in source.py](https://github.com/google/closure-library/blob/8bbc453a8808aa77af9

[2016-07-12 00:45] 2beers commented on #1886
@concavelenz You might be right, depends on your point of view.
For me `import {A} from 'ab';` means I'm only interested in A class from a.js and I think this should be equivalent to `import {A} from 'a';`
`export {B} from 'b';` should be ignored in this case.

Is ES6 import works differently ?

[2016-07-12 01:40] ChadKillingsworth commented on #1886
ES6 imports are statically included. They are not evaluated in a lazy fashion. This is indeed another circular dependency and thus a duplicate of #1883.

[2016-07-12 01:40] #1886 closed

[2016-07-12 08:29] supersteves commented on #1873
@dimvar I was linking to the comment above.

Effectively it's as if I've shuffled each subsection of the char arrays if it weren't for the Array.sort recent additions. By subsection I preserve the grouping of lowercase, uppercase and numbers, but reorder the array within those subsequences (sort-of preserving the same camelcase).

This approach works well, but no patch yet, it's a reflection based

[2016-07-12 17:57] dimvar commented on #1873
It seems that your approach is what others in this thread also recommend, so yes, we'll likely accept it.

[2016-07-12 18:36] blickly commented on #1873
I'm certain I've seen existing code that does this already. Let me see if I can get it open-sourced so you don't have to duplicate the work.

[2016-07-12 18:50] dimvar commented on #1873
OK, @blickly just assigned the issue to you.

[2016-07-12 23:58] shicks opened #1889 "Lint warning when calling static methods on subclasses"
We should consider having `Es6ToEs3Converter` add `@deprecated` to any static methods copied from base class to subclass, so that the following produces a lint warning:

[code]

[2016-07-13 03:00] danielcompton opened #1890 "Support sourcesContent for sourcemaps"
It is often handy to have all of the sources for an application in the source mapping file for ease of manipulation, upload, e.t.c. It would be great if the closure-compiler supported `sourcesContent` in source maps. Apologies if it does already, I couldn't find any docs or source on it.

[2016-07-13 05:52] Dominator008 commented on #1887
Seems to work in NTI.

[2016-07-13 05:54] Dominator008 commented on #1881
We might as well go further and have a lint check that warns on any `var

[2016-07-13 07:13] mashedcode commented on #1881
@Dominator008 my guess would be that people would do `s/var/let/` just to get rid of the errors and that would be just as terrible because there's a reason there's `const`. So please provide an option to turn that warning off if you do so.

[2016-07-13 12:06] ChadKillingsworth commented on #1881
There are definite cases for `var`. Specifically we only support typdefs as vars because we expect hoisting.

[2016-07-13 12:53] vobruba-martin commented on #1866
@dimvar any plans on fixing this? Thanks

[2016-07-13 15:58] brad4d commented on #1889
Why shouldn't one call an inherited static method from a child class?

On Tue, Jul 12, 2016 at 4:58 PM Stephen Hicks <notifications@github.com>
wrote:

[2016-07-13 16:10] dimvar commented on #1866
Yes, definitely. Been caught up with other things, but it's on my radar.

[2016-07-13 18:18] SLaks commented on #1411
I don't get why the conformance error happens here in the first place.
The conformance check explicitly ignores template types; see https://github.com/google/closure-compiler/blob/19acab07e9f1abdf0bd358a8646f05a07903f676/src/com/google/javascript/jscomp/ConformanceRules.java#L1231

Can that be fixed?

[2016-07-13 19:25] MatrixFrog commented on #1889
This came from a style-guide discussion yesterday. There are basically two reasons:

1. It's bad style (at least in my opinion). If it's a static method it should be called statically. If you call x.foo() and you know that x is some class but you don't know (at compile time) exactly which one, that's not really a "static" call.
2. It can cause problems with compiler renaming, [as described here](h

[2016-07-13 19:32] MatrixFrog commented on #1890
We don't. It's just JSON so you can tack the sourcesContent onto the source map that the compiler produces, pretty easily, using any language with a JSON parser. But I agree it would be better if the compiler (optionally) just did this for you; it makes things a lot easier.

[2016-07-13 19:36] ChadKillingsworth commented on #1890
There are a lot of variations with sourcemaps (like creating a composed sourcemap or not). We've historically left this for post processing.

This is quite easy when using the [gulp-sourcemaps plugin](https://www.npmjs.com/package/gulp-sourcemaps).

[2016-07-13 21:05] brad4d commented on #1889
The static method is being called statically in this example. It's being
called directly on a class name, "Sub", not on a variable containing a
class.

class Base { static foo() {} }class Sub extends Base {}Sub.foo();

I don't think this code should cause any kind of warning. If it does,
we're basically saying you must always pretend like subclasses do not
inherit static methods.

On Wed, Jul 13,

[2016-07-13 21:07] MatrixFrog commented on #1889
I am saying that, thank you for stating it more clearly than I did :) I think static inheritance is a bad feature.

[2016-07-13 21:13] brad4d commented on #1889
Why is it a bad feature? It's exactly what I would expect to happen,
because it's consistent with other OO languages like Java and C++. I would
find *not* inheriting static methods very surprising behavior.

On Wed, Jul 13, 2016 at 2:07 PM Tyler Breisacher <notifications@github.com>
wrote:

[2016-07-13 21:17] dimvar commented on #1411
It ignores template types in the property access, but not in the unknown-this check:
https://github.com/google/closure-compiler/blob/19acab07e9f1abdf0bd358a8646f05a07903f676/src/com/google/javascript/jscomp/ConformanceRules.java#L1198

The justification for ignoring them in the template access is because the unknown-this would catch the root violation:
https://github.com/google/closure-compiler/bl

[2016-07-13 21:50] danielcompton commented on #1890
Gotcha. This would be used from ClojureScript, so I'd prefer not to introduce gulp into the toolchain, but it's good to know. I'll look into that. Thanks!

[2016-07-13 21:51] brad4d commented on #1866
@dimvar I'd be very happy to take this, if it's OK with you.

[2016-07-14 00:53] shicks commented on #1889
Yes, but Java also emits a warning when you call `Sub.foo()`, since there's no reason to call that over `Base.foo()`.

[2016-07-14 12:00] ChadKillingsworth commented on #1889
It does prevent you from referencing the super class name in more than one place - which I believe was a goal of the `class` keyword syntax.

[2016-07-14 21:43] blickly commented on #1873
Should be fixed by https://github.com/google/closure-compiler/commit/2bb100fb42b9f50e28319291e07e451354c078ed

[2016-07-14 21:43] #1873 closed

[2016-07-15 05:25] supersteves commented on #1873
:+1: Thanks!

[2016-07-15 09:03] vobruba-martin opened #1893 "Caught Error has the unknown type"
I'm trying to get ```100% typed``` in my projects but currently all caught errors have the unknown type and I cannot reach 100%.
[code]
This results in ```87.5% typed```. If I remove ```console.log(e);``` line I will get 100%.

I tried ```--jscomp_warning 'reportUnknownTypes'``` and got
in NTI:
[code]
in OTI:
[code]

[2016-07-15 15:45] dimvar commented on #1893
"Report unknown types" is meant mostly for compiler developers while debugging. You are free to use it, but it's a noisy option, and we don't provide much support for it for users. Instead, you should use the conformance checks related to unknown types: https://github.com/google/closure-compiler/wiki/JS-Conformance-Framework#example-conformance-checks

For this particular example, the problem is t

[2016-07-15 18:22] pspeter3 opened #1894 "Advanced Mode Compilation For TypeScript Namespaces"
TypeScript has a namespace feature which generates fairly simple code that the Closure Compiler seems to not optimize how I would expect.
#### Setup
###### `math_helpers.ts`

[code]
###### `math_helpers.js`

[code]
###### `root.js`

[code]
###### `actual`

[code]
###### `expected`

[code]

[2016-07-15 18:38] dimvar commented on #1894
@mprobst @evmar how do you deal with this? Do you preprocess and inline such code before passing on the compiler? I remember discussing this pattern before but I don't remember what the resolution was.

[2016-07-15 18:40] evmar commented on #1894
We "solved" this by disallowing use of namespace in google3 code.

I have some more examples of troublesome TypeScript patterns on this bug:
https://github.com/angular/tsickle/issues/132

[2016-07-15 18:43] evmar commented on #1894
PS: on the example in this bug in particular, the code is bad TypeScript (this pattern is explicitly called out in the TypeScript docs on how to use namespaces).  ES6 modules are themselves namespaces already so you don't need to introduce another.

Instead write:

[code]

The user of this then needs to use
[code]
instead of
[code]

[2016-07-15 18:45] evmar commented on #1894
(See "Needless Namespacing" at https://www.typescriptlang.org/docs/handbook/namespaces-and-modules.html .  However, this doesn't solve the larger problem of how namespaces and Closure compiler interact.)

[2016-07-15 19:10] pspeter3 commented on #1894
If we use the `import *` syntax, will the Closure Compiler tree shake appropriately?

[2016-07-15 19:10] pspeter3 commented on #1894
We were experimenting with namespaces under the assumption that `import *` was bad for minification

[2016-07-15 19:14] ChadKillingsworth commented on #1894
That particular code pattern has long been problematic. The biggest sticking point is the IIFE wrapper and the fact that type information is lost with it.

[2016-07-15 19:23] pspeter3 commented on #1894
It seems like `import *` does the correct thing. I still think this issue is academically interesting but my issue is resolved.

[2016-07-15 19:29] JdeH opened #1895 "generator transpilation: deeply nested variable declarations not handled correctly"
Hi,

Thanks for a great tool that saves me a lot of work!
I am using Closure v20160713 to minify autogenerated JS code.
It is started up by the [Transcrypt](http://www.transcrypt.org) Python to JS compiler with the options given below (javaScriptVersion == 6):

[code]

Function 'accumulate' (part of Python 3.5 itertools module) works correctly in Chrome without using Closure to minify, but doesn't

[2016-07-15 19:36] evmar commented on #1894
The rewrite I suggested works around the problem one level of namespacing, but multiple levels of namespacing still introduce the IIFE.  However, perhaps that isn't Closure compiler's problem (the generated code is a pattern that is hard for it to understand).

[2016-07-15 21:45] brad4d commented on #1895
https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/Es6RewriteGenerators.java#L318

I think the trouble is that none of the methods called by translateStatementInOriginalBody() check for child var statements.

[2016-07-15 21:46] Dominator008 commented on #1857
Closed by https://github.com/google/closure-compiler/commit/cdf064187bd660fad4b5b65b12be5e2a043779eb

[2016-07-15 21:47] MatrixFrog commented on #1895
Might be easiest to first move all hoisted vars to the top of the generator as a preprocessing step. Or if we want to be a little more extreme, disallow `var` inside of generators :)

[2016-07-15 21:52] #1857 closed

[2016-07-15 22:41] brad4d commented on #1895
That sounds about right.
To be safe, I think we'll need to create top-level var declarations for all variables in the function, with unique generated names for any 'let' or 'const' variables in case the same name is declared in multiple code blocks.

[2016-07-15 22:45] MatrixFrog commented on #1895
We already unique-ify names of let/const variables. Not sure if any further uniquification is necessary. cc @matthewloring who did the original generator transpilation work.

[2016-07-16 07:08] shicks commented on #1890
This is actually something I was working on earlier this week.  I'm hoping to land it next week.

[2016-07-16 07:13] shicks opened #1897 "ES6 imports of paths with '.js' extension does not work"
The compiler seems to want to add the extension.  I'm not super-clear on the spec, but my understanding is that an extension is allowed and if it's present, none will be added.

[2016-07-17 07:15] shicks commented on #1709
We now implement these polyfills (going with option 2, and taking some reasonable measures to prevent breakages due to sealed keys).

[2016-07-17 07:15] #1709 closed

[2016-07-17 07:18] shicks commented on #1603
We've significantly changed the way we handle polyfills.  Compiling an empty source with `--inject_library=es6_runtime` should bring in all polyfills, and does not require any source rewriting to use.  It's been a while, but if this does not meet your needs, please re-open.

[2016-07-17 07:18] #1603 closed

[2016-07-17 12:58] ChadKillingsworth commented on #1897
See discussion on #1774

[2016-07-17 14:17] caridy commented on #1603
@shicks if we want to compile a source, that does the remapping of the polyfills, and does not require the polyfills to be included in the output (because we have them in another file), will that work? what's the configuration option to remap without including the polyfills?

[2016-07-17 21:55] mashedcode commented on #1603
@caridy It might be possible to [split things into modules](http://stackoverflow.com/a/10401030/6572285) and have one module which provides `$jscomp` or which uses all the es6 polyfills on which the other modules depend.

[2016-07-18 01:39] caridy commented on #1603
that is an anti-pattern, modules should not import polyfills in any way, nor details of the transpiler.

[2016-07-18 01:52] mfikes opened #1899 "Self-assign failure under ADVANCED"
Let `self.js` contain:

[code]

Then:

[code]

With older versions of the compiler you'd get a "node is not a child" error:

[code]

[2016-07-18 01:53] mfikes commented on #1339
One way to provoke the "node is not a child" error described above is captured in #1899

[2016-07-19 00:53] pspeter3 opened #1900 "Compiler cannot find entry point when using js_module_root without using exports"
When running the below command, failing to export a symbol while using the `entry_point` and `js_module_root` flags causes the entry point to be unknown. I believe this is caused by the logic in these lines https://github.com/google/closure-compiler/blob/747aa4dfc5fb8c7a10dcaf96abb122cc72825fdb/src/com/google/javascript/jscomp/deps/Es6SortedDependencies.java#L192-L198

[code]

###### example/failu

[2016-07-19 00:58] ChadKillingsworth commented on #1900
Entry points must be module paths - they must either begin with a `/`, `../` or `./`.

Try something like:

[code]

[2016-07-19 01:07] pspeter3 commented on #1900
Adding a leading slash for me does not work.

[2016-07-19 01:25] ChadKillingsworth commented on #1900
Just ran a test - looks like the js_module_root does not affect the entry_point. You'll need to specify the actual path:

```--entry_point './example/failure'```

[2016-07-19 02:00] pspeter3 commented on #1900
Ah so `example/success.js` does work which is just a fluke then. I'll switch to using file paths

[2016-07-19 02:18] marcfallows opened #1901 "`super` not correctly bound in arrow functions"
In this contrived example:
[code]
Closure compiler binds the super call to `this`, when instead it should be bound to the context of the arrow function. This is a snippet of what gets generated:
[code]
But I would expect something like this:
[code]
(See [here](https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_lev

[2016-07-19 03:39] cramforce opened #1902 "Function is not being inlined"
We are trying to find out why a function is not being inlined in some cases.

The callsites look like this:

[code]

…and the function itself looks like:

[code]

Most calls of the function are being inlined.

[2016-07-19 08:15] vobruba-martin commented on #1866
This issue is fixed now. Thanks!

[2016-07-19 08:15] #1866 closed

[2016-07-19 11:27] aberent opened #1903 "java.util.ConcurrentModificationException in compiler"
If I run multiple instances of the compiler simultaneously, by running multiple CommandLineRunners on different threads, I occasionally get java.util.ConcurrentModificationExceptions. The stack I get is:

ERROR: java.util.ConcurrentModificationException
java.util.concurrent.ExecutionException: java.util.ConcurrentModificationException
	at java.util.concurrent.FutureTask.report(FutureTask.java:122)

[2016-07-19 13:47] #1900 closed

[2016-07-19 15:42] caridy opened #1904 "compiling ES modules with export statements in entry point"
When attempting to compile a module called foo, which imports other relative modules, e.g.:

[code]

using a variation of the following command:

[code]

I'm having issues with the export statements defined in the entry point (`src/foo`), the question is: how can those exports be allocated into an object, and exported somehow? Additionally, if using `--assume_function_wrapper`, how can we signal t

[2016-07-19 15:46] caridy commented on #1603
@mashedcode to be more specific, if I have a `src/` folder with my ES Modules, I should be able to compile it with Closure or with babel, or with whatever transpiler I choose to use, and my source code should not change by any means. If it requires changes to accommodate the transpiler, what are you going to do when your runtime start supporting modules natively?

[2016-07-19 15:52] caridy opened #1905 "remap polyfills (via $jscomp) without including $jscomp definition in the output"
When splitting the app into "bundles", sharing `$jscomp` definitions between all bundles could be beneficial, especially if the rollups are created by concatenating "bundles" on-demand.

With the new option `--inject_library=es6_runtime` we can easily externalize `$jscomp` definitions that can be used to patch the environment, but the missing part is how to compile modules with the proper mapping

[2016-07-19 15:53] caridy commented on #1603
I have created a new issue to track down this particular request: https://github.com/google/closure-compiler/issues/1905

[2016-07-19 16:00] ChadKillingsworth commented on #1905
I'm really unclear on the details of what you are doing.

 1. What compilation mode?
 2. Are you running a single compilation or multiple?
 3. How are you splitting your app into "bundles"?
 4. How is your output designed to be consumed?

[2016-07-19 17:16] caridy commented on #1905
A variation of the following with some extra wrapping:

[code]

Compiling multiple sections, and producing multiple files (or bundles).

Think of a bundle as a folder with few ES modules, an entry point, and few external dependencies. Compiling each folder separately produces a fold, exporting the internals of the fold via a wrapper.

bundles can be provision and evaluated at any given time, and s

[2016-07-19 17:23] caridy commented on #1905
Additionally, the request here is to have an option to match babel's polyfilling strategy, which allows you to have the polyfills separate (as part of the runtime patching mechanism) and getting all your compiled code to map to those polyfills. Currently, there is no way to compile a module while mapping to `$jscomp` without including the polyfills at the top of the output, even when `$jscomp` can

[2016-07-19 17:28] MatrixFrog commented on #1901
This is indeed contrived :)

Can you tell us more about how you ran into this case? I'm inclined to just ban `super` within arrow functions entirely but there might be a good reason not to.

[2016-07-19 17:35] ChadKillingsworth commented on #1905
With `ADVANCED` mode, the compiler would compile all of your "bundles" as a single job and split the output. It would move between the bundles when it thinks it's safe to do so.

With `SIMPLE` mode, it's a little trickier. You would have to do the heavy lifting.

That's pretty general. I need specifics. Are you expecting your bundles to be a CommonJS module? Are you wanting to export a namespace?

[2016-07-19 17:46] mashedcode commented on #1603
@caridy I didn't disagree - so you're probably right that the idea I had wasn't particularly great.

[2016-07-19 18:31] MatrixFrog opened #1906 "Warn if goog.object.createSet optimization would create an illegal (in strict mode) object literal"
https://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520set%2520%253D%2520goog.object.createSet('a'%252C%2520'b'%252C%2520'b'%252C%2520'c')%253B%26input1%26conformanceConfig%26externs%3Dvar%2520goog%253B%250Agoog.object%253B%250Agoog.object.createSet%253B%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26CLOSURE_PASS%3D1%26LANG_IN_IS_ES6%3D1%26MISSIN

[2016-07-19 18:34] MatrixFrog commented on #1906
Already sent a change to remove the duplicate 'br' at https://github.com/google/closure-library/blob/b1c29d2d086eca9a603ab063a6d3957a22b57f25/closure/goog/format/htmlprettyprinter.js#L136-L137 but I suspect if we add this compiler error then we'll find more duplicates lurking :)

[2016-07-19 19:06] caridy commented on #1905
* CommonJS or System.register or any similar (and arbitrary) format that we can define and add via the wrapper.
* no namespace (we don't want to leak out of the bundle)
* they can be loaded as script tags, which will call to register the bundle into some sort of global register via the wrapper.

That's precisely the idea. Adding a bundle/module wrapper that helps us to control them.

Maybe I shoul

[2016-07-19 21:07] DavidSouther opened #1907 "ES6: Fails to bind correct `this` for `super` in arrow callbacks`"
Calling `super` from an arrow function doesn't use the defining method scope, but instead uses the calling scope.

Repro:

[code]

Specifically, we're looking at X's foo implementation, which gets compiled as:

[code]

It should be:

[code]

or similar

[2016-07-19 21:11] MatrixFrog commented on #1907
Similar to https://github.com/google/closure-compiler/issues/1901 but this is a lot clearer. Might just be a matter of reordering things so that we handle `super` before rewriting `=>` functions.

[2016-07-19 21:57] ChadKillingsworth commented on #1905
You should check out the `--module` flag (for code splitting) and compile all of your code in a single compilation job. The runtime and polyfills will only be included in your base module. That's the preferred method of doing things like this.

[2016-07-19 22:06] marcfallows commented on #1901
Yes contrived, but the result is very clear that closure compiler is binding `super` calls to the wrong context.

I do not feel like banning `super` is the correct solution. Babel transpiles this case correctly.

This is perhaps a clearer example:
[code]

The CC output for the `SubView`'s `remove` is:
[code]
As you can see, `postCleanup` call is bound to the right context by calling on `a`.
`super

[2016-07-19 22:48] MatrixFrog commented on #1907
https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520Y%2520%257B%257D%250A%250Aclass%2520X%2520extends%2520Y%2520%257B%250A%2520%2520foo()%2520%257B%250A%2520%2520%2520%2520Promise.resolve().then(()%2520%253D%253E%2520%257B%250A%2520%2520%2520%2520%2520%2520super.foo()%253B%250A%2520%2520%2520%2520%257D)%253B%250A%2520%2520%257D%250A%257D%26input1%26conformanceConfig%26externs%26refas

[2016-07-19 23:23] pspeter3 commented on #1900
So interestingly enough, if you do pass the file name but have exports, the compiler cannot find the entry point.

[2016-07-19 23:32] MatrixFrog commented on #1901
Thanks. Closing this since #1907 is the same issue.

[2016-07-19 23:32] #1901 closed

[2016-07-20 03:38] cramforce commented on #1902
Found out the reason: It was because of the no inlining if temps have to be introduced into scopes that have functions.

[2016-07-20 03:38] #1902 closed

[2016-07-20 11:33] DavidSouther commented on #1901
Hah - I went searching for "super" and "arrow" before writing #1907! @marcfallows posted this between me searching the issues and writing my repro case! :)

[2016-07-20 11:34] DavidSouther commented on #1901
Not contrived at all - in #1907 this is a common practice that was bound to happen with Promises.

[2016-07-20 11:40] morille opened #1908 "Clash between externs and object properties using advanced optimization"
The compiler seems unable to rename instance properties when the same name appears in externs. For example the following code on the online compiler:

[code]

Will compile to:
[code]

If I remove the extern, it compiles correctly to:
[code]

Is there a way to help the compiler to make the difference between both ?

[2016-07-20 12:05] ChadKillingsworth commented on #1908
You need to enable the [type-based optimizations](https://github.com/google/closure-compiler/wiki/Type-Based-Property-Renaming) for this to be supported. They are on by default in the command line version of the compiler, but not in the web service:

[code]

[2016-07-20 12:05] #1908 closed

[2016-07-20 12:42] morille commented on #1908
I'm using the command line.
But I just realized that this functionnality is broken in the latest version from here: https://github.com/google/closure-compiler/wiki/Binary-Downloads
v20160713 => BROKEN
v20160619 => OK

[2016-07-20 12:46] ChadKillingsworth commented on #1908
I got the same results for your test case from the command line runner - latest version.

[2016-07-20 12:50] morille commented on #1908
Here is the test case:

[code]

[code]

Test with latest compiler:
    java -jar closure-compiler-v20160713.jar --compilation_level ADVANCED_OPTIMIZATIONS --use_types_for_optimization true --externs device.js --js app.js --js_output_file app.min.js

Content of app.min.js:
    var a=new function(){this.device="test"};a.device="test2";alert(a.device);

Test with previous compiler:
    java -jar comp

[2016-07-20 12:57] ChadKillingsworth commented on #1904
Applies to both CommonJS and ES6 modules.

**entry.js**
[code]

**foo.js**
[code]

[2016-07-20 15:42] MatrixFrog commented on #1901
The initial example was contrived, not the bug report.

[2016-07-20 16:00] caridy commented on #1905
@ChadKillingsworth we have tried `--module` flag, but that doesn't come close, we are talking about ~2500 bundles, each with at least 2 modules, plus 1K coming from another filesystem. Closure compiler simply blows away (from leaking to just taking too much time when the number of modules to be compile is too big), and considering that the relationship between the bundles is via an indirection (an

[2016-07-20 17:35] emaxx-google opened #1909 "Wrong code produced for methods named like "addListener" when VERBOSE warning level is on"
Consider this sample code:
[code]

**A.** Compiling this with compiler **v20160713** and **"--compilation_level=SIMPLE --formatting=PRETTY_PRINT --warning_level=VERBOSE"** command line options, the following output is produced:

[code]

I.e., for some reason, the compiler **obfuscated** the names of the "addListener" and "removeListener" methods.

I also have a reproducible case when the compiler

[2016-07-20 17:35] #1907 closed

[2016-07-20 18:06] MatrixFrog commented on #1909
I believe 81eecbfda3d545987c2f9004952d9298a3d24611 fixes this. For now, I would recommend setting `--use_types_for_optimization=false` explicitly. Let us know if that doesn't work.

[2016-07-20 18:06] #1909 closed