[2014-11-25 01:32] #710 closed, assigned to nobody

[2014-11-25 04:50] liolick opened #711 "Wrong document.open annotation in bundled externs"
v20141023 of Closure Compiler.
When I compile:
window.document.open('text/html', 'replace');
I got:
JSC_WRONG_ARGUMENT_COUNT: Function HTMLDocument.prototype.open: called with 2 argument(s). Function requires at least 0 argument(s) and no more than 0 argument(s). at line 2 character 0
window.document.open('text/html', 'replace');

[2014-11-25 17:55] #711 closed, assigned to nobody

[2014-11-25 18:14] crdev opened #713 "With missing @override reporting, the compiler complains about __proto__ being overridden"
Setting the `__proto__` property is a common way to establish the inheritance chain, so it is too common a situation when it is overridden. Definitely, it should not require the `@override` annotation.

[2014-11-26 15:48] #713 closed, assigned to nobody

[2014-11-26 15:56] benkwa opened #715 "Promise chains are not correctly type-checked"
The following (valid, afaict) code:
[code]

Produces errors:

The problem appears to be that the type-checker is not correctly unwrapping promised return values prior to type-checking them against the next callback in the chain.

[2014-11-26 16:49] kornelski opened #716 "Support ES5 by default"
ES5 is an old news now, but CC doesn't allow it by default yet (which is very surprising to me, because I haven't had this problem with any other JS tool I use).

I suggest defaulting the `--language_in` switch to `ECMASCRIPT5`. Being able to set it explicitly is not enough, because this option is not well known and users assume CC doesn't support ES5 at all (https://github.com/pornel/slip/pull/24

[2014-11-26 17:37] #716 closed, assigned to nobody

[2014-11-27 05:56] pvolok opened #717 "Transpiling of `for (let x of ...)` doesn't transpile `let`."
In the following example `let str` doesn't get renamed. In `for (let str;;)` it's renamed as it should be.
[code]

https://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520str%2520%253D%2520'hi'%253B%250A%250Afor%2520(let%2520str%2520of%2520%255B1%252C%25202%252C%25203%255D)%2520%257B%250A%2520%2520alert(str)%253B%250A%257D%250A%250Aalert(str)%253B%250A%26input1%26conformanceConfig%26extern

[2014-11-27 12:53] crdev opened #719 "Multiple compilation errors for suggestion-related tests"
The `com.google.javascript.refactoring.testing.SuggestedFixes` class is not found, as it resides in the `src/` directory rather than `test/`.

[2014-12-01 11:25] alechewitt opened #722 "Quoted methods being removed when compiling in advanced mode"
I am using closure with angular and I have come across an issue with methods on the prototype being removed even if they are in quotes when compiling in advanced mode.

With the below code in advanced mode I would expect the methods sayHello and sayGoodbye to be preserved as they are in quotes however they are completely removed.
[code]

The output of this when using pretty print is the following:

[2014-12-01 19:13] #203 closed, assigned to nobody

[2014-12-01 19:55] ngermer opened #723 "Non-nullable return types with generics lost by compiler"
It looks like the compiler is losing the not-nullable '!' part of the type annotations when we use templated types.  This seems bad.

The sample below gives the following error:

[code]

Sample:

[code]

[2014-12-01 21:21] #723 closed, assigned to nobody

[2014-12-02 17:10] #719 closed, assigned to MatrixFrog

[2014-12-02 19:21] ChadKillingsworth opened #726 "Using manage_closure_dependencies with module flags"
Now that you can just feed all of closure-library into the compiler, specifying the number of files in a module is problematic. Example compiler flags:

[code]

The number of files in the base module changes based on changes to closure-library and there isn't an easy way to provide the correct number at build time.

Would it be possible to allow a value of "auto" for the base module only?

[2014-12-02 20:21] metaweta opened #727 "Disallow types other than string as keys for Object"
The introduction of the Symbol class in ES6 is to get around the restriction in ES3 and ES5 that all keys for objects get cast to strings.  The compiler should at least warn and preferably disallow anything but strings as keys to make that explicit, though number might be a reasonable exception.

`/** @type {Object<Object, string>} */ var myMap; // should fail to typecheck`

[2014-12-04 04:06] pvolok opened #729 "Static prop gets eliminated if used through passed ctor"
Input:

[code]

Output:

[code]

[2014-12-04 16:11] #729 closed, assigned to nobody

[2014-12-04 22:13] wessleym opened #730 "Argument Count Error"
I am running the version of Closure Compiler that I downloaded yesterday.
I would think the below code would produce a warning regarding the number of arguments used in the call to `staticMethod` (within `onload`).  It does not.  But if `privatelyUsedMethod`'s declaration and reference (within `staticMethod`) are deleted, I get the warning I would expect.

[code]

Also, I would think the below cod

[2014-12-05 13:28] ghost opened #732 "Request for @expose annotation"
Would it be possible to add a new `@expose` annotation that tells the compiler **not** to rename the annotated definition? I know we can do something along the lines of `this['foo'] = 'bob'` but it becomes incredibly messy after a while, and it's generally a horrible way to write code.

I believe something like this would be much better ...

[code]

Compared to this ...

[code]

I'm not sure if al

[2014-12-05 15:11] #732 closed, assigned to nobody

[2014-12-08 13:58] kayahr opened #738 "Static method scopes confuses visibility check when using separate files"
I'm trying to create a static method scope so I can define static variables for a method and found a bug in Closure Compiler which gets confused by it. Let's take the following minimal example:

[code]

So I define a `Base` class with a protected method in it and a `Sub` class with a method in it which calls this protected method. This method is wrapped with an anonymous scope to provide a static

[2014-12-10 15:06] benkwa opened #739 "Promise resolvers have the wrong signatures"
The resolver passed to the Promise constructor appears to have incorrect signatures for the resolve and reject functions - they seem to require exactly 1 argument, but (iiuc) 0 args should be acceptable too.  For example:

[code]

Will result in the following warnings:
input0:8: WARNING - Function resolve: called with 0 argument(s). Function requires at least 1 argument(s) and no more than 1 argum

[2014-12-10 20:59] pallosp opened #740 "Warn when the thrown object is not an Error instance"
I frequently encounter code that throws strings. The main problem with throwing strings is that they don't have stack traces.

See also the article at http://www.devthought.com/2011/12/22/a-string-is-not-an-error/

[2014-12-10 21:15] #740 closed, assigned to nobody

[2014-12-12 16:54] #739 closed, assigned to nobody

[2014-12-12 18:40] qbanyq opened #741 "Using svg.js externs file now generates several warnings."
When using svg.js externs with `--warning_level=VERBOSE`, closure compiler generates a lot of warnings of the form:

`https://closureidl.googlecode.com/files/svg.js:8951: WARNING - variable Window.prototype.SVGElement redefined with type function (new:SVGElement): ?, original definition at https://closureidl.googlecode.com/files/svg.js:10506 with type function (new:SVGElement): ?`

This started ha

[2014-12-12 21:11] #741 closed, assigned to nobody

[2014-12-13 07:01] #450 closed, assigned to lindner

[2014-12-13 16:08] ganxiyun opened #742 "ES6ModuleLoaderFileSystemTest#testFileSystem fails in Windows"
This test fails in Windows because of the file separator in Windows,

The file separator should be replaced correctly in the test.

[2014-12-15 19:41] sahilb opened #745 "@Const not respected if calling the same function to re-assign"
The @const annotation makes sure if the ID is assigned a value twice or more, it will throw a "JSC_CONSTANT_REASSIGNED_VALUE_ERROR" warning/error.

However, in the following code, changeID is being called multiple times and it compiles successfully.
Happens with both SIMPLE and ADVANCED mode.

/**
- @const
- @type {number}
  */

var ID;

function changeID(x){
  ID = x;
  return x;
}

alert(changeI

[2014-12-15 19:44] #745 closed, assigned to nobody

[2014-12-17 02:01] #685 closed, assigned to nobody

[2014-12-18 19:20] sahilb opened #747 "JSC_INEXISTENT_PROPERTY if lends is used with object reference"
If we use '@lends' with object definition it works but if we re-use this object reference at some other place in the code for 'lends' it does not work.

This will throw the warning: JSC_INEXISTENT_PROPERTY: Property getJerseyNumber never defined on player

var getDetails = {
    getJerseyNumber: function() {
        return Math.random();
    }
};

function mixIn(source, delta) {
    for (var i in

[2014-12-18 20:09] #726 closed, assigned to nobody

[2014-12-18 23:15] Datamance opened #748 "Require.js externs removed?"
This broke my project.

So it's my understanding that somehow the nodejs externs were accidentally removed at some point, which is fine (it appears that the nodejs dir that was formerly under closure-compiler/externs/ is now under closure-compiler/contrib/), but now the "Require.js" set of externs that were formerly under closure-compiler/externs/nodejs/contrib/ are now gone, because there is no l

[2014-12-19 00:07] #738 closed, assigned to Ubehebe

[2014-12-19 01:09] mina86 opened #749 "let and const variables have different rules for annotations but shouldn't"
[code]

Expected result: no warnings and the type annotations applied to the function bound to the variable regardless of which of var, let or const has been used.

[2014-12-20 13:38] kayahr opened #751 "Unknown types reported when transpiling ecmascript 6 class inheritance"
I'm playing around with the ES6 to ES5 transpilation of classes and found a problem with the following simple code:

    class Base {
        constructor() {
        }
    }
    class Child extends Base {
        constructor() {
            super();
        }
    }

I compile the code with the following options:

    -W VERBOSE --jscomp_error reportUnknownTypes --language_in ECMASCRIPT6 --language

[2014-12-20 14:11] kayahr opened #752 "Internal Compiler Error when transpiling ECMAScript 6"
I tried to compile the following code with options `--language_in ECMASCRIPT6_STRICT --language_out ECMASCRIPT5_STRICT`:

[code]

This resulted in the following internal error:

[code]

When removing the `var self =` part of the code then it works. My intention was creating an alias named `self` for the class to easily access static stuff without using the fully qualified class name everytime.

I

[2014-12-22 21:12] nicks opened #755 "Allow unions of nominal-type|null in enums"
If I type,

[code]

I get the error message:

`Bad JSDoc annotation. An enum type cannot be a union type.`

which seems wrong, because I didn't type a union? It seems like it should just quietly assume this means non-null.

http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540constructor%2520*%252F%250Afunction%2520F()%2520%257B%257D%250A%250A%252F**%2520%2540enum%2520%257BF%257

[2014-12-22 22:47] nicks opened #756 "goog.scope variables should be allowed to be constant in new type inference"
Enter the following code:

[code]

And run

`java -jar build/compiler.jar --js=test.js --warning_level=VERBOSE --new_type_inf`

I get the warning:

[code]

The bug is that goog.scope creates a fake namespace, but new type inference doesn't process this namespace correctly.

[2014-12-22 22:49] nicks opened #757 "Symbol and Iterator in ES6 externs are not handled properly"
Assuming a blank file, blank.js, run:

`java -jar build/compiler.jar --js=blank.js --warning_level=VERBOSE --new_type_inf`

I get:

[code]

[2014-12-22 23:08] nicks opened #758 "new type inference crashes with function union"
The real example is more complicated, but here's a simple repro case

[code]

crashes the compiler:

[code]

debugger link:

http://closure-compiler-debugger.appspot.com/#input0%3D%250A%252F**%250A%2520*%2520%2540param%2520%257Bfunction%2520(!Event)%257CFunction%257D%2520handler%2520the%2520callback%2520function%2520for%2520the%2520event%250A%2520*%2520%2540return%2520%257Bnumber%257D%250A%2520*%2

[2014-12-22 23:33] nicks opened #759 "Bogus 'Invalid redeclaration of property' warnings"
With compiler release 20141215, add the following code to test.js:

[code]

and run

[code]

I expect no warnings. Instead I get:

[code]

which seems wrong? I can't repro this on the online debugger, so this might be a recent or recently-fixed regression

[2014-12-22 23:39] nicks opened #760 "Bogus 'incorrect jsdoc annotation' on function typedefs in new type inference"
New type inference rejects this pattern:

[code]

This is a useful pattern when you have a complicated function type that you need to pass around a lot. This is handled fine in old type inference.

http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540typedef%2520%257Bfunction()%257D%2520*%252F%250Avar%2520NoArgumentFunction%253B%250A%250A%252F**%2520%2540type%2520%257BNoArgument

[2014-12-23 07:14] #756 closed, assigned to dimvar

[2014-12-23 17:54] #742 closed, assigned to nobody

[2014-12-23 21:04] lgandras opened #762 ""Null" coalescing type unable to be inferred"
http://en.wikipedia.org/wiki/Null_coalescing_operator#JavaScript

[code]

with `--jscomp_error=checkTypes` generates:

[code]

`y` is inferred correctly whereas `z` not.

[2014-12-23 22:47] #749 closed, assigned to MatrixFrog

[2014-12-24 00:40] #752 closed, assigned to MatrixFrog

[2014-12-24 18:36] cemerick opened #763 "Add externs for Encoding API"
i.e. https://encoding.spec.whatwg.org, currently supported in Firefox and Chrome, polyfilled via https://github.com/inexorabletash/text-encoding. Usage of this API is munged as part of advanced compilation, looks like no externs are defined for it yet.

I am not familiar with the finer points of writing externs files, so my submitting a PR wouldn't be productive. However, I'm using the below with

[2014-12-29 17:42] pauldraper opened #764 "DiagnosticGroups.FILEOVERVIEW_JSDOC doesn't work"
The compiler never warns about duplicate @fileoverview tags, as of c621cfa98e0c217f283c2d41bbf3019662e4fda8.

`DiagnosticGroups.FILEOVERVIEW_JSDOC` is unused.

Possible fixes:
1. Remove it and update the [documentation](https://github.com/google/closure-compiler/wiki/Warnings).
2. Reimplement it.

[2014-12-30 22:41] MatrixFrog opened #766 "The typechecker should know that a getelem on a Uint8Array is a number"
https://groups.google.com/d/topic/closure-compiler-discuss/x4nqNZcIIgg/discussion

If you have an `Array<number>` "arr" then the typechecker knows that `arr[0]` is a number. It should also know that for `Uint8Array`, `Int8Array`, etc.

[code]

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540type%2520%257BArray%253Cnumber%253E%257D%2520*%252F%250Avar%2520arr%2520%253D%2520%

[2015-01-03 02:13] RubrikBonnier opened #769 "Closure Compiler fails to properly remove comments from Pixi.js source files."
Hello. I've noticed very bizarre results from running Closure Compiler on my project using Pixi.js. I decided to make a couple of minimal tests to make sure it's not my fault. Here's what I ran:

java -jar compiler.jar --js pixi.js --js_output_file pixi-done.js --compilation_level ADVANCED_OPTIMIZATIONS
java -jar compiler.jar --js pixi.dev.js --js_output_file pixi.dev-done.js --compilation_level A

[2015-01-03 23:35] MatrixFrog commented on #769
The first thing to do would be to make sure you're on the latest version: `java -jar compiler.jar -version` should give you "Version: v20141215"

When I try this locally I see the comment at the top being left in, but no others. The top comment is left intentionally because it has `@license` in it, meaning that it most likely needs to be kept there for legal reasons. Are you seeing just that one,

[2015-01-04 00:12] RubrikBonnier commented on #769
Version: v20141023
Built on: 2014/10/24 10:20

Almost the latest version. I downloaded the latest one now and tried again. Same results in regards to the comments.

/**
 * @license
 * pixi.js - v2.2.0
 * Copyright (c) 2012-2014, Mat Groves
 * http://goodboydigital.com/
 *
 * Compiled: 2014-12-12
 *
 * pixi.js is licensed under the MIT License.
 * http://www.opensource.org/licenses/mit-license.php

[2015-01-05 17:35] #717 closed

[2015-01-05 18:58] MatrixFrog commented on #769
It looks like we have this hard-coded at https://github.com/google/closure-compiler/blob/master/src%2Fcom%2Fgoogle%2Fjavascript%2Fjscomp%2FCompiler.java#L1823-1828 and I'm very hesitant to change that because it makes it too easily to accidentally violate an open-source license.

Of course you could make changes to your own copy of the compiler but then you'll have to make sure that you're doing w

[2015-01-05 18:58] #769 closed

[2015-01-05 19:37] ChadKillingsworth commented on #769
There was actually an old enhancement request (which I currently cannot find) to make comment blocks starting with `/*!` behave the same way as `@license`.

I didn't realize `@author` tags were being preserved.

[2015-01-05 21:31] wessleym commented on #730
@concavelenz, thank you.  Shouldn't both circumstances produce warnings?  I would think so.  I want to make sure I'm understanding you.

[2015-01-05 22:24] MatrixFrog opened #772 "Add an optional warning for types that are implicitly nullable"
Some people would like for their code to always use `{?Foo}` rather than just `{Foo}` for nullable types, because it's more explicit, and it makes it easier to switch everything to non-nullable by default in the future. We should have an optional warning for the latter form so that teams can ban it.

[2015-01-05 23:40] #699 closed

[2015-01-06 01:19] concavelenz commented on #730
It should but I've seen problems around this before.  Hopefully, the new type inference handles circular type references correctly.

[2015-01-06 01:21] concavelenz commented on #769
@author tags should not be preserved

[2015-01-07 19:03] concavelenz commented on #116
I think this is fixed now?

[2015-01-07 19:04] #121 closed

[2015-01-07 19:05] #125 closed

[2015-01-07 19:20] dimvar commented on #116
Yes, for the case when the bound function is a function literal.

[2015-01-07 19:20] #116 closed

[2015-01-07 19:40] usmonster commented on #164
Suggestion: Also allow comments that start with `/**!` to be both preserved and treated as JSDoc.

Thoughts?

If the idea's any good, it would be nice to collaborate with other JS minifier folks out there on this. I imagine pure minifiers would be more open to supporting this than to implementing JSDoc comment parsing for `@license` or  `@preserve`.

(Note that this would be in addition to--not in

[2015-01-07 23:06] #128 closed

[2015-01-07 23:09] concavelenz commented on #129
This is fixed in the NTI, we aren't going to do anything for the old one.

[2015-01-07 23:12] concavelenz commented on #134
Fixed with InferConst

[2015-01-07 23:12] #134 closed

[2015-01-07 23:14] concavelenz commented on #135
Fixed with InferConst's introduction

[2015-01-07 23:14] #135 closed

[2015-01-07 23:17] concavelenz commented on #136
In the NTI you get a "nullability" warning for that value instead.

[2015-01-07 23:17] #136 closed

[2015-01-07 23:19] concavelenz commented on #137
Close for now, someone can reopen if they still feel this is necessary.

[2015-01-07 23:19] #137 closed

[2015-01-07 23:20] concavelenz commented on #142
I think we are going to leave this as is, and allow folk to handle this with a custom coding convention if they want this behavior.

[2015-01-07 23:20] #142 closed

[2015-01-07 23:22] concavelenz commented on #143
This is a more recent request, github issue 704, that we have to track this request.

[2015-01-07 23:22] #143 closed

[2015-01-07 23:25] concavelenz commented on #145
This require having a unified error reporting.  Which Tyler, I think, has done some work on.  Assign to him until he is done with that.

[2015-01-07 23:30] concavelenz commented on #166
fuzzer find, changing the priority

[2015-01-09 17:16] steida commented on #124
Seems to be fixed.

[2015-01-09 17:53] #124 closed

[2015-01-09 22:39] concavelenz commented on #611
There is some disagreement on what to do here, as it is "whitespace" only.  Feel free to comment on your expectations.

[2015-01-11 07:59] kobezzza opened #773 "Invalid param name"
[code]

[code]

Earlier this syntax worked. This syntax is more convenient than

[code]

Because it allows to add a description of the parameters.

[2015-01-12 02:36] MatrixFrog commented on #773
I don't think we ever supported it. The change is that we used to silently ignore it (meaning the user may believe we're typechecking that param but we're actually not) but now we warn.

I think `--jscomp_off=nonStandardJsDocs` (or `--jscomp_warning=nonStandardJsDocs`) will let the compile succeed.

However, we should consider supporting this since `function f({foo: foo}) { use(foo); }` is valid i

[2015-01-13 19:56] MatrixFrog opened #776 "Add warnings for incorrect use of goog.abstractMethod"
Just spent some time on an issue that boiled down to:

    /** @constructor */
    example.Foo = goog.abstractMethod;

    example.Foo.prototype.bar = goog.abstractMethod;

which should have been

    /** @constructor */
    example.Foo = function() {};

    example.Foo.prototype.bar = goog.abstractMethod;

The compiler removed example.Foo entirely, so then a `goog.inherits(example.SubFoo, example

[2015-01-13 20:28] nicks commented on #776
we've seen similar issues in the past with people mutating other shared functions (e.g., goog.nullFunction) in incompatible ways.

It might be better for closure-library to just call Object.seal on these functions. Or, better yet, add a compiler check that only allows mutations to certain types of functions

[2015-01-15 15:55] concavelenz commented on #776
Since they are shared, it would be good to seal or freeze them, but that would still be a runtime error.  A compile time check would also be good but a check for goog.abstractMethod seems to specific so maybe sealing is the best.

[2015-01-15 16:01] concavelenz commented on #773
I don't think the ES6 syntax has much to do with this.  The parameter would be of type "{foo: SomeType}" even if the function declaration is using destructuring.

[2015-01-15 16:15] moderndegree commented on #636
+1 --export_local_property_definitions would be very helpful

[2015-01-15 20:09] MatrixFrog commented on #773
True, I just meant this style might become more common as ES6 rolls out. But it's a nice style even in ES5 so I'm definitely not against supporting it.

[2015-01-16 15:26] anywhichway opened #779 "SIMPLE_OPTIMIZATIONS claim untrue/unclear"
The documentation for SIMPLE_OPTIMIZATIONS says this: "Compilation with SIMPLE_OPTIMIZATIONS always preserves the functionality of syntactically valid JavaScript, provided that the code does not access local variables using string names (by using eval() statements, for example)."

This is at best unclear and and worst untrue. It should perhaps say:  "Compilation with SIMPLE_OPTIMIZATIONS always pr

[2015-01-16 15:29] ChadKillingsworth commented on #779
You mean like what is listed under the [Restrictions for SIMPLE_OPTIMIZATIONS](https://developers.google.com/closure/compiler/docs/limitations) documentation?

[2015-01-16 15:29] #779 closed

[2015-01-16 16:59] agentx-cgn commented on #221
Just downloaded latest compiler and tried language_in with ECMASCRIPT6_STRICT with whitespace and simple. In both cases the process didn't finish within 20 minutes so I killed it. Looking at htop revealed it consumed CPU only a few seconds after start.

Also it warned that ECMASCRIPT6_STRICT is not supported as output language. Is this planned?

Shouldn't at least whitespace work with ECMASCRIPT6_

[2015-01-16 17:10] MatrixFrog commented on #221
The whitespace-only mode will probably work if you remove the check in CompilerOptionsPreprocessor. We just added that check so that users would get a clean error instead of random crashes in passes that don't understand ES6 yet. All passes will eventually understand ES6, it's just not a priority for us until browser support is most of the way there.

The compiler sitting idle for 20 minutes sound

[2015-01-16 17:30] agentx-cgn commented on #221
Thanks. I've got 3 types of warnings/errors:

WARNING - Keywords and reserved words are not allowed as unquoted property names in older versions of JavaScript.
ERROR - this language feature is only supported in es6 mode: short function syntax
ERROR - Parse error. IE8 (and below) will parse trailing commas in array and object literals incorrectly.

Is there an option to disable them? Not sure which

[2015-01-16 17:44] MatrixFrog commented on #221
Can you provide the full command-line that you're using and the JS you're trying to compile?

[2015-01-16 18:11] agentx-cgn commented on #221
java -jar compiler.jar --compilation_level WHITESPACE_ONLY --js hannibal.m.js --js_output_file hannibal.js
https://dl.dropboxusercontent.com/u/354885/0ad/hannibal.m.js

[2015-01-16 18:17] MatrixFrog commented on #221
Switching to --language_in=ES6 (or ES6_STRICT) and --language_out=ES5 (or ES5_STRICT or ES3) should solve all of these:

Keywords as property names (`foo.class`) is allowed in ES5 and up.
Arrow functions (aka "short functions") are allowed in ES6 and up.
Trailing commas in object/array literals are allowed in ES5 and up.

[2015-01-16 18:23] agentx-cgn commented on #221
Well, It should remain ES6. Transpiling Maps and arrow functions will probably slow down the code a lot and --language_in=ES6 *and* language_out=ES6  doesn't work. (ES6 is only supported for transpilation to a lower ECMAScript version...)

[2015-01-16 18:25] MatrixFrog commented on #221
Right. We added the "ES6 is only supported for transpilation" check to avoid crashes, because the huge majority of passes don't support ES6. You're welcome to remove that check in your local version of the compiler, and whitespace-only mode will probably work.

[2015-01-16 18:28] agentx-cgn commented on #221
Not sure I understand, I only have "compiler.jar".

[2015-01-16 18:30] MatrixFrog commented on #221
You'd have to build the compiler yourself with Ant or Maven if you want to make changes to it.

[2015-01-16 18:45] agentx-cgn commented on #221
I see. Is it worth to create an issue to make this internal check a command line option? It would add out-of-the-box minimal ES6 support.

[2015-01-16 18:50] MatrixFrog commented on #221
Yeah, we should probably do that. We'll want it eventually anyway. If you can open a new issue that would be great.

[2015-01-16 19:01] agentx-cgn opened #780 "Make "ES6 is only supported for transpilation" a command line option"
Currently the compiler can't output ES6 JavaScript. Supported is transpiling to e.g ES5, though. However, there are already use cases for at least minimal whitespace compression for ES6 without performance impact as SpiderMonkey, IO.js and recent browsers already support ES6. History: https://github.com/google/closure-compiler/issues/221#issuecomment-70284785

[2015-01-16 19:38] MatrixFrog opened #781 "Allow function annotations on export nodes"
Currently this works, with no warning:

`/** @return {undefined} */ var f = function() {}`

but this gives a warning:

`/** @return {undefined} */ export var f = function() {}`

We should allow both without warnings.

[2015-01-17 03:11] anywhichway commented on #779
Thanks for the quick response! So much documentation to read and remember these days!

And, my claim that it is at best unclear is true. The section on Compilation Levels (https://developers.google.com/closure/compiler/docs/compilation_levels?csw=1) could do with a tweak per my suggestion .. just 9 more words and then completely consistent with the further detail under restrictions on the SIMPLE_O

[2015-01-17 19:06] alexeagle opened #782 "Missing whitespace before some identifiers when --formatting=PRETTY_PRINT"
alexeagle-macbookpro2:closure-compiler alexeagle$ cat bug1.js
var b = true;
var f = function() { return !b; }
alexeagle-macbookpro2:closure-compiler alexeagle$ java -jar build/compiler.jar --formatting=PRETTY_PRINT bug1.js
var b = !0, f = function() {
  return!b;
};

there is a missing space in "return !b"

Also this case:
alexeagle-macbookpro2:closure-compiler alexeagle$ cat bug2.js
var f = funct

[2015-01-18 01:36] ChadKillingsworth commented on #782
Yes the code printer could do much better with human readable output. #131 has similar issues. Probably the only way this will be fixed though is by a patch submission.

[2015-01-18 01:59] alexeagle commented on #782
Sent a pull request for it this afternoon. Thanks!

On Sat, Jan 17, 2015, 5:36 PM Chad Killingsworth <notifications@github.com>
wrote:

[2015-01-19 15:43] Joel-Kornbluh opened #784 "Feature Request: Ability to @extend a generic (templated) class"
It would be really nice if the compiler would understand a class that extends a templated type.
Consider something like this:

    /**
     * @constructor
     */
    function Foo(){
        this.x = 'x';
    };

    /**
     * @constructor
     */
    function Bar(){
        this.y = 'y';
    };

    /**
     * @constructor
     * @param {function(new:T)} FooOrBar
     * @extends {T}
     * @temp

[2015-01-19 17:02] nicks commented on #784
In your example, "`Enhanced` extends `Foo`" means "`Foo` is on the prototype chain of `Enhanced`". That's not what's happening in your code. A type template doesn't make logical sense here: it would lead to obvious self-contradictions and paradoxes.

If you're just looking for a way to annotate class factories, the standard practice is something like
[code]

[2015-01-20 15:47] eborden opened #785 "Failing to unify complex types with explicit annotation"
Closure compiler cannot unify complex types even though it seems to have enough information to do so.

[code]

[code]

Without the explicit cast closure compiler infers the correct types (to a degree), but sometimes annotations are helpful for documentation purposes. However, not including the cast is not a work around, even though closure compiler can recognize the correct type it will not enforc

[2015-01-20 16:02] eborden commented on #785
Note, I am running:

[code]

Additionally the new type inference engine does not have difficulty unifying an explicit cast, but it does fail to type check the 4th call of `blat`.

[2015-01-20 16:51] dimvar commented on #785
The reason the new type inf doesn't warn for blat(c.x.b) is that the type of the x property is not declared. If you annotate it with <code> /** @type {T} */ </code> you will get the warning.

The reason the type of the x property is not inferred is that we don't try to track all assignments to the property. From just the assignment in the constructor, we can't know that it will always have that ty

[2015-01-20 17:01] MatrixFrog commented on #781
Actually there are two issues. One is the warning, the other is that we are actually failing to attach the JSDoc, so the function won't be typechecked using the JSDoc that is there.

[2015-01-21 00:51] concavelenz commented on #781
Yes, we should allow type declaration on exported declarations (of which this is one form).

[2015-01-21 23:36] brianwestphal commented on #576
+1

[2015-01-22 01:30] kvanberendonck opened #787 "addEventListener has wrong type"
Native addEventListener has wrong type (missing `|string` on return).

There is no way to add a well typed event listener using window.addEventListener if the event allows the user to return a string.

One such event that does this is onbeforeunload which lets you return a prompt message ...

Ticked carried over from closure-library#400

[2015-01-22 02:04] ChadKillingsworth commented on #787
Cross link issue: google/closure-library#400

What benefit does strongly typing the return value of a listener provide? Why can't we simply annotate it such that it returns an unknown type?

[code]

[2015-01-22 02:07] kvanberendonck commented on #787
Stops you from returning an object by accident (ie forgetting `.getText()`), I guess.

[2015-01-22 03:43] thomasd16 opened #788 "Add smaller optimization for do while loops"
If you enter the following under advanced compilation level:
[code]
There may be some reason I missed for why this is not implemented weather or not there are fringe cases in witch it changes what the code does.

[2015-01-22 16:26] MatrixFrog commented on #788
My intuition (which could be totally wrong of course) is that do/while loops are used rarely enough that it's not worth it to worry about a few bytes on each one. The change for while loops might be cool though.

[2015-01-22 17:10] ChadKillingsworth opened #789 "Remove Global IIFE Wrappers"
A lot of libraries I come across are almost compatible with closure-compiler. Usually the first step is to remove the IIFE that the code has.

I'd like the compiler to do this for me. A couple of options I've thought of:

1. Custom pass, possibly with a command line flag option.
2. Attempt to treat global IIFEs in a similar manner to goog.scope calls.

[2015-01-22 21:47] thomasd16 commented on #788
Actually I did my math wrong for the plain while loops doing `for(;condition;expression);` takes the same space as `for(;condition;)expression;`

`while(expression,conditiong);` vs `do expression;while(condition);` does save 3 bites. And could be used for any block that boils down to an expression. (No returns, throws, continues, breaks, or nested loops).

Also your intuition appears to be correct

[2015-01-22 23:29] concavelenz commented on #788
Not general enough to pursue.

[2015-01-22 23:29] #788 closed

[2015-01-22 23:32] concavelenz commented on #789
You want a more aggressive function inliner? Or are you looking for type checking?   I think converting them to modules (goog.module,require, or ES6) might be the appropriate way to to do this?

Can you outline the specific goals you are trying to achieve?

[2015-01-22 23:39] ChadKillingsworth commented on #789
Not really an inliner - goog.module might be the right direction.

I see a lot of code like this:

[code]
In quite a few cases (surprisingly), the only thing I have to do is remove the function wrapper to get full advanced optimization support and include the library as source in my project.

It's almost like running a simple inliner as a very early-stage pass.

[2015-01-23 13:15] and7ey opened #791 "Closure Compiler API to support define option"
Looks like currently there is no way to disable/remove debug code with Google Closure Compiler API usage, since it doesn't support `define` flag described here - https://developers.google.com/closure/compiler/docs/js-for-compiler (look for ENABLE_DEBUG variable).

The wiki (https://github.com/google/closure-compiler/wiki/Additional-Webservice-Options) doesn't clarify what is the purpose of `debug`

[2015-01-23 20:57] concavelenz commented on #791
If you use Closure Library, you can use the CLOSURE_DEFINES:

https://github.com/google/closure-library/blob/master/closure/goog/base.js#L83

The compiler will pick those up.

[2015-01-23 21:01] concavelenz commented on #789
I suppose as long as you are not suppressing duplicate var definitions warnings that would be reasonably safe.

[2015-01-23 21:03] ChadKillingsworth commented on #789
So the other option (which is equally appealing) is to recognize that:

[code]
Is basically copying foo to the global scope. This would fix a huge number of issues.

[2015-01-24 01:02] concavelenz commented on #789
Currently, we consider that to be an "export".

[2015-01-24 01:24] MatrixFrog commented on #781
In progress...

[2015-01-25 17:58] and7ey commented on #791
Thanks, but I don't use it. And usage of the library increases compressed size of my script from ~8Kb to ~27Kb.

[2015-01-26 12:33] usmonster commented on #577
Related: #153? The [original issue](https://code.google.com/p/closure-compiler/issues/detail?id=599) concludes that an "array-like" type (with length, numbered keys/indices, and optional type information) would be welcome.. Is this still the case?

[2015-01-26 17:37] #772 closed

[2015-01-26 17:37] #781 closed

[2015-01-26 19:35] MatrixFrog commented on #779
Added a little more text there so it should be a bit clearer.

[2015-01-27 00:24] alexeagle opened #792 "Broken links on https://github.com/google/closure-compiler/wiki/Externs-For-Common-Libraries"
For example, https://github.com/google/closure-compiler/tree/master/contrib/externs/angular.js

[2015-01-27 00:26] MatrixFrog commented on #792
Looks like the right link is https://github.com/google/closure-compiler/blob/master/contrib/externs/angular-1.3.js (or s/1.3/1.2/ or whatever). The wiki should be editable by anyone.

[2015-01-27 00:30] alexeagle commented on #792
Fixed.

[2015-01-27 00:30] #792 closed

[2015-01-27 02:02] webbedspace opened #793 "Chained object destructuring doesn't work"
Compiling the line `0,{a,b} = {c,d} = {a:1,b:2,c:3,d:4};` in ES6 mode results in this error:

[code]

[2015-01-27 08:54] MarbleDaemon opened #794 "Eror devirtualizing prototype methods of classes that share an interface's method"
The below code won't get devirtualized correctly:

[code]

Through advanced closure compiler, we would receive:

[code]

As we can see the "ClassA.doIt" and "ClassB.doIt" methods is not correctly devirtualize even though they are unrelated and returns the correct object type. And "Interface.doIt" is not even referenced.

Deleting the definition of "Interface.doIt", and devirtualization is executed

[2015-01-27 11:29] mkresin commented on #791
Same problem here and solution found. The mentioned file above has a the variable COMPILED defined with the following comment:

The Google Closure Compiler webservice overrides this variable as well. Dunno if this behaviour is expected and/or somewhere documented.

[code]

[2015-01-27 12:45] artemyarulin commented on #299
Hello,

I have the same issue (but this time I'm using `process_common_js_modules`), but I guess the reason is the same. From previous description on code.google:
[code]

Because of this issue there is no way to use custom types for type checks if you are using `translate_amd_modules` or `process_common_js_modules` and maybe `rewrite_es6_modules`).

Java is not my main language, but if you can poi

[2015-01-27 17:57] MatrixFrog opened #795 "Only generate one goog.provide per module and one goog.require per import"
Currently, we generate a goog.provide() for the module, plus another one for each exported variable in the module. It will be simpler to just generate a single provide for the entire module, and then a single require for each import statement.

[2015-01-27 20:17] si-robertson commented on #780
I should be able to sort this one out this week, as discussed [here](https://groups.google.com/forum/#!topic/closure-compiler-discuss/fWsa3YzrRXA), so consider it to be in-progress.

[2015-01-27 21:32] ewinslow opened #796 "Support trailing commas in typedefs"
Example input:

[code]

JS compiler currently gives a complaint like so:

[code]

Trailing commas are handy for being able to reorder the items listed easily. Plus, trailing commas are valid in JS, so it would seem natural to support them in this kind of context.

[2015-01-27 21:48] MatrixFrog commented on #796
+1, I don't see a downside to this. We (optionally) warn about this for object/array literals, but since these are comments it should be fine.

[2015-01-27 22:15] MatrixFrog opened #797 "Warn when something other than a string is used as an object key"
If you use something other than a string as an object key, it is converted to a string: http://jsfiddle.net/a7obbLdf/

Sometimes this is intentional, but in many cases (particularly if you're using an object that we know has no useful `toString` method) it's an error, so this would probably be good to warn about.

[2015-01-28 14:57] agentx-cgn commented on #780
si-robertson, I read in the group you hit a road block. Could put here a minimal description to document progress?

[2015-01-28 15:34] ChadKillingsworth commented on #789
More thoughts: What would happen if we rewrote the type to be global?

Using the code I posted as an example:

[code]

This would be done only given the following conditions:
 1. The type name was assigned to the global object as a property in an inner scope
 2. The type name did not already exist in the global scope.

[2015-01-28 17:04] si-robertson opened #798 "ES6 Compilation - Internal Compiler Error"
I have been working on adding a new `--allow_es6_to_es6` flag (see #780), which went well, but the compiler is tripping over itself when it reaches a class constructor.

The console output is as follows:

[code]

[2015-01-28 17:04] si-robertson commented on #780
Yep, see issue #798 :)

[2015-01-28 17:08] alexeagle opened #799 "NPE when compiling ES6 -> ES6"
Synced to commit b0fa1d8860edb435545bc2c0b09993e8ec0a0982
with a local modification to bypass the prohibition against es6->es6 in CompilerOptionsPreprocessor

$ java -jar build/compiler.jar --language_in=ES6 --language_out=ES6 src/com/google/javascript/jscomp/js/runtime_type_check.js
java.lang.RuntimeException: INTERNAL COMPILER ERROR.
Please report this problem.

null
  Node(RETURN): src/com/goog

[2015-01-28 17:09] alexeagle commented on #799
Dupe of #798

[2015-01-28 17:09] #799 closed

[2015-01-28 18:03] MatrixFrog commented on #795
This also lets us get rid of the `@suppress {invalidProvide}` in the transpilation.

[2015-01-28 18:04] alexeagle commented on #798
This is the first of many issues with updating the optimization passes to work with es6 inputs. It's probably a good idea to add your flag to resolve #780 but it will only be useful to allow us to discover everything that is broken.

[2015-01-28 18:06] MatrixFrog commented on #798
Right, NPEs like this are the reason I added the restriction in the first place :) Sorry, I probably should have been clearer about that.

[2015-01-28 18:21] si-robertson commented on #798
Should I create a pull request for the new flag or wait until things have settled down a bit at your end?

[2015-01-28 19:08] MatrixFrog commented on #798
The flag will be good to have, so we can find all the places where we don't
support ES6. The documentation for the flag should probably say "Note that
the compiler will probably crash if you use this flag" :)

[2015-01-28 20:11] si-robertson commented on #798
Done.

[2015-01-28 21:24] alexeagle opened #801 "ES6->ES6: IllegalStateException in FlowSensitiveInlineVariables"
(Note: this is only reproducible if earlier broken passes are skipped)

$ java -jar build/compiler.jar --language_in=ES6 --language_out=ES6 src/com/google/javascript/jscomp/js/runtime_type_check.js

java.lang.RuntimeException: INTERNAL COMPILER ERROR.
Please report this problem.

null
  Node(BLOCK): externs.zip//html5.js:1792:50
DataTransfer.prototype.getData = function(format) { return ''; };
  P

[2015-01-28 21:25] alexeagle opened #802 "ES6->ES6: IllegalStateException in DeadAssignmentsElimination"
Note: this is only reproducible if earlier broken passes are skipped.

$ java -jar build/compiler.jar --language_in=ES6 --language_out=ES6 src/com/google/javascript/jscomp/js/runtime_type_check.js

java.lang.RuntimeException: INTERNAL COMPILER ERROR.
Please report this problem.

null
  Node(BLOCK): /Users/alexeagle/Projects/closure-compiler/src/com/google/javascript/jscomp/js/runtime_type_check.js

[2015-01-28 21:26] alexeagle opened #803 "ES6->ES6: IllegalStateException in CoalesceVariableNames"
Note: this is only reproducible if earlier broken passes are skipped.

$ java -jar build/compiler.jar --language_in=ES6 --language_out=ES6 src/com/google/javascript/jscomp/js/runtime_type_check.js

java.lang.RuntimeException: INTERNAL COMPILER ERROR.
Please report this problem.

null
  Node(BLOCK): /Users/alexeagle/Projects/closure-compiler/src/com/google/javascript/jscomp/js/runtime_type_check.js

[2015-01-28 21:27] dimvar commented on #801
Unless I'm missing sth, this is not an issue by itself.

It's part of the larger feature request to support ES6 in optimization passes, which will happen, but not for a while. Or are you thinking of sth else that I'm missing?

[2015-01-28 21:29] alexeagle commented on #798
Tyler: have a look at
https://github.com/alexeagle/closure-compiler/compare/allow_es6_to_es6?expand=1

for a first stab at disabling these broken passes when Si's flag is turned on.

[2015-01-28 21:37] alexeagle commented on #801
Talk to Tyler: this blocks any es6-out mode. No it won't be fixed for a
while but I have a workaround in-progress.
This issue is just to track remaining work.

On Wed, Jan 28, 2015, 1:28 PM Dimitris Vardoulakis <notifications@github.com>
wrote:

[2015-01-28 21:41] dimvar commented on #801
it shouldn't block any es6-out mode that we're currently interested in:
- when es6-to-es6 for whitespace only, optimizations shouldn't run
- when your pass is run, lang-in should be es5 and your pass runs after the optimizations, so they don't see es6

Anyway, since there has been no work to support es6 in optimizations, I think we should only have one issue for that, rather than one issue for eve

[2015-01-28 21:41] #801 closed

[2015-01-28 22:47] si-robertson commented on #798
I'm a bit stuck creating a new pull request at the moment because something somewhere keeps causing entire Java scripts to be flagged as modified by Git. I'm pretty sure it's a line-ending problem but I have no idea what's causing it. Git's autocrlf option is set to true. There's nothing in Eclipse that automatically modifies line-endings.

I will have to get this sorted out tomorrow.

[2015-01-29 01:25] si-robertson commented on #798
Done.

[2015-01-29 04:37] alexeagle commented on #801
Note that I filed three bugs in addition to the original that Si filed, so you've only closed 1/4 that probably should all be treated the same.
Even with the Es6TypeDeclarations pass removed, this bug and the other three still prevent --language_out=es6 for any use case, including mine. (Even when my pass is on, it only attaches a property to Node's which no other code knows to read, so it's not a

[2015-01-29 07:31] nalbion commented on #115
Would this make it possible to chain AtScript/ES6->ES5 transpilation using Traceur followed by minification using Closure?  ...and all you need to do is add the option to the command line handler?  Surely Google & Angular2 devs are doing this already?

[2015-01-29 17:24] MatrixFrog commented on #115
It should work, but I don't know if anyone is using that particular workflow right now. And yes, we (by "we" I mean "someone" -- feel free to send a pull request) should probably add an option in the CommandLineRunner.

[2015-01-29 18:57] alexeagle commented on #782
Fixed by https://github.com/google/closure-compiler/pull/790

[2015-01-29 18:57] #782 closed

[2015-01-29 23:05] alexeagle commented on #803
Per @dimvar we won't keep separate issues open for each pass that isn't es6-ready.

[2015-01-29 23:05] #803 closed

[2015-01-29 23:05] alexeagle commented on #802
Per @dimvar we won't keep separate issues open for each pass that isn't es6-ready.

[2015-01-29 23:06] #802 closed

[2015-01-29 23:15] alexeagle commented on #780
FYI we also need a flag to allow ES5->ES6_TYPED, so I'm planning to rename your flag to
--allow_es6_out

[2015-01-29 23:34] si-robertson commented on #780
@alexeagle What's the purpose of the ES5 to ES6_TYPED conversion?

[2015-01-29 23:47] alexeagle commented on #780
Moving the type declarations from JSDoc to typescript-style inline types,
so we can start on inter-op between closure code and typescript code.

On Thu Jan 29 2015 at 3:43:20 PM Si Robertson <notifications@github.com>
wrote:

[2015-01-30 15:04] alexkowel opened #806 "Missing extern for download attribute used in <a> and <area> nodes."
Other attributes may be missing too, for more info check HTML5 spec: https://html.spec.whatwg.org/multipage/semantics.html#attr-hyperlink-download

[2015-02-01 05:38] concavelenz commented on #806
Best to put together a pull request if you would like them added.

[2015-02-01 20:08] #763 closed

[2015-02-01 20:52] ILOVEPIE opened #807 "Function generates invalid output when compiled with ADVANCED_OPTIMIZATIONS."
the following function which splits a string on the first occurrence of a string does not split the string at all when compiled with ADVANCED_OPTIMIZATIONS:

    //split once implementation
    String.prototype.splitOnce = function(separator) {
        var j = this.indexOf(separator);
        if (j == -1) return [this.trim()];
        return [this.slice(0, j), this.slice(j + 1).trim()];
    };

[2015-02-01 20:57] MatrixFrog commented on #807
I tried this in closure-compiler.appspot.com and it seems to do the right thing:

    String.prototype.splitOnce = function(separator) {
      var j = this.indexOf(separator);
      if (j == -1) return [this.trim()];
      return [this.slice(0, j), this.slice(j + 1).trim()];
    };

    var s = 'foobar';
    alert(s.splitOnce('b'));

compiles to `alert(["foobar".slice(0,3),"foobar".slice(4).trim()

[2015-02-01 20:58] ILOVEPIE commented on #807
sorry i misidentified the issue, i'm closing this issue and opening a new one with the correct problem

[2015-02-01 20:58] #807 closed

[2015-02-01 21:02] ILOVEPIE opened #808 "Closure compiler removes multiple consecutive spaces from inside regex expressions when using ADVANCED_OPTIMIZATIONS"
the following code gets changed from having four spaces in the regex to having one when compiled with ADVANCED_OPTIMIZATIONS:

    alert("this is    borked ".replace(/    /g, " not "));

[2015-02-01 21:23] nicks commented on #808
I just tried it, and I was not able to reproduce this issue. Here is the command I ran:

[code]

are there additional repro steps? what version of the compiler are you using? Are you sure you don't have a script on top of closure-compiler that mangles the spacing?

[2015-02-01 21:34] ILOVEPIE commented on #808
here's my version output:

    java -jar /home/pmartin/DevTools/Closure/compiler.jar --version
    Closure Compiler (http://github.com/google/closure-compiler)
    Version: v20141215
    Built on: 2014/12/17 09:05

actual code in my application that experiences this issue:

    _loadScript: {
        value: function(scriptname) {
            this._ifdepth = 0;
            var request = new XMLHttp

[2015-02-01 21:42] nicks commented on #808
That code snippet does not compile by itself. When I wrapped it in something to make it compile, I was not able to reproduce the issue.

Again, can you provide exact repro steps?

[2015-02-01 21:44] ILOVEPIE commented on #808
nevermind, i fixed it, there was an error with another program i was using, that ended up looking like closure was causing the issue.

[2015-02-01 21:44] #808 closed

[2015-02-02 05:57] j0101s opened #809 "I can't run closure compiler"
Whenever I tried "java -jar compiler.jar", I got exception like below. Both windows 7 and ubuntu, it never worked.  How do I run it?

Environment: java version "1.6.0_20"

[code]

[2015-02-02 08:29] mprobst commented on #809
You need Java version 1.7 to run the compiler.jar that you downloaded.

[2015-02-02 08:29] #809 closed

[2015-02-02 16:51] concavelenz commented on #809
This is in our FAQ: https://github.com/google/closure-compiler/wiki/FAQ#the-compiler-crashes-with-unsupportedclassversionerror-or-unsupported-majorminor-version-510

[2015-02-02 17:39] j0101s commented on #809
yeah thanks. But if the msg is given out when java version is too low, that would be much helpful. Or in readme file.

[2015-02-03 08:26] kejloh opened #811 "Internal Compiler Error - Unexpected variable"
I have a JS project with much automatically generated code.  It's working since many versions of my code and of closure compiler, but now I get an 'Internal Compiler Error' (in Line 741, see the end of this post).

The JS code defines many global string constants, and one of it, called $_$, seems to trigger the issue.  Curiously the same string constant is used several times above line 741 without

[2015-02-03 15:59] concavelenz commented on #811
@kejloh
This error means that the compiler has removed or renamed the definition but a reference remains (notice the VarCheck is during the optimize phase).  This is in fact an internal error.  Is it possible to provide a reproducible case that can be used to narrow down the problem?   Alternately, adding this option --dev_mode=EVERY_PASS should help narrow down where this problem is occurring dur

[2015-02-03 17:01] kejloh commented on #811
@MatrixFrog
Here it is: http://dyn.jloh.de/closure-issue/closure-issue.zip

[2015-02-04 13:11] ChadKillingsworth opened #812 "Turning on the typed-based optimizations by default"
This seems to come up a lot. Unless you are well versed in the compiler project, the expectation is that type information would be used for renaming.

* http://stackoverflow.com/q/28318862/1211524
* http://stackoverflow.com/q/28196051/1211524
* http://stackoverflow.com/q/12671041/1211524

Is it time to turn on the type based optimizations by default?

[2015-02-04 14:35] metrofun commented on #218
:+1:

[2015-02-04 14:42] ChadKillingsworth commented on #218
There are is already a much more flexible method for doing this. You can add the source mapping URL (and much more) with the `output_wrapper` argument.

[code]

[2015-02-04 14:42] #218 closed

[2015-02-04 14:59] metrofun opened #813 "create_source_map combined with the module flag creates only a single source map"
Hi,

Currently `--create_source_maps` creates one source map file, even when using together with  `--module`. What is the most convenient way to create separate source maps for each compiled module?

[2015-02-04 15:31] metrofun commented on #813
Well, looks like that's not a big deal to split the original file manually and add corresponding sourceMappingURLs :+1:

[2015-02-04 15:34] ChadKillingsworth commented on #813
I actually think we should fix this one. Although it's probably going to be a lower priority.

[2015-02-04 17:05] metrofun commented on #333
:+1:   Run into the same problem. I have to generate modules with dashes "-". My current workaround is to use "--module_output_path_prefix" and prefix my modules with whatever name I wish :)

[2015-02-04 17:20] dimvar commented on #812
I'm fine with that. Unless sm has any objections, we can probably do that for the next release.

[2015-02-05 10:58] qudg74 opened #814 "ERROR - 'X' used but not goog.require'd"
In the 20150126 release, I'm getting hundreds of errors like this:

ERROR - 'X' used but not goog.require'd

This happens if I have multiple files included with the '--js' option and function X is defined in one of them, but used in another. In my codebase this happens really often. I have many files without the goog dependency definitions. In all previous releases it worked, i.e. compiler did not

[2015-02-05 12:42] supersteves opened #815 "Advanced compilation of ES6 super.someMethod() is passing unobfuscated name "someMethod" to goog.base"
[code]

The super call turns into:

[code]

and fails:
Uncaught TypeError: Cannot read property 'apply' of undefined

[2015-02-05 13:55] supersteves opened #816 "Constructing an ES6 class from a static method doesn't compile"
Example (this works uncompiled in Canary):
[code]
Error:
[code]

[2015-02-05 14:31] mprobst commented on #115
I'll poke at this.

[2015-02-05 17:14] #795 closed

[2015-02-05 17:33] dimvar commented on #814
For now, you can use
--jscomp_off=missingRequire
to turn off the warning.

But yes, it's a bug to have this warning on by default in code that does not use the closure library.

[2015-02-05 17:35] MatrixFrog commented on #815
Hm, looks to be doing the right thing here: https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520MyClass%2520extends%2520MySuperClass%2520%257B%250A%2520%2520constructor()%2520%257B%250A%2520%2520%257D%250A%2520%2520%252F**%2520%2540override%2520*%252F%250A%2520%2520someMethod()%2520%257B%250A%2520%2520%2520%2520super.someMethod()%253B%250A%2520%2520%257D%250A%257D%26input1%26conforma

[2015-02-05 17:38] supersteves commented on #815
I'm using Closure Compiler from Java directly, and am using advanced compilation with full renaming of properties and so forth. This works fine except for the goog.base call which passes the method "someMethod" as a string, and it is forgetting to rename this value, presumably because it is now a literal string after transpiling?

[2015-02-05 17:47] supersteves commented on #815
I tried the appspot page, how do I enable equivalent of CompilationLevel.ADVANCED_OPTIMIZATIONS and setLanguageIn(LanguageMode.ECMASCRIPT6_STRICT)

[2015-02-05 17:49] supersteves commented on #815
Here it is with superclass and no warnings, but I don't know what I need to tick for advanced optimisations equivalent:

https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520MySuperClass%2520%257B%250A%2520%2520someMethod()%2520%257B%250A%2520%2520%2520%2520console.log(%2522super%2522)%253B%250A%2520%2520%257D%250A%257D%250Aclass%2520MyClass%2520extends%2520MySuperClass%2520%257B%250A

[2015-02-05 17:51] supersteves commented on #815
Ah, got it, here's the problem:
https://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520MySuperClass%2520%257B%250A%2520%2520someMethod()%2520%257B%250A%2520%2520%2520%2520console.log(%2522super%2522)%253B%250A%2520%2520%257D%250A%257D%250Aclass%2520MyClass%2520extends%2520MySuperClass%2520%257B%250A%2520%2520constructor()%2520%257B%250A%2520%2520%257D%250A%2520%2520%252F**%2520%2540over

[2015-02-05 18:24] MatrixFrog commented on #815
Perfect, thanks. The handling for SuperClass.base is at https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/ProcessClosurePrimitives.java#L615 so we need to do something similar for ES6 classes.

[2015-02-05 18:33] dimvar commented on #814
A clarification: are you using both Closure-style and non-Closure-style files in the same compilation, or are you only using non-Closure-style but get the warning anyway?

[2015-02-05 19:47] josephmisiti opened #818 "Create apt-get package"
Is there a reason I can't currently install this lib with `apt-get`?

[2015-02-05 19:49] dimvar commented on #818
We don't plan to support distribution of the compiler as a Linux package. Someone else would have to do it.

[2015-02-05 19:49] #818 closed

[2015-02-05 21:34] #115 closed

[2015-02-06 00:45] concavelenz commented on #815
If you are using goog.module, you want to enable closure processing anyway.

[2015-02-06 00:48] concavelenz commented on #816
How are you running the compiler?

I get a different error:

input0:3: ERROR - ES6-to-ES3 conversion of 'named class in an assignment' is not yet implemented.
exports = class MyClass extends MySuperClass {
          ^

Which makes sense.

http://closure-compiler-debugger.appspot.com/#input0%3Dgoog.module(%2522my.namespace.MyClass%2522)%253B%250Avar%2520MySuperClass%2520%253D%2520goog.require(%2522

[2015-02-06 00:55] concavelenz commented on #812
As I stated previously when this came up before, we should not do this.  Type based optimization rely on accurate type information.  "lies" through unknowns or otherwise generate will cause bad code to be generated.  This kinds of errors are very difficult to track down and can be a significant barrier to entry. If the have to turn it on, they will also know how to turn it off.  It isn't like we h

[2015-02-06 00:59] concavelenz commented on #813
This should be a very manageable fix if someone wants to contribute, the underlying wiring support this (as other command line runners for the compiler support this properly)

[2015-02-06 01:01] concavelenz commented on #218
Chad, do you want to add this to the FAQ?

[2015-02-06 01:10] concavelenz commented on #811
I thought with this enabled, we spit out the name of the pass before we checked them, maybe that was removed at some point, but having the code should allow someone to see where the value is being removed.

[2015-02-06 01:13] concavelenz commented on #798
es6-to-es6 should only work in whitespace only mode right now.  If it doesn't that should be readily fixable.

[2015-02-06 01:22] concavelenz commented on #797
To be clear numbers are ok too.

[2015-02-06 01:29] concavelenz commented on #299
This pass does rewriting similar to what is needed:

https://github.com/google/closure-compiler/blob/5c3faf517e8b31fa5cea5c7ca86d215e31f09a01/src/com/google/javascript/jscomp/ScopedAliases.java

The basic process is controlled by this method:

https://github.com/google/closure-compiler/blob/c804f50534cd6a8c82f59297a0820fecf3c8d9e7/src/com/google/javascript/jscomp/Compiler.java#L1539

Is that suffi

[2015-02-06 01:33] concavelenz commented on #794
Do you have type based optimizations enabled?  If not they won't be disambiguated and devirtualized.

[2015-02-06 07:12] supersteves commented on #816
John,

I got that error too, in the last release, until I updated to yesterday's
tip. There was a recent commit that fixed that.
​

[2015-02-06 07:23] kejloh commented on #811
@concavelenz
Did you see the link to my test case?
http://dyn.jloh.de/closure-issue/closure-issue.zip

[2015-02-06 09:33] supersteves commented on #815
"closure processing"? Is that an option in the appspot page? I'm not
familiar with this page; the link above was only the minimum options I
could tick to get the "someMethod" problem to arise. My experience is with
using a year-old version of Closure Compiler directly in Java, which (back
then) we customised heavily, configuring most options to maximise advanced
compilation.
​

[2015-02-06 13:27] MarbleDaemon commented on #794
I do

[2015-02-06 15:45] ChadKillingsworth commented on #812
@concavelenz I've only once had an issue where incorrect type information caused that issue. I've always seen that as much less of a barrier than property renaming in general (which on it's own is hard to debug).

However maybe this can be addressed another way.

What if we added a warning guard called `renamingReport` that was off by default.  I've long wanted information about what blocks a prop

[2015-02-06 23:06] ChadKillingsworth commented on #218
@concavelenz Done. https://github.com/google/closure-compiler/wiki/FAQ#source-maps-and-sourcemappingurl

[2015-02-07 00:33] concavelenz commented on #794
The interface is interfering with the devirtualization which isn't what I would have expected.  The difference between have the interface definition and not are clearly seen here:
http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540interface%2520*%252F%250Avar%2520Interface%2520%253D%2520function%2520()%257B%257D%253B%250A%250A%252F**%2520%2540return%2520%257BInterface%257D%252

[2015-02-07 05:08] moderndegree commented on #636
Any word on this? @meyertee Could you share the changes you made to CommandLineRunner?

[2015-02-07 06:01] moderndegree commented on #636
@meyertee I think I got it figured out. I just submitted a pull request that should solve the problem. It appears to be working now.

[2015-02-07 15:49] tleunen commented on #115
Great thanks @mprobst

[2015-02-07 18:29] #636 closed

[2015-02-08 11:36] isiahmeadows opened #820 "Out of date methods for Typed Arrays"
See [section 22.2 of the draft](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-typedarray-objects).

[These lines](https://github.com/google/closure-compiler/blob/master/externs/es6.js#L250-L615)  are missing about 80% of the methods for ES6 typed arrays. The static methods also don't exist.

[2015-02-09 14:35] ChadKillingsworth commented on #820
We'd welcome a pull request.

[2015-02-10 07:56] mprobst commented on #115
To be clear @tleunen, this allows you to specify input source maps so that error messages print both the original and the post-transpilation (or whatever) location. It does not produce a merged source map after compilation.

[2015-02-10 11:37] si-robertson opened #821 "Ugly Handling of ES6 Generators"
In a nutshell, see this [JSCompiler Debugger output](https://closure-compiler-debugger.appspot.com/#input0%3Dconst%2520ns%2520%253D%2520%257B%257D%250A%250A%252F**%2520%2540constructor%2520*%252F%250Ans.Iterator%2520%253D%2520function*(iterable)%2520%257B%250A%2520%2520for%2520(value%2520of%2520iterable)%2520%257B%250A%2520%2520%2520%2520yield%2520value%250A%2520%2520%257D%250A%257D%250A%250A%252F

[2015-02-10 17:31] si-robertson opened #822 "Extending Generic Classes in ES6 - No Errors/Warnings"
I'm not sure if I have the JSCompiler Debugger setup correct but the following code doesn't result in any errors or warnings...

[code]

As far as I know, TypeScript supports generics so maybe that will be one solution. I imagine the code looking something like this...

[code]

[2015-02-10 22:33] MatrixFrog commented on #822
Currently we transpile the ES6 to some (admittedly verbose/ugly) ES5 code, involving Function.apply as I recall, and then we typecheck that ES5 code. So we can either:

1) Do a better job typechecking code that uses Function.apply
2) Transpile to ES5 code that can be typechecked better

I would imagine that the new type inference will do 1) but I'd have to check. Eventually, we'll want the typeche

[2015-02-10 22:53] MatrixFrog commented on #821
It's somewhat ugly, yes, but we did make it as pretty as we could. We might have a design doc somewhere which would shed a little light on why the output is the way it is.

@matthewloring did some rough unscientific tests and found that our transpiled generators were about as fast or faster than the output from Traceur or Regenerator (from Facebook).

In this particular case, I am surprised the sw

[2015-02-11 11:00] qudg74 commented on #814
Aha, it's missingRequire! Thanks for help. I always had in my compilation script:
--jscomp_error missingRequire
(together with all other --jscomp_error options I found in --help, kind of like -Wall, which I couldn't find).

So it's not the default compiler behavior that has changed. It's the behavior of missingRequire in the 20150126 release. But that's not a problem at all, so I'm closing this is

[2015-02-11 11:00] #814 closed

[2015-02-13 04:29] si-robertson opened #824 "New Annotations (enhancement request)"
Hi guys,

I'm currently working on a tool that converts Web IDL definitions to externs (a brief discussion can be found in the [closure-compiler-discuss](https://groups.google.com/forum/#!topic/closure-compiler-discuss/0vYO7JsRLj4) group) and I believe a couple of new annotations for externs would be beneficial for developers and compile-time error checking.

These annotations would allow the comp

[2015-02-13 17:11] dpashkevich commented on #636
Thanks for merging in the `--export_local_property_definitions` flag into the published jar! I'm working on an Angular app and would really benefit from it. For now I'm using the deprecated `@expose` in the same way. I assume it will come out with the next release?

I have another quesion. The [guide on using Angular with Closure Compiler](http://google-styleguide.googlecode.com/svn/trunk/angularj

[2015-02-13 18:54] ChadKillingsworth commented on #824
I think this would require major changes in the compiler. The compiler is built with only a single global scope in mind.

As for implementation, I was hoping the `--jscontext` flag you proposed would simply load distinct sets of externs. If an extern is valid in more than one set, we could just duplicate it. This shouldn't be a problem when they are auto-generated.

We would of course need a base

[2015-02-13 19:25] si-robertson commented on #824
Splitting up the externs for each global scope won't be a problem, in fact that's probably the best way to handle things. What I will do is generate a directory structure for the global scopes and populate it with individual extern files (e.g. one extern per interface).

I'm going to close this issue because the requested annotations won't be needed now.

As far as various ES flavors go that's goi

[2015-02-13 19:25] #824 closed

[2015-02-13 20:02] moderndegree commented on #636
@dpashkevich, I think those docs are inaccurate. You should only need "--generate_exports" and "--export_local_property_definitions". As far as the release date, I have no idea. However, you should be able to compile your own jar until then.

[2015-02-13 21:24] dpashkevich commented on #636
Ok, thanks for the clarification @moderndegree!

[2015-02-13 23:26] dhai opened #825 "not-null / const annotation not used when optimizing for inlining"
given the following function:

	/**
	 * @param {!Object} a
	 */
	function check(a) {
		if (a) {
			console.log('exists');
		} else {
			console.log('not exists');
		}
	}

When calling with a new expression or a

	check({});
	// compiles to: console.log("exists");

	check(console);
	// compiles to: console ? console.log("exists") : console.log("not exists");

I checked the declaration of console, i

[2015-02-15 15:37] impinball commented on #820
I'm currently working on it. It'll take a few more days to get the rest of the API sorted out. Expect about 80% of the file to be replaced with new material.

What's sad is that I'm having to make a script to help me create the mass of JSDoc quicker. (Only the generated code will be included, since manual fine-tuning will be required.)

[2015-02-16 19:58] myphysicslab opened #826 "warning "property never defined" disappears when unused class is required"
The warning `property {0} never defined on {1}` disappears when an unused class is `goog.require`d.

I have been noticing several cases where the compiler was failing to provide warnings on code where warnings should occur; this is the first case I've been able to track down and reduce to a simplified case. I am losing my trust in the compiler!

I created a simplified example which involves 4 inte

[2015-02-16 23:13] concavelenz commented on #826
The "missing property" as it was originally written was a "can not possibly be defined check".   Any property that could possibly exist was allowed (any subclass property).  @interface declaration are loosely checked.   When @struct was introduced, it became possible to say "only allow the properties known to be part of this object" but this doesn't extend to @interface.

The new type inference th

[2015-02-16 23:19] concavelenz commented on #825
Generally, these kinds of optimizations aren't safe when dealing with external entry points and values, nor does the type system distinguish between the internal and external types (nor is it possible in the general case).  It is possible to introduce security problems by removing necessary checks.

[2015-02-17 00:34] myphysicslab commented on #826
Indeed, after adding compile option `--new_type_inf` to the test example, the desired warning now appears.  However, so do 65 other warnings on things in closure-library.  This should be useful when closure-library is updated.

Can you explain more about these terms in your comment?
+ **type based optimization**
+ **type check separately**

(I suppose I'm not doing them if I don't know what they m

[2015-02-17 04:06] dhai commented on #825
Fair enough -- wasn't that much of a a big deal anyhow.  You can close this if it's not relevant.

I have some general questions about the compiler -- where is the best place to ask these (such as the difference between * and ? types)

[2015-02-17 16:35] dimvar commented on #825
Here: https://groups.google.com/forum/#!forum/closure-compiler-discuss

For * (top type) and ? (unknown type), the difference is that ? is not typechecked. You can use ? as any other type, and use any other type in a context that expects ?.

Top is a supertype of all types. This means that you can pass any type to a context that expects top. On the other hand, to use top as some other type, eg, nu

[2015-02-17 17:09] MatrixFrog commented on #825
per John's comment, it sounds like this is a "won't fix"?

[2015-02-17 17:09] #825 closed

[2015-02-17 19:22] johnw42 opened #827 "Bad type inference from returning Promise w/ struct types"
This code is rejected:

    /**
     * @return {!Promise<{member: string}>}
     */
    function foo() {
      return Promise.resolve({member: ''});
    };

This code compiles:

    /**
     * @return {!Promise<{member: string}>}
     */
    function bar() {
      /** @type {{member: string}} */
      var result = {member: ''};
      return Promise.resolve(result);
    };

Here's the error message

[2015-02-17 19:49] MatrixFrog commented on #827
Also repro's in the debugger: https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520%2540return%2520%257B!Promise%253C%257Bmember%253A%2520string%257D%253E%257D%250A%2520*%252F%250Afunction%2520foo()%2520%257B%250A%2520%2520return%2520Promise.resolve(%257Bmember%253A%2520''%257D)%253B%250A%257D%253B%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefa

[2015-02-17 22:41] tdelmas opened #828 "useless code added : if (a && void 0 !== m && a) {"
Original code (partial and not accurate) :
[code]
rewrite into :
[code]
note the duplication of the test for "a".

With  compiler-20141215 ,
--use_types_for_optimization
--compilation_level ADVANCED
--externs externs/somecode.js
--externs externs/jquery-1.9.js
--language_in ECMASCRIPT5_STRICT
--language_out ECMASCRIPT5_STRICT

Full original code available if necessary.

[2015-02-17 23:00] MatrixFrog commented on #827
With the new type inference, I get a different error:

ERROR - Could not instantiate type TYPE|IThenable<TYPE>|null|undefined with {member:string}.

We may not be able to fix this in the old type inference but it would be nice to at least have a sensible error message.

[2015-02-18 00:02] MatrixFrog commented on #827
Added this to `RecordType`:

    public String toStringHelper(boolean forAnnotations) {
      String str = super.toStringHelper(forAnnotations);
      if (!forAnnotations) {
        str += (declared ? " (declared)" : "");
      }
      return str;
    }

and then you get

    found   : Promise<{member: string}>
    required: Promise<{member: string} (declared)>

so at least now we know why those t

[2015-02-18 01:41] MatrixFrog commented on #811
I managed to whittle that down to a much smaller repro:

    var x = "";

    foo(bar);

    function bar() {
      qux(x);
    }

    function bar() {
      qux(x);
    }

Obviously there's a duplicate definition of `bar` (less obvious in the full example, of course) but for some reason we crash instead of detecting that and reporting an error.

[2015-02-18 01:41] MatrixFrog commented on #811
By the way `bar` in the real example is `fnSetupGenRealtimeLocalTimezone1`.

[2015-02-18 03:59] myphysicslab opened #829 "internal compiler error"
I'm reporting this error as requested.

[code]

compiler version
[code]

The following is the compile command showing options.  The shell variables are set earlier in the script.
[code]

[2015-02-18 06:17] myphysicslab opened #830 "NTI does not specialize the type of THIS to be non-nullable after an IF test"
When using new type inference compile option --new_type_inf, I'm getting lots of warnings `Attempt to use nullable type FooBarType|null` in spite of having code that checks the object is non-null.

Here is one example of many:

[code]

The error is then
[code]

I've tried using goog.Null().  With old type inference it is possible to use simple tests like `if (foo !=null)`.

[2015-02-18 09:53] kayahr opened #831 "Error in check for incompatible types in super interfaces"
When a generic interface (Using a template type) extends two other generic interfaces containing the same compatible methods then the closure compiler (v20150126) complains about incompatible types. Here is a short example:

    /**
     * @template T
     * @interface
     * @extends B.<T>
     * @extends C.<T>
     */
    function A() {}

    /**
     * @template T
     * @interface
     */

[2015-02-18 13:28] kejloh commented on #811
Yes, you're absolutely right, thank you for figuring this out.  I think I have to fix a bug in my JS generation code.

Thanks a lot!

[2015-02-18 16:59] myphysicslab opened #832 "new type inference thinks HTMLCanvasElement is not an EventTarget"
Using new type inference compile option --new_type_inf produces this incorrect warning:

[code]

HTMLCanvasElement is an Element, which is an EventTarget, so this warning is wrong.

Here is the definition of the `getCanvas` method:

[code]

compiler version:
[code]

[2015-02-18 21:52] tdelmas commented on #828
I found the reason of this strange behavior,

[code]

becomes

[code]
and then
[code]
a last optimization pass is probably missing.

Example for http://closure-compiler.appspot.com/

[code]

result

[code]

[2015-02-18 22:57] myphysicslab opened #833 "New Type Inference doesn't accept string that is part of @enum {string}"
Using new type inference, a string that is a member of an @enum {string} is not recognized as a valid type, when {string} should be one of the accepted types.

[code]

Here is the definition of EventType:
[code]

The parameter of `goog.events.listen` is:

[code]

Compiler version
[code]

[2015-02-19 01:35] concavelenz commented on #831
It is unlikely to be fixed in the old type inference as we would prefer to invest in the new type inference.

[2015-02-19 01:55] concavelenz commented on #825
In case this comes up again, I meant "internal and external VALUES" not types.  The types we know the origins of, the values sources.  I've mentioned previously, this requires "is only possible to be" rather than "is expected to be".  We could do some of this within a method (For "var x = -foo;", "x" must be a number) but our type systems doesn't track "expected to be" separately from "can only be

[2015-02-19 02:24] concavelenz commented on #815
The "closurePass" in the Java API.

[2015-02-19 02:26] myphysicslab opened #834 ""dangerous use of global this object" with goog.bind"
Using new type inference `--new_type_inf` get message `WARNING - dangerous use of the global this object` although `this` is within a `goog.bind()` that is specifying the value for `this`.

code snippet (from constructor for a class)
[code]

error message:
[code]

compiler version:
[code]

[2015-02-19 06:20] myphysicslab commented on #830
I've found a workaround is to assign the property to a local variable.  Rewriting the above example would be something like this:

[code]

This compiles cleanly with new type inference.

[2015-02-19 22:02] nicks opened #835 "using closure-compiler debugger with es6"
is there a way to try out es6 support on the clousre-compiler-debugger? I just tried it and I got the error message:

com.google.javascript.jscomp.CompilerOptionsPreprocessor$InvalidOptionsException: ES6 is only supported for transpilation to a lower ECMAScript version. Set --language_out to ES3, ES5, or ES5_strict.

but I don't know how to set language_out on the debugger :\

http://closure-compi

[2015-02-19 22:03] blickly commented on #835
The error message is not good, but you want to set the TRANSPILE option:
http://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520X%2520%257B%257D%26input1%26conformanceConfig%26externs%26refasterjs-template%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26LANG_IN_IS_ES6%3D1%26MISSING_PROPERTIES%3D1%26TRANSPILE%3D1

On Thu, Feb 19, 2015 at 2:02 PM, Nick Santos <notifications@github.com>
wrote:

[2015-02-19 23:22] nicks commented on #835
ah, that works. ok.

[2015-02-19 23:22] #835 closed

[2015-02-19 23:55] myphysicslab opened #836 "sub-class is not recognized as implementing the interface of it's super-class"
With new type inference `--new_type_inf`, when super-class implements an interface, the sub-class is not recognized as implementing that interface.  Adding `@implements` statement to the sub-class fixes the problem, but should not be needed.

Examples below are from my code.  If desired I can try to cook up a smaller example.

Summary of interface and class relationships:
[code]

Declarations of i

[2015-02-20 00:19] myphysicslab opened #837 "template (generic function) problem with goog.events.listen"
With new type inference `--new_type_inf` I'm unable to compile calls to `goog.events.listen` without several warnings.  (I've reported some of these already, see #833 and #832).  Here is another that is mysterious to me:

[code]

It occurs in this constructor:

[code]

compiler version:
[code]

[2015-02-20 00:33] myphysicslab commented on #837
Adding on to the above, there is another warning on that same `goog.events.listen` call which I think is also related to templates (generic functions).

[code]

Here is the code for the `mouseDown` method in that class:

[code]

That callback (or `listener`) argument to `goog.events.listen` also involves template arguments:

[code]

As with #833 this `goog.events.listen` call is also having an err

[2015-02-20 06:02] dimvar commented on #837
Thanks for all the bug reports. It may take a while to fix them, but I wanted to reply to assure you that they're not disappearing into a void :) We are currently working on making the rest of the compiler passes understand the new type inference, and we have fallen a bit behind on bug fixing. But we'll get back to it eventually.

[2015-02-20 06:53] supersteves commented on #815
Thanks. We're using it implicitly, since we have ADVANCED_OPTIMIZATIONS. Additional options in full are:

dependency pruning+sorting, moocher dropping, a few entry points
cross module code+method motion
define replacements
various warning/error levels/checks
check suspicious+symbols+types
closure coding convention
extern exports=false
ES6strict IN
ES5strict OUT
sourcemaps v3

[2015-02-20 21:36] myphysicslab commented on #837
Great, I hope the reports are useful.  FYI, about 80% of the 600 warnings on my code are the "Attempt to use nullable type" warning referenced in #830.

[2015-02-20 21:41] dimvar commented on #837
Right, the current type inference was loose about this, so we see many instances with the new type inference. These are usually legit warnings, not false positives, because there is a property access on a nullable type.

But because there are so many of them, if we find that people are not willing to spend the effort to fix them, we may turn off the warning, to not block adoption of the new type i

[2015-02-20 22:10] myphysicslab opened #838 ""non-existent type" warning on type only used in @return declaration"
With new type inference `--new_type_inf`, getting the warning "Type annotation references non-existent type" on a type that has not been `goog.require`d, but is only used in a @return type declaration.  Here is the error message:

[code]

Here is some of that file, line 625 is the `@return` declaration.

[code]

In the book *Closure, The Definitive Guide* by Michael Bolin, p. 50 it is stated that

[2015-02-21 01:53] myphysicslab opened #839 ""invalid redeclaration of property" when using optional number parameter"
With new type inference, get this error:

[code]

The class `CollisionAdvance3`implements interface `AdvanceStrategy`.  The error only occurs when the `timeStep` parameter type is `{number=}`, it does not occur with `{number|undefined}`.

[code]

[code]

[2015-02-22 05:41] concavelenz commented on #827
I've seen a similar problem in the past and it resolved to a record type, and a union of record types that was basically:
(A|A) != A
And when it was printed it printed as "A" instead of "(A|A)".  Perhaps that is what is going on here?

[2015-02-22 05:46] concavelenz commented on #826
@myphysicslab
"type based optimizations" you can read more about here:
https://github.com/google/closure-compiler/wiki/Experimental-Type-Based-Property-Renaming

By "type check separately", I simply meant that you could use the new type inference for additional checking by running the compiler with it enabled and discarding the output and using the old type inference when optimizing.

[2015-02-22 05:54] concavelenz commented on #821
@si-robertson
What makes a "switch" slow as nails?
http://jsperf.com/if-switch-lookup-table/60

@MatrixFrog It would be great if there was a public doc on the implementation and it is non-trivial and interesting.

[2015-02-22 06:12] si-robertson commented on #821
Hmm... it looks like modern JS VMs have solved the problem. Switch statements used to be much slower than if-else statements due to different opcodes being used behind the scenes.

If Closure is still targeting earlier browsers (e.g. IE6/IE7 etc) then it might be worth checking the performance of switch statements in those, just to be on the safe side.

[2015-02-22 06:17] concavelenz commented on #822
When using the Closure Libraries "base" method the call is rewritten into a direct call to the super class prior to type checking and optimizations.   This should instead have been written:

    Foo.call(this, 100);

Or for arbitrary super expressions "class Doo extends makeBase() {..."

   /** @const */ var DooBase =  makeBase();
   var Doo = function() {
     DooBase.call(this, 100);
   };

Ther

[2015-02-22 06:54] concavelenz commented on #816
Tyler was this something you were looking at?

[2015-02-22 07:49] emspishak commented on #715
Is there any update on this? Or a recommended workaround?

[2015-02-22 09:11] si-robertson commented on #821
Found something from 2011/2012 in Bugzilla that supports my concern about the use of the switch statement: [Bug 704387 - Switch statements slower than If statements](https://bugzilla.mozilla.org/show_bug.cgi?id=704387)

[2015-02-22 19:33] myphysicslab opened #840 "nullable type in externs file in HTMLSelectElement"
With new type inference, I get errors like this one when using an `HTMLSelectElement`:

[code]

where `selectMenu_` is defined like this:

[code]

I don't see anything in the www.w3.org documentation stating that options can be null.  Should the extern file `w3c_dom2.js` be changed so that options is a non-nullable type?

[code]

Or do I need to test for null whenever using options?

[2015-02-23 16:49] MatrixFrog commented on #816
No, but I'll look into it. I believe this will work correctly now if you use ES6 modules instead of goog.module (after f95081afa7e9a706e653b12f1943a6d0c5b7af67)

And of course this should also work:

    class MyClass {...}
    exports = MyClass;

[2015-02-23 16:56] MatrixFrog commented on #821
I would say, in general, we care about not breaking IE6/7 (your code should still *work* correctly) but we don't care about getting the best performance out of IE6/7. If I remember correctly, we do take advantage of fall-throughs so switching to if/else is probably non-trivial, at least in the general case. Maybe someone who cares a lot about performance on IE6 could write a pass that converts swi

[2015-02-23 17:01] supersteves commented on #816
Are ES6 modules now fair game?  John's post here suggested otherwise, but that was a couple of weeks ago.
https://groups.google.com/d/msg/closure-compiler-discuss/Lh890LsQ8FY/F4MP70aQDYMJ
Let me know if it's a good time to delve back into testing this.

[2015-02-23 17:15] MatrixFrog commented on #816
We currently convert ES6 modules to goog.require/goog.provides so if you're not using the Closure library it may not work well. And there are probably still some bugs here and there. So please do consider ES6 modules to be experimental, but let us know if you are playing around with them and you find any bugs.

[2015-02-23 17:21] supersteves commented on #816
Thanks. I am using Closure Library. I'll try it.  In my group post, I asked the ES6 equivalent of this classic code:
[code]
John suggested trying this, which worked well:
[code]
How should this be changed to use ES6 modules in a form supported by Closure Compiler, and what additional options do I need to enable (rewriteEs6modules, for example)?

[2015-02-23 17:28] MatrixFrog commented on #816
Yes, rewriteEs6Modules needs to be on, and I think this should work:

    var MySuperClass = goog.require("my.other.namespace.MySuperClass");

    export class MyClass extends MySuperClass {
      constructor() {
      }
    }

which makes `MyClass` available by name so you can do `import {MyClass} from 'mymodule';` Or:

    var MySuperClass = goog.require("my.other.namespace.MySuperClass");

[2015-02-23 22:56] spearce opened #841 "getComputedStyle is not recognized as global symbol"
getComputedStyle is a method on the window object and does not require "window." prefix to access the method.

CodeMirror now uses getComputedStyle() without the "window." prefix and cannot be compiled with Closure Compiler.

[2015-02-23 23:24] #841 closed

[2015-02-24 01:25] MatrixFrog commented on #816
It looks like this is fixed at head now. We must have tweaked the class transpilation slightly in the last few weeks.

[2015-02-24 01:25] #816 closed

[2015-02-24 15:02] ChadKillingsworth commented on #840
[code]

I think it can be safely marked as non-null. Would you like to create a pull request for this?

[2015-02-24 20:47] nanaze opened #843 "Emit a lint warning if an extra goog.requires is present"
Google Web Server team would like to move away from linting and to clang formatter. As such, we are filing feature requests on compiler for features that we currently rely on linter for.

Tagging our requests with hashtag #lintfix

[2015-02-24 20:49] nanaze opened #844 "lint warning if missing @return"
https://github.com/google/closure-linter/blob/master/closure_linter/errors.py#L84

[2015-02-24 20:50] nanaze commented on #844
We would like this to be an error, perhaps behind a flag like --lint_pass, so we needn't rely on the linter for this

[2015-02-24 20:54] nanaze opened #845 "Error if opt_foo is not marked as "=" in type."
Same as linter error  E:0232: Optional parameter opt_staticNamesCallback type must end with =.

[2015-02-24 20:55] nanaze opened #846 "Missing docs for a parameter should be an lint warning."
E:0210: Missing docs for parameter: "action"

[2015-02-24 20:56] nanaze opened #847 "#lintfix enforce that type always be surrounded by curly braces"
E:0219: Type must always be surrounded by curly braces.

[2015-02-24 20:57] nanaze opened #848 "properties/methods with trailing underscore *must* have @private"
E:0221: Member "this.actionFlow_" must have @private JsDoc.

[2015-02-24 20:58] ChadKillingsworth commented on #846
Well warning at least.

[2015-02-24 21:07] nanaze opened #849 "Add --lint_pass flag that will refuse to compile a binary with lint errors"
suggestion

[2015-02-24 22:06] concavelenz commented on #849
Is it that you want the command-line to generate an error code when so it is possible to detect lint warnings?  Or do you want lint warnings only or what is the goal/use case here?

[2015-02-24 22:08] concavelenz commented on #848
This should only be true when the Google coding convention is enabled

[2015-02-24 22:09] concavelenz commented on #847
Can you provide an example here?

[2015-02-24 22:09] nanaze commented on #849
we (GWS) are using #lintfix to keep track of a hotlist of bugs we're blocked on for moving to clang-format

[2015-02-24 22:10] nanaze commented on #849
(so if you change the titles, please put the hashtag in the body)

[2015-02-24 22:10] concavelenz commented on #845
With the Google coding convention enabled

[2015-02-24 22:11] concavelenz commented on #844
Is this "missing @return" when there is a "return" present in the method body?

[2015-02-24 22:12] nanaze commented on #849
@concavelenz

Publicly state-able context: GWS team wants to abandon gjslint in favor of clang-format. We're trying to establish a minimum set of functionality that gjslint provided that we need elsewhere before we're willing to cut off gjslint and move to clang-format.

Internal links for context:
https://b/18332378
https://18799715

[2015-02-24 22:13] nanaze commented on #844
I think so, though an empty return doesn't need @return

[2015-02-24 22:13] concavelenz commented on #843
Removing #lintfix adding label "lint"

[2015-02-24 22:15] nanaze commented on #847
I think this used to work:

[code]

This may be obsolete, however.

[2015-02-24 22:17] MatrixFrog commented on #847
That may not work anymore but I know that `@extends Foo` (instead of `@extends {Foo}`) still does work because I see it fairly often.

[2015-02-24 22:41] concavelenz commented on #849
I'm trying to understand what we need other than --jscomp_error=lintChecks

[2015-02-24 22:43] nanaze commented on #849
That seems like a better option than a standalone flag.

[2015-02-24 22:43] nanaze commented on #849
Looks like that already exists in DiagnosticGroups.java. Marking as closed.

[2015-02-24 22:43] #849 closed

[2015-02-25 00:13] myphysicslab opened #850 "mystery warning: Property "foo" may not be present on "Bar""
With new type inference `--new_type_inf` I'm getting several warnings that don't make sense; here is one example of about eight:

[code]

That field `NC` is defined in the constructor as follows:

[code]
That should not be an optional (potentially undefined) type.  This class has about a dozen fields like this that are arrays of numbers, or arrays of booleans, or arrays of arrays.  Only six of the

[2015-02-25 01:22] si-robertson opened #851 "Request for @readonly"
Being able to mark properties as `readonly` would be very useful. I'm having to [mark readonly properties as `const`](https://github.com/si-robertson/exgen/commit/864e61b21be84d29789a1ba99602728a53d83182) at the moment and that doesn't make much sense.

[2015-02-25 01:59] ChadKillingsworth commented on #851
Duplicate of #139

See @concavelenz comment at https://code.google.com/p/closure-compiler/issues/detail?id=1273#c4 for how to do this. We just never went back through the externs.

[2015-02-25 01:59] #851 closed

[2015-02-25 14:51] kayahr opened #852 "JSType.toAnnotationString loses type information"
When using the `toAnnotationString()` method on a `JSType` instance then the returned string is not the same as the originally parsed type annotation and for object types the non-null information is lost.

To visualize the problem here is a table from orginal annotation to the output of `toAnnotationString()` and the output of this method again when a file which is generated from this output is pa

[2015-02-25 20:07] concavelenz commented on #852
It seems unlikely that we are converting "!Object" -> "Object|null" in the code path actually used by the compiler.  Could you build code sample or unit test that demonstrates the problem?

[2015-02-25 20:16] concavelenz commented on #847
Generally, if we don't allow general type expressions and they aren't optional, I don't know that "{" are necessary:

"@template T" should not be "@template {T}"

[2015-02-25 20:19] nanaze commented on #847
The style guide mentions that some of these are optional. I think this really matters for @param and @return sine they both have text after the type.

[2015-02-25 20:25] MatrixFrog commented on #815
I have a fix in progress for this. We know the name of the superclass so rather than Subclass.base() we can just call the superclass method directly. The only time we _don't_ know the name of the super class is if you extend an arbitrary expression like `class X extends (foo()) {...` which we don't support anyway.

[2015-02-25 20:25] concavelenz commented on #821
Sounds like that is out of date, http://jsperf.com/if-switch-lookup-table/60 shows FF 35 that ifs are slower than switch.   It maybe that the switches in generators are slower on FF but we currently don't any reason to believe that.

[2015-02-25 20:50] kayahr commented on #852
The transition from `!Object` to `Object|null` is indirect. `!Object` is parsed into `Object` and `Object` is parsed into `(Object|null)`.

I think the problem is, that JSType (Or at least the `toAnnotationString()` method, I don't know the internal structure of JSType) doesn't distinguish between object types and value types. Values types are by default non-nullable so it is correct to remove the

[2015-02-25 20:54] MatrixFrog commented on #852
AFAICT we don't actually use toAnnotationString for annotations. The only place I see it used (with the exception of the new experimental TypeScript-style-syntax work) is in error messages. I vote that we rename it toStringForErrorMessages or similar, and then we can add a new toAnnotationString method that does what it says.

[2015-02-25 20:54] MatrixFrog commented on #852
Oops, sorry, TypedCodeGenerator is not what I thought it was. We do use it for annotations. So ignore the previous comment, we should probably just fix it :)

[2015-02-27 00:14] #815 closed

[2015-02-27 02:00] myphysicslab commented on #839
I've found another case where @param {number=} is misinterpreted.

[code]

That field `varsArray_` is defined in the constructor (actually the superclass's constructor) as:

[code]

That class `VarsArrayStandard` @implements the following method of the `VarsArray` interface:

[code]

[2015-02-27 05:53] concavelenz commented on #852
There is some confusion because the type checker always print types as non-nullable so "Object" in JSDoc annotations is "(Object|null)" and "!Object" is "Object" in the type checker warnings.

[2015-02-27 06:12] concavelenz opened #854 "Add support for 'new.target'"
I'm not sure what a polyfill would look like, but we need to at least parse it.

http://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520foo%2520%257B%250A%2520%2520constructor()%2520%257B%250A%2520%2520%2520%2520if%2520(new.target)%2520%257B%2520%250A%2520%2520%2520%2520%2520%2520this.foo%2520%253D%25201%2520%250A%2520%2520%2520%2520%257D%250A%2520%2520%257D%250A%257D%26input1%26conforma

[2015-02-27 15:26] myphysicslab commented on #838
Using `goog.forwardDeclare()` solves this issue.

[2015-02-27 15:26] #838 closed

[2015-02-27 16:55] MatrixFrog commented on #854
ctrl-F for `new.target` in the spec doesn't find anything particularly readable. http://www.2ality.com/2015/02/es6-classes-final.html has a much clearer explanation.

[2015-02-27 20:43] concavelenz commented on #821
The only remaining issue here is the "generator as constructor".  I'm not really sure what a @constructor generator is. Is the idea that you generator returns constructors functions?  It seems like it should instead be returning an "@return {Iterator<function(new:XXX)>}".

[2015-02-27 22:49] myphysicslab commented on #836
Here is another case that might be similar (I'm not sure). Here is the error:

[code]

The PhysicsObject interface defines the method

[code]

The RigidBody interface extends PhysicsObject

[code]

Polygon class @implements RigidBody.  I have to declare also that it @implements PhysicsObject because of this issue #836.

[code]

The error goes away if don't use @override or @inheritDoc, but instead

[2015-02-27 23:22] myphysicslab opened #855 "goog.array.find bad type checking"
This might be related to issue #837.  I'm getting several similar errors when using functions like goog.array.forEachRight, goog.array.find, goog.array.findIndex, goog.array.sort.  Here is one case:

[code]

The error occurs in this method:

[code]

Here is the definition for the field `this.edges`

[code]

The `probablyPointInside` method is defined in the RigidBody interface:

[code]

Additional

[2015-02-27 23:23] MatrixFrog commented on #751
The issues with `super` should resolved by 3566f49ce24887662777a04ba87817c200b79b9c and there are just a couple errors in the runtime library. I'll keep this open to track those.

[2015-02-27 23:24] #748 closed

[2015-02-27 23:28] MatrixFrog commented on #438
I believe 4fe6047483ede76513627261625aacc969aeb28f will fix this. Please reopen this if you see any issues on Java 8, going forward.

[2015-02-27 23:28] #438 closed

[2015-02-27 23:47] MatrixFrog commented on #811
We should definitely fix this but in the meantime I would encourage you to turn on `--jscomp_error=checkVars` in which case you should get a clear error instead of a crash.

[2015-02-28 16:57] myphysicslab opened #856 "Don't initialize a namespace in externs to undefined"
With new type inference `--new_type_inf` I get this error:

[code]

Here is the code where it occurs:

[code]

That code is after the constructor and within a goog.scope.  A call to `Math.log()` inside the constructor produces no error.  Here is some of the definition of the constructor preceding the above code:

[code]

[code]

[2015-02-28 17:49] myphysicslab commented on #839
I'm finding many cases of this  "Invalid redeclaration of property" error, and what they all have in common is an optional parameter (of any type not just number) in the inherited interface.  See the comment about method `Polygon.getVelocity` under issue #836 for an example.

[2015-02-28 18:03] myphysicslab opened #857 "Type calls that use the .call property correctly"
With new type inference, it is always necessary to cast the result of calling a superclass method.  Should the compiler be able to figure out the type?

Here is an example:

[code]

Without the type cast get this error:
[code]

Here is the version without the type cast:
[code]

[code]

[2015-02-28 18:40] myphysicslab opened #858 "new type inference thinks sum of two numbers might be a string"
With new type inference, make sum of two numbers, then using the resulting sum later gives this error:

[code]

It's a rather long function, and the error occurs inside a goog.array.forEach function; here are relevant parts

[code]

This is the first time I've seen this type of error, so it may be a unique situation.

[code]

[2015-02-28 21:51] supersteves opened #859 "html5.js unknown type VisibilityState"
Using today's tip of Closure Library and Closure Compiler in advanced compilation:
[code]
Probably introduced by:
https://github.com/google/closure-compiler/commit/fc0472a0b64da036180c9336f1bc03177ac0d24e

I cannot find any other reference to "VisibilityState" in github search:
https://github.com/google/closure-compiler/search?utf8=%E2%9C%93&q=VisibilityState

[2015-03-01 19:30] dimvar commented on #858
Sth going on with poor analysis of variables defined in a different scope. Small repro:

    function f(/** number */ x, w) {
      var y = x + 2;
      function g() { return (y + 2) - 5; }
      function h() { return (w + 2) - 5; }
    }

There should be no warnings in this snippet, but we get two.

[2015-03-01 20:33] myphysicslab opened #860 "html5.js should use non-nullable types"
Several types specified in html5.js should be indicated as non-nullable types.  For example, here is an error I get (with "new type inference" compiler option) which should not occur:

[code]

where `context` is defined by:

[code]

The definition referenced in html5.js is http://www.w3.org/TR/2dcontext/#textmetrics.  That page says that "Interfaces are defined in terms of [Web IDL](http://heycam.

[2015-03-01 22:43] myphysicslab commented on #850
In case it's helpful, here is the same error on a much smaller class

[code]
Here is the complete constructor for that class, and the `step` method where the error occurs
[code]
Here is the definition of the `step` method's interface
[code]

[2015-03-01 23:12] myphysicslab commented on #839
In case it's helpful:  I have found this problem with a smaller class.

[code]
Interface definitions:

[code]
These are the only two methods in `PhysicsObject` interface with optional parameters.  No error on the methods without optional parameters.

[code]

[2015-03-01 23:18] myphysicslab commented on #839
The same problem occurs with varargs (variable number of arguments).

[code]
Here is the interface for that method:

[code]
Code for the method:

[code]

[2015-03-02 02:39] myphysicslab opened #861 "missing properties check not working for boolean field"
When a class has a boolean field, and I misspell the name of the field, a test of the form
[code]
does not report an error even when using compiler option `--jscomp_error=missingProperties`.  Whereas a test of the form
[code]
will correctly report the following error:
[code]

Here is the example class:
[code]

[2015-03-02 02:55] myphysicslab commented on #857
I guess it's just using `call` that is the problem?  Here is another case that doesn't involve a superclass.  Seems like the compiler could know the type returned by doing `call` on a field that has a function type?

[code]

[code]

[2015-03-02 05:54] myphysicslab opened #862 "Initialize variable declared in catch to the right type"
Using new type inference, I get this error:
[code]
for the following code:
[code]
My attempts to cast the variable `ex` to an Error or some other type are unsuccessful.  In the externs file `es3.js` Error is defined to have a stack property:
[code]

[2015-03-02 06:12] myphysicslab commented on #860
Another property to perhaps make non-nullable is `window.localStorage`

[code]
This would be in the extern webstorage.js:
[code]

[2015-03-02 06:22] myphysicslab commented on #860
Another property to consider for making non-nullable: `navigator`
[code]
Or can `navigator` be null in older browsers?

[2015-03-02 06:28] myphysicslab commented on #855
In case it's helpful, here is a simpler example of this error:
[code]
Happens on this function:
[code]

[2015-03-02 07:03] myphysicslab opened #863 "cannot use 'top' as a variable name"
With new type inference, get the error
[code]
in this method:
[code]
I understand that `top` is a property of `window`, but it should be possible to create a local variable with the same name.

[2015-03-02 07:10] dimvar commented on #863
Thanks for the report.

Small repro:

    /** @const */
    var x = 1;
    function g() {
      var x = 2;
      x = x + 3;
    }

[2015-03-02 07:32] myphysicslab commented on #850
This error seems to happen whenever there is an "if" or "for" statement that assigns some properties to the object.  After the "if" statement, any properties that were ***not*** assigned during the "if" statement get warnings.  Here is another example:

[code]
the error is
[code]

[2015-03-02 09:21] kejloh commented on #811
Yes, it works for me, with my test case and with my real project, too.  Thanks!

[2015-03-02 16:03] YetiCGN opened #864 "Case-sensitive "Bad type annotation" for functions"
When I set `--jscomp_error checkTypes` the Closure Compiler complains about a return type in the Sizzle library that I am including:

    build\my-library.js:2980: ERROR - Bad type annotation. expected closing }
     * @returns {Function(string, Object)} Returns the Object data after storing it on itself with

If I simply change the `Function` type to `function`, the error disappears. I think this

[2015-03-02 16:20] nicks commented on #864
this is correct behavior. In JavaScript, `function` is a keyword for a function literal, and `Function` is the name of the function constructor. See:
http://closuretools.blogspot.com/2012/02/type-checking-tips.html

[2015-03-02 16:20] #864 closed

[2015-03-02 16:21] nicks commented on #864
also, type-checking has never been case-insensitive. Do you know where you got that impression?

[2015-03-02 16:21] dimvar commented on #864
All types are case sensitive. If you are thinking about number vs Number, they are different types. The first one represents the primitive numbers and the second one the boxed numbers.

[2015-03-02 16:41] YetiCGN commented on #864
Ah yes, that's probably where I got misled.

[2015-03-02 18:04] myphysicslab opened #865 "cannot access property "className" of EventTarget (unable to cast to HTMLElement)"
With new type inference, can't access `className` of an `EventTarget`.  The error is
[code]
in the following code
[code]
This compiler warning is correct because `className` is indeed not defined on `EventTarget`.  However, EventTargets are of type HTMLElement, or perhaps Window or Document.  To get the className, I need to do a cast, but the compiler complains:
[code]
on the following code:
[code

[2015-03-02 20:07] myphysicslab commented on #856
Another example:
[code]
in this code
[code]
Seems to only be a problem in global scope.

[2015-03-02 21:38] myphysicslab opened #866 "Property hasOwnProperty never defined on type Object"
With new type inference, getting the following incorrect warning:
[code]
on this method:
[code]

[2015-03-03 01:23] concavelenz commented on #861
Assuming this is the old type inference (which is the tied to the missingProperties diagnostic group).  This was an attempt to allow existence checks:

if (a && a.b && a.b.c) ...

I don't personally think it was a good idea

[2015-03-03 01:45] myphysicslab commented on #861
This is happening with new type inference also.

[2015-03-03 18:14] #859 closed

[2015-03-03 18:20] MatrixFrog commented on #846
Actually, I think we changed the style guide a few months ago, so you no longer need to provide documentation (i.e. a textual description of what the param is) if it's obvious from the name. But you _do_ still need to give the type.

[2015-03-04 00:22] #846 closed

[2015-03-05 00:02] MatrixFrog commented on #223
I threw together a simple patch for this one that just checked for a break/return/throw at the end of a `case`, and it warned on a few cases like this:

    switch (foo) {
      case 1:
        if (bar) {
          return x;
        } else {
          return y;
        }
      default: ...
    }

I think to do this properly we probably want to look at the control flow graph.

[2015-03-05 19:16] dimvar commented on #850
Thanks for the report. Small repro.

    /** @constructor */
    function Foo() {
      /** @type {{ n: number }} */
      this.prop1 = { n: 0 };
    }

    Foo.prototype.method = function(x) {
      if (x) {
        this.prop1 = { n: 1 };
      }
      this.prop1.n = 2;
    }

[2015-03-05 19:30] dimvar commented on #830
For some reason, this bug happens only when the receiver is this, not when it is some other variable name.

    /** @constructor */
    function Foo() {
      this.a = 123;
    }

    /** @constructor */
    function Bar(x) {
      /** @type {Foo} */
      this.b = x;
      if (this.b != null) {
        return this.b.a; // incorrect warning here
      }
    }

    function f(/** !Bar */ obj) {

[2015-03-05 21:30] concavelenz commented on #223
I think we need to do this CFG analysis when optimizing switch statements, you might want to take a look there.

[2015-03-06 00:10] MatrixFrog commented on #845
This is for when the param name has `opt_` but the type is lacking the `=`. Do we also want to warn in the opposite case, when the type has the `=` but the name _doesn't_ start with `_opt`?

[2015-03-06 06:22] dimvar commented on #845
We shouldn't warn in the opposite case. The opt_ prefix was introduced as a convention for optional parameters before type checking in the compiler. Now many people use optional parameters and annotate it in the type, without using the opt_ prefix.

[2015-03-06 16:39] MatrixFrog commented on #845
Actually the style guide currently says:

though you're probably right that this rule predates the `=` syntax. In any case, I'll go ahead and implement it just to match gjslint and the style guide, for now, and then we can remove it if someone wants to get the style guide changed.

https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml?showone=Naming#Naming

[2015-03-06 16:44] nanaze commented on #845
All information regarding a type should be in the type signature. The prefix is just a style question.

As far as Google style goes, if the type contains "=", then the parameter name should be prefixed with "opt_". If a parameter name starts with "opt_", the type should contain "=". gjslint philosophy is that the style guide should be the arbiter of behavior.

[2015-03-06 17:09] MatrixFrog commented on #843
So this is tricky. If a type is used *only* in JsDoc comments, you generally don't want to goog.require it. Except, occasionally you do want to goog.require it so that everything will be typechecked properly. So I'm thinking we should give an "extra require" warning only if it's not referenced anywhere, even JsDoc. So we'd have:

 * Type is referenced in code -> goog.require is required (missingRe

[2015-03-06 23:32] rightfold opened #870 "NPE when compiling with advanced optimisations"
The following code:

    // ==ClosureCompiler==
    // @compilation_level ADVANCED_OPTIMIZATIONS
    // @output_file_name default.js
    // @formatting pretty_print
    // ==/ClosureCompiler==

    goog.provide("std");
    std.forcebool = function(x) {
        if (x === true || x === false) { return x; }
        throw "ouch";
    };
    std.unit = new (/** @constructor */ function() {})();

    go

[2015-03-07 00:20] #845 closed

[2015-03-07 00:20] #848 closed

[2015-03-07 19:17] concavelenz commented on #870
Thanks for the report

[2015-03-09 03:59] johnw42 commented on #827
@MatrixFrog From my perspective as a (relatively) humble user, putting the string (declared) in the error message doesn't clear much up. All I really know is what I knew before, i.e. two types that look identical to me are considered different by the compiler.

Generally speaking, would it be advisable to switch my project to use the new type inferencer yet?

[2015-03-09 06:29] dimvar commented on #827
No. The new type inference is not production-ready yet. There are many bugs to fix before it's ready. We will announce it on the mailing list when it's good enough for people to switch.

[2015-03-09 16:42] MatrixFrog commented on #870
Smaller repro:

    // ==ClosureCompiler==
    // @compilation_level ADVANCED_OPTIMIZATIONS
    // @output_file_name default.js
    // @formatting pretty_print
    // ==/ClosureCompiler==

    var std = {};

    std.unit = new (function() {})();

    var __module = main;
    __module.main = function() {
      var __v14;

      __b4 = function() {
        __v14 = std.unit;
      };
    };

[2015-03-09 16:58] supersteves opened #871 "ES6 module rewriting needs configurable base path"
As discussed here:
https://groups.google.com/d/msg/closure-compiler-discuss/Lh890LsQ8FY/z4nohpYzfdwJ

The standard for other module systems which ES6 is/will probably take is:

* ``"path/to/Module"`` => absolute path against a base URL, typically html document in browser, and you don't need ".js", it will be added, i.e. ``"BASE/path/to/Module.js"``
* ``"./OtherModule"`` => ``"OtherModule.js"`` in

[2015-03-09 18:29] MatrixFrog commented on #870
I would recommend essentially the same workaround I suggested for #811 : Add `--jscomp_error=checkVars` to your flags and the compiler will fail with a clear error message before it gets to the pass that is crashing.

[2015-03-09 21:19] #812 closed

[2015-03-09 21:46] tleunen opened #872 "Browserify + empty functions are not removed"
I'm using Closure Compiler with a Browserify build, and I noticed the empty functions are not removed from the final build.

For example with this initial browserify generated code:

[code]

And here is the output from the compiler:

[code]

As you can see, the debug function is still there, even if its content is empty.

`k(289).debug("Allo!")` should know `debug` has an empty body and because of

[2015-03-10 17:09] eborden commented on #772
It looks like this hasn't been given access via jscomp_error={string}. Am I correct in this assumption?

[2015-03-10 19:29] MatrixFrog commented on #772
It was added to the lintChecks a little later: https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/DefaultPassConfig.java#L1521

[2015-03-10 19:37] eborden commented on #772
Great, thanks. In conjunction with this is it possible to have the inverse of @fileoverview suppression? This would make this feature much more helpful for existing code bases.

[2015-03-10 21:34] dhai commented on #872
Did you specify ADVANCED_OPTIMIZATIONS?

[2015-03-10 22:30] tleunen commented on #872
Yes. I used the [Closure Compiler Service](http://closure-compiler.appspot.com/home) for the test, but it's the same thing with the executable.

[2015-03-11 09:29] sinelaw commented on #247
+1

[2015-03-11 14:34] concavelenz commented on #872
I think this will help a bit:

https://github.com/google/closure-compiler/wiki/Understanding-Property-Removal

While it is talking about property removal the same basic rules apply to property inlining, etc.  The compiler would need to "unwind" the browserify bundling.

Why do you need browserify, could you instead use the complier CommonJs/AMD support?

[2015-03-11 14:43] tleunen commented on #872
I'm using browserify because it's the way I used to build the project, with plugins and transformations.
I'm not sure I could use the commonjs option in closure compiler to do the same thing

[2015-03-15 18:35] myphysicslab commented on #861
Just ran into this again, it happens with numbers or strings as well, not just boolean:  Assigning to non-existent fields in a class generates no errors with NTI or old compiler.  For example, adding code like this to any class method gives no errors:
[code]

Here is the set of options being used.  Includes `missingProperties`.
[code]

[2015-03-15 18:43] dimvar commented on #861
Assigning has different behavior than property access, because it creates a property. If you want to prevent accidental property creation by assignment, you should annotate the constructor with <code>@struct</code>

[2015-03-15 22:13] myphysicslab commented on #861
Thanks, I didn't know about using @struct.  Using @struct seems to also fix the original problem reported above.  I guess I'll add @struct to all my classes now.  I can't think of any classes where I add properties after creation.

[2015-03-16 05:23] #861 closed

[2015-03-16 17:56] concavelenz commented on #247
The new type inference fixes this problem. We are unlikely to fix it in the current type inference.

[2015-03-17 02:11] myphysicslab opened #875 ""Property never defined" warnings on struct with NTI"
With new type inference I get warnings "Cannot add a property to a struct instance after it is constructed" or "Property never defined" on properties that were not assigned a value in the constructor.
[code]
The warnings disappear when I give the property an initial value in the constructor like this:
[code]
Assuming the error is correct, I think the wording of the error message could be improved,

[2015-03-17 20:18] myphysicslab commented on #875
I tried to fix these warnings by initializing each property.  That worked for many cases, but not all.  The cases where I'm still getting the warnings are similar to issue #850, in that the assignment is inside an "if" statement, or "for" loop.

[2015-03-17 22:02] eevee opened #876 "jQuery externs for event handlers are too loose"
For example, `$.on` is annotated as follows:

[code]

The event handler is defined as taking an argument of type `!jQuery.event=`, or `jQuery.event|undefined`.  But I can't think of any circumstance in which jQuery _wouldn't_ pass an event object to an event handler...  so why is the `=` there?

I'm trying to upgrade Closure Compiler with an existing annotated codebase, and this is causing a slew

[2015-03-18 00:09] veselov opened #877 "INTERNAL COMPILER ERROR - InferJSDocInfo.attachJSDocInfoToNominalTypeOrShape"
I haven't yet been able to reduce our humongous source to find SSCE for this. The compiler fails with:

    null
    Node(NAME undefined): externs.zip//es3.js:82:4
    var undefined;
    Parent(VAR): externs.zip//es3.js:82:0
    var undefined;

	at com.google.javascript.jscomp.InferJSDocInfo.attachJSDocInfoToNominalTypeOrShape(InferJSDocInfo.java:227)
	at com.google.javascript.jscomp.InferJSDocInf

[2015-03-18 04:02] zzo opened #878 "Support wildcarded export"
support this valid ES6 module syntax:

[code]

Also strange the command line options were:
[code]
But the error message mentions 'ES6-to-ES3 conversion' - not sure what that's all about.

[2015-03-18 09:25] jochenberger opened #879 "Compile dependency on truth"
The artifact in Maven Central has a compile-scope dependency on `com.google.truth:truth`. This should probably be a test dependency.

https://repo1.maven.org/maven2/com/google/javascript/closure-compiler/v20150315/closure-compiler-v20150315.pom

[2015-03-18 12:38] lindner commented on #879
Thanks for the report, will fix.

[2015-03-18 12:51] lindner commented on #146
This was actually implemented long ago.

[2015-03-18 12:51] #146 closed

[2015-03-18 15:28] DomBlack opened #880 "Unable to mix ES6 module syntax and goog.provide"
If you have a file which is has a `goog.provide` at the top, and then attempts to import ES6 module code, the compiler will throw the following exception:

[code]

Removing the `goog.provide` at the top of the file allows this file to compile without errors.

It would be useful to allow existing Closure code to import newer ES6 code.

### Test Files:

`something.js`;
[code]

`math/lib.js`;
[code]

[2015-03-18 15:31] DomBlack opened #881 "Add an es6_entry_module option"
At the moment, if you are trying to write a ES6 module based application, due to #880 you are unable to specify a `--closure_entry_point` due to the ES6 module code not being includable by anything which has a `goog.provide` in it.

This becomes an issue if you want to use the closure library and require it from within the newer ES6 module code, the output file size becomes much larger than requir

[2015-03-19 15:31] pdknsk opened #882 "enhancement: do not strictly re-order ternary comparisons"
Take this simple not uncommon example.
[code]
This is the result.
[code]
Compressed size increases by ```1``` byte.

[2015-03-19 20:20] ChadKillingsworth commented on #882
In real world code with more than one comparison, this optimization creates smaller compressed code - not bigger.

It's definitely done by design.

[2015-03-19 20:20] #882 closed

[2015-03-19 22:09] #879 closed

[2015-03-20 23:17] brianwestphal opened #885 "Comments inside comments..."
I'm sure this is a long shot, but I'm defining a large typedef to be used with an extern (chart.js) and I'm finding that I'd like to be able to add comments within my typedef.

For example

[code]

[2015-03-20 23:23] #863 closed

[2015-03-21 17:28] concavelenz commented on #885
This has come up before.  We would really like to provide an alternate means of declaring record types.

[2015-03-23 06:33] aharui opened #887 "WARNING - incomplete alias created for namespace goog when @expose object"
I found that if I have a property named "object" with @expose (yes, I know @expose is deprecated) that I get a bunch of warnings like the above.

It took quite a while to track down why I was getting all of these warnings.  Should I be getting these warnings if I don't want a property like "object" to be renamed?  If so, is there an easier way to track this down?

[2015-03-23 06:40] aharui commented on #887
Here is a simple test case:

[code]

And compiled like this:

[code]

[2015-03-23 15:02] ChadKillingsworth commented on #887
This seems to be somehow related to the fact that the property name is `object`. If the property has another name, such as `foo`, then this warning no longer occurs. This is irrespective of whether the type-base optimizations are enabled or not. Single file test case:

[code]

[2015-03-24 16:41] MatrixFrog commented on #880
We don't allow goog.provide in modules, but we need to report an error saying that, rather than silently refusing to transpile the import/export statements. I've been meaning to fix this for a while so thank you for the reminder.

[2015-03-25 00:43] rhashimoto opened #889 "Why does let in for statement require an initializer?"
Using Closure Compiler v20150315 on this code:

    "use strict";

    let s = 'foo fool food';
    const re = /foo/g;

    // This compiles.
    for (var m; m = re.exec(s);)
      console.log(m[0]);

    // This doesn't.
    for (let m; m = re.exec(s);)
      console.log(m[0]);

fails with:

    $ java -jar /opt/closure/closure-compiler//compiler.jar --js forlet.js --language_in ECMASCRIPT6_STRIC

[2015-03-25 16:45] MatrixFrog commented on #889
We've had that error since the very first checkin of the new parser in the Closure Compiler codebase. My guess would be that the draft of the spec at the time required the initializer but the newest draft doesn't.

[2015-03-25 17:09] agrafix opened #890 "@typedef and @template doen't work together"
The following code does not work:

    /**
     * @template S, T
     * @typedef {{
     *             type: string,
     *             humanName: string,
     *             keyboard: TriResourceRef,
     *             serverElems: Array.<S>,
     *             getSrvId: function(S): string,
     *             getTitle: function(S): string,
     *             getDescriptions: function(S): Array.<s

[2015-03-26 12:42] usmonster commented on #222
Just to revive this--was something like this ever implemented (as described in the original abovelinked issue)?

[2015-03-26 15:35] ChadKillingsworth commented on #222
Not to my knowledge.

[2015-03-28 18:52] concavelenz commented on #878
I thought that was dropped for ES6. Spec reference?

[2015-03-28 18:59] zzo commented on #878
https://people.mozilla.org/~jorendorff/es6-draft.html#sec-exports

also present here: http://wiki.ecmascript.org/lib/exe/fetch.php?id=harmony%3Aspecification_drafts&cache=cache&media=harmony:ecma-262_edition_6_03-17-15-releasecandidate3.pdf

[2015-03-28 19:54] sahilb opened #891 "Dead code removal is not being done, advanced mode"
If I run the following code through advanced optimization, I can still see the debug statements in the code.

var log = console.info.bind(console);
(function() {
    /** @const */
    var DEBUG = false;

    log('Brady', createRank({
        max: 100,
        debug: DEBUG
    }));
})();
function createRank(options) {
    if (options.debug) {
        log('This should be in debug mode only');
    }

[2015-03-29 00:00] concavelenz commented on #891
The issue is that "property" collapsing only happens once for global scope, and that is before function inlining occurs (within functions this occurs during the optimization loop).  For this to work "collapse properties" would need to occur at least once more, or we would need to enhance the function local version to be able to run in global scope.

[2015-03-29 02:24] concavelenz commented on #222
I think what we would want here is something much simpler than what we have for unused variable removal.  It would be too confusing to report recursively referenced but otherwise unused variables, unused values in a chain of values, etc.  So this would be simple "value read somewhere" check, which should simple for someone wanting to contribute

[2015-03-29 02:27] concavelenz commented on #890
we should warn about a misplaced annotation with the use of @template described here.  The @record proposal might allow this.

[2015-03-30 17:21] sahilb commented on #891
Is there an option/flag to achieve this ?

[2015-03-30 20:06] eevee opened #892 "i18n makes the compiler painfully slow"
We're using Closure Compiler to build a moderately-sized codebase, via plovr.  Compiling it all once takes about a minute and a half, which is painful but not unbearable.

Unfortunately we have 40 locales (and counting), and so we compile the same codebase once _for each locale_, with `goog.LOCALE` different each time.  This bumps the compile time by an order of magnitude, up to 12+ minutes.

It s

[2015-03-30 20:09] MatrixFrog commented on #892
You can write a build script that only outputs one locale, for development, and then another that outputs all the locales, for production.

[2015-03-30 20:12] eevee commented on #892
We do that now, but we still end up twiddling our thumbs for an extra 12+ minutes during a deploy.  We'd also like to build every locale for test runs, without making them take twice as long.

[2015-03-30 20:25] dimvar commented on #892
This is definitely sth we should try to improve. Not in the short term though, as we're tied with other things (ES6, new type inference, and others).

[2015-03-30 20:57] qqiao commented on #892
Since the compilation of each locale is independent, what we do here is we run the compilation on different physical slaves in parallel, and we have our build script start multiple compilations in parallel on each slave, hoping that it will be multiplexed onto different CPU cores. However, this doesn't solve the disk contention issue, and the build script is quite annoying to write, and gathering

[2015-03-31 18:08] MatrixFrog opened #893 "Allow ES6 classes in externs"
It would be nice to let people write types in externs as ES6 classes, perhaps even if they aren't planning to use ES6 in their code.

[2015-03-31 18:15] concavelenz commented on #891
You would need to modify DefaultPassConfig to run CollapseProperties a second time.  There is not a existing compiler options to do this.

[2015-03-31 18:33] concavelenz commented on #893
We also need to consider ES6 modules and what these externs would look like.

[2015-04-02 15:36] #843 closed

[2015-04-03 13:41] TimFerrell opened #894 "Internal Compiler Error When Compiling ES6 to ES6"
Attached is the output; please let me know if you need anything further.

[code]

[2015-04-03 17:43] MatrixFrog commented on #894
Can you also post the code, or a small snippet of it that also shows the issue?

[2015-04-03 17:50] TimFerrell commented on #894
Sure, see below.
Apologies for the bad code.

[code]

[2015-04-03 18:37] svasilinets opened #895 "Module Dependency violation isn't caught: function on prototype"
I have following scenario:
I have STRICT_MODULE_DEP_QNAME.level = CheckLevel.WARNING and following testCode:

[code]
And I don't see any warnings/errors.

When I remove call of function x:

[code]
I see as expected:
JSC_STRICT_MODULE_DEP_QNAME. cannot reference a.t because of a missing module dependency

[2015-04-03 21:20] MatrixFrog commented on #894
--allow_es6_out is not supported yet. Crashes when using that flag are to be expected. https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/CommandLineRunner.java#L533-L534

[2015-04-03 21:20] #894 closed

[2015-04-03 22:22] MatrixFrog commented on #822
We switched this to use Foo.call in 3566f49ce24887662777a04ba87817c200b79b9c but still no type error in.

[2015-04-03 22:23] MatrixFrog commented on #822
But we do generally typecheck Function.call (https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540param%2520%257Bnumber%257D%2520x%2520*%252F%250Afunction%2520f(x)%2520%257B%257D%250A%250Af.call(null%252C%2520%2522%2522)%253B%26input1%26conformanceConfig%26externs%26refasterjs-template%26includeDefaultExterns%3D1%26CHECK_SYMBOLS%3D1%26CHECK_TYPES%3D1%26LANG_IN_IS_ES6%3D1%26MISS

[2015-04-03 22:28] JacksonGL opened #896 "Get different output after compression with simple optimizations"
Not sure if this should be counted a bug. The following JavaScript code snippet prints ```longlongfunctionname```.
[code]
After compression with ```SIMPLE_OPTIMIZATIONS``` mode, the minimized code prints an empty string.
[code]

[2015-04-03 22:31] MatrixFrog commented on #896
https://developers.google.com/closure/compiler/docs/limitations

[2015-04-03 22:31] #896 closed

[2015-04-03 22:51] JacksonGL commented on #896
Oh, I see. It would be really great if the compiler could generate a warning if the input code uses those features that could potentially leads to a different semantics after compression.

[2015-04-03 22:53] MatrixFrog commented on #896
That's probably hard to detect in general, but maybe we could warn on uses of Function.prototype.name

[2015-04-03 23:17] freshp86 opened #897 "Allow closure_entry_point flag to accept a filename instead of a goog.provide'd symbol."
.... or add a new closure_enty_file flag instead of reusing the existing flag.

Asking for this because I am interested in compiling JSUnit tests individually (just for type checking, no intention to actually run the test in compiled mode for now). Because currently the flag is only accepting goog.provide'd symbols I have to add a goog.provide statement in each file, even though those namespaces a

[2015-04-05 23:38] JacksonGL opened #898 "Different semantics caused by dead code elimination"
The following JavaScript program prints ```2```:
[code]
After simple optimization, the compressed code prints ```1```:
[code]

[2015-04-06 01:20] MatrixFrog commented on #898
I believe the compiler is assuming that accessing this.bodies and this.bodies[i] will both have no side effects, so it believes it's safe to remove that entire line. This is documented [on the wiki](https://github.com/google/closure-compiler/wiki/Compiler-Assumptions) ("Property reads are assumed to be side effect free") but we should probably also mention it on https://developers.google.com/closu

[2015-04-06 04:45] JacksonGL opened #899 "Different semantics caused by reordering function definitions"
The following code prints ```2```:
[code]
After simple optimization, the compressed code prints ```1```:
[code]

[2015-04-06 08:22] ihsoft opened #900 "java.lang.RuntimeException: INTERNAL COMPILER ERROR."
Recently got error:

java.lang.RuntimeException: INTERNAL COMPILER ERROR.
Please report this problem.

only implemented in ClosureCodingConvention
  Node(CALL): ..\js\google\base.js:113:8
    if (goog.isProvided_(name)) {
  Parent(IF): ..\js\google\base.js:113:4
    if (goog.isProvided_(name)) {

        at com.google.javascript.jscomp.CodingConventions$DefaultCodingConvention.extractClassNameIfRe

[2015-04-06 08:25] ihsoft commented on #900
Another strange thing was that I got a lot of errors but return code pf the compiler still was 0. How an I check if the sources were compiled successfully then?

[2015-04-06 15:27] dimvar commented on #900
Are you somehow turning off the closure pass? What flags are you calling the compiler with?

[2015-04-06 15:51] dimvar commented on #897
You should not need to use closure_entry_point for these tests; it's only needed by manage_closure_dependencies, which again is not relevant if you are not executing the code.

[2015-04-06 15:51] #897 closed

[2015-04-06 16:32] dimvar commented on #899
The compiler does not try to preserve semantics when there are redeclared names in the same scope.

It should have actually warned here, unfortunately, this particular warning happens during type checking, which is off by default in simple mode, you'll see the warning if you try advanced mode.

(Also, the compiler doesn't handle functions declared inside nested blocks, you should only declare them

[2015-04-06 16:32] #899 closed

[2015-04-06 16:38] MatrixFrog commented on #900
And, what version are you on? I made some changes in that check recently, which may be related.

[2015-04-06 18:03] freshp86 commented on #897
I tried your suggestion but it is not equivalent. By not using an "entry point" there is no pruning done by the compiler, which leads in the entirety of closure library (and any other included code) to be compiled. For example I am getting errors in completely unrelated parts of the closure library (pasting some of them below),

node_modules/closure-library/closure/goog/editor/plugins/basictextfor

[2015-04-06 18:05] MatrixFrog commented on #897
A better solution would be to fix all the compiler errors in Closure's tests. I tried to do this at one point, and actually compile Closure's tests, but I had to roll it back because of some weirdness in Closure's setup :(

Still, we could fix most of these, and it would be good to do that.

[2015-04-06 18:08] freshp86 commented on #897
Sure, fixing Closure's test to not produce any errors would be nice, but still compiling the entire codebase without any pruning seems very wasteful and unnecessary. I am planning to compile about 100 JSUnit tests individually. I believe that pruning would make all those 100 build tasks to run faster (I believe). By not using an "entry point" I am basically forced to create the dependency graph my

[2015-04-06 22:39] ihsoft commented on #900
Closure Compiler (http://github.com/google/closure-compiler)
Version: v20150315
Built on: 2015/03/17 14:18

I don't explicitly enable or disable closure pass.

Full list of the flags:
 --js=<my source files>^
 --js=..\js\google/base.js ^
 --js_output_file=...... ^
 --compilation_level=ADVANCED ^
 --process_jquery_primitives ^
 --charset UTF-8 ^
 --summary_detail_level 3 ^
 --warning_level=VERBOSE

[2015-04-06 22:56] ihsoft commented on #900
And a note which may be helpfull. Recently I discovered that I was using ```goog.provide``` incorrectly. Here is a snippet:
[code]
I now realize that I should not have used ```goog.provide``` in this case since I make namespace in the module. Though, compiler never complained and code worked fine.

[2015-04-07 00:11] MatrixFrog commented on #897
Are all the compiler errors in _test.js files? If so you should also be able to exclude those. From the docs for the --js flag:

You still will end up compling a lot of Closure code you don't want, but it should get rid of the errors at least.

[2015-04-07 00:24] freshp86 commented on #897
Thanks for the suggestion. Yes all errors come from test files, but as you guessed, the fact that we would compile more code than necessary was the reason for not settling with simply filtering out files that are matching "_test.js" suffix.
  We ended up implementing a dependency scanner/pruner as a node script. If anyone is interested we could probably clean it up a bit and replace the python scr

[2015-04-07 17:16] ChadKillingsworth commented on #876
I need to make these signatures have parity with the `addEventListener` callback signature.

The tricky part is supporting use cases where the callback function doesn't have the event argument.

[code]

[2015-04-07 19:48] JacksonGL commented on #899
Sorry about that. I will fix all warnings before reporting any issue.

[2015-04-08 23:00] MatrixFrog commented on #900
--process_jquery_primitives causes the compiler to use the JqueryCodingConvention instead of the Closure one. Maybe if both --process_jquery_primitives and --process_closure_primitives are set (which will often happen since the latter is true by default) then we should use a convention which merges those two.

[2015-04-08 23:02] MatrixFrog commented on #900
Or the jQuery one can just extend the Closure one but that doesn't really make sense.

[2015-04-08 23:02] #898 closed

[2015-04-08 23:15] MatrixFrog commented on #822
There are actually two problems here.

1) We put `{Foo}` in the `@extends` annotation that we generate during transpilation. We should put `{Foo<string>}` instead.
2) But even if we did that, we wouldn't get any type error: https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520%2540constructor%2520%2540struct%2520%2540template%2520T%250A%2520*%2520%2540param%2520%257BT%257

[2015-04-09 06:50] adhintz opened #902 "Is Java 8 supported? (.java.lang.NoClassDefFoundError: com/google/javascript/jscomp/newtypes/ObjsType)"
When compiling our project with Sun's Java 8, @rcchan is getting an error with ObjsType. However the compilation works fine for me with OpenJDK 7.

More details are in https://github.com/google/end-to-end/issues/264

Here's the stack trace:

.java.lang.NoClassDefFoundError: com/google/javascript/jscomp/newtypes/ObjsType
    at com.google.javascript.jscomp.ClosureCodingConvention.getAssertionFuncti

[2015-04-09 13:37] MatrixFrog commented on #902
Java 8 is not officially supported, but we plan to support it soon, so thanks for bringing this to our attention! Generally the fix for a NoClassDefFoundError is to do an `ant clean` and then rebuild, because there may be an out of date class file somewhere. In this case it looks like you did that already, so I'll look into it.

[2015-04-09 17:31] adhintz commented on #902
Thanks for looking at it. @rcchan was able to build https://github.com/google/end-to-end successfully by "Manually cding into /lib/closure-compiler and running ant clean && ant " so perhaps it's a problem with how we're using closure compiler.

[2015-04-09 17:31] rcchan commented on #902
I was able to get it to build with `ant clean && ant` from the `closure-compiler` directory.
Since that works, I suspect it might have to do with the e2e installation of closure-compiler.

The other issue below still stands but was easy to identify + fix (present in both Java 7 and Java 8).
I think it has to do with using a different version of ant (1.7.1) which is not latest.
[code]

[2015-04-09 17:33] adhintz commented on #902
Cool. Want to submit a PR to https://github.com/google/closure-compiler/ for removing the .as(FileResource.class) ?

[2015-04-09 17:38] MatrixFrog commented on #902
If you are a Googler, it's easier to submit patches using the internal systems rather than on Github.

[2015-04-09 17:39] rcchan commented on #902
I made note of it here in case anyone else runs into the issue or if the maintainers feel that it's important for backward compatibility.
In general, it should work fine in the latest ant version (1.8.1).
The reason it breaks for me is because we have an older version of ant installed which doesn't have `.as()` defined for `Resource`.

[2015-04-09 17:39] MatrixFrog commented on #902
Also it might be easier for e2e to just use the released compiler from http://dl.google.com/closure-compiler/compiler-latest.zip instead of building it yourself. But I haven't looked at your setup, maybe there's some reason that won't work.

[2015-04-09 17:39] rcchan commented on #902
I'm not currently a Googler but it should be an easy (one line) patch if you want me to either PR or send in.  Is this a modification that we would want to make?

[2015-04-09 17:41] MatrixFrog commented on #902
Okay, PR is fine then (you'll have to sign a CLA, see https://github.com/google/closure-compiler/#submitting-patches) and if it still works with whatever version of Ant we're using, then yes, that should be fine.

[2015-04-09 17:44] rcchan commented on #902
I should already have a CLA signed for contributing to e2e
(Trying to sign it again gives me a message reaffirming that)

[2015-04-09 18:01] rcchan commented on #902
Also, I think this issue can be closed as the PR does not address any sort of Java 8 issue and it seems to run fine on Java 8.

[2015-04-09 18:34] #902 closed

[2015-04-11 00:30] #751 closed

[2015-04-11 20:16] adhintz opened #904 "ERROR - assignment to property indexOf of goog.array"
Sometime after https://github.com/google/closure-compiler/commit/2a2c1d596019020809c196352c1cd7bd08af5802 our travis-ci started breaking even though we didn't change any meaningful code and it looks like closure-library also did not change. Perhaps it's a bug in closure-compiler?

Here's what we're seeing:
.lib/closure-library/closure/goog/array/array.js:109: ERROR - assignment to property indexOf

[2015-04-11 20:21] MatrixFrog commented on #904
Yeah, I'm puzzled by this. Not sure how this is broken when compiling Closure alone, but not broken for the many internal projects that depend on Closure. I would probably recommend that you use the released version of the compiler rather than grabbing the latest from our master branch. We do a new release every month, so you're never too far behind.

[2015-04-11 20:22] MatrixFrog commented on #904
By the way I think e87262264b39d237a3bb534dbf6a6c592b247f87 may be the commit that actually broke this.

[2015-04-12 21:15] dhai opened #905 "Feature Request: Allow use of use_only_custom_externs and standard input"
use_only_custom_externs does not get picked up when pushing in files via standard input:

	java -jar compiler.jar --use_only_custom_externs
	console.log("XYZ"); // stdin
	console.log("XYZ"); // stdout

This should result in an error.  Also, it would be nice if we could pass both the javascript to be compiled, and the externs, all in one pass via standard input (a delimiter maybe?).

	// the code t

[2015-04-13 01:01] MatrixFrog commented on #904
The difference is that Closure uses a different CodingConvention than Google-internal projects. Fix (with a little more details) is in progress.

[2015-04-13 13:41] ChadKillingsworth commented on #905
You need to set your warning level or enable the proper checks:
[code]

The magic annotation you are looking for is `@externs` and it operates at the `@fileoverview` block. See:  https://github.com/google/closure-compiler/blob/master/contrib/externs/jquery-1.9.js#L27

[2015-04-13 13:41] #905 closed

[2015-04-13 13:43] ChadKillingsworth commented on #905
Although I just realized, `@externs` won't help when you pass multiple files in a single stream. That's not supported.

I'm guessing you are using a build system that utilizes streams? Like Gulp?

[2015-04-13 16:52] adhintz commented on #904
Sounds good -- thanks! I didn't notice a latest release tag for closure-compiler. Some repos have a latest release tag, but I'm not sure how to make one. For now I'll just grab a particular release: https://github.com/google/end-to-end/pull/282

[2015-04-13 16:56] MatrixFrog commented on #904
Just downloading from http://dl.google.com/closure-compiler/compiler-latest.zip should work too.

[2015-04-13 17:04] ChadKillingsworth commented on #904
Or Maven or NPM

[2015-04-13 18:41] ernestoalejo opened #906 "java.lang.NoSuchMethodError in CheckRegExp"
I will try to find the source file that it's triggering this error and add it to this issue.

Stacktrace:
[code]

[2015-04-13 18:44] MatrixFrog commented on #906
`NoSuchMethodError` is usually fixed by doing an `ant clean`.

[2015-04-13 18:53] ernestoalejo commented on #906
That was it. Thank you!

[2015-04-13 18:53] #906 closed

[2015-04-13 20:57] dhai commented on #905
I've written my own precompiler that generates it's own externs.

You're right, I totally forgot the verbose flag.  doh!

Thanks for the note about the externs!

[2015-04-13 22:44] dhai commented on #905
Just to clarify, since the externs annotation happens at the fileoverview level, I assume there is no way to pass in both the externs and code to be compiled via stdin?

java -jar bin/compiler.jar -- warning_level=VERBOSE --compilation_level=ADVANCED_OPTIMIZATIONS --language_in=ECMASCRIPT6_STRICT --language_out=ECMASCRIPT5_STRICT --use_only_custom_externs < "test.js"

where test.js is:

	console.l

[2015-04-14 02:18] eevee commented on #892
Here's something pretty hacky I'm trying to do.  Maybe there's at least some way to get this working.

We don't use Closure's translation facilities; our existing messages are in a different format and predate our use of Closure.  So we just have a bunch of object literals, one per locale, and the appropriate one is chosen at compile time based on `goog.LOCALE`, similar to how `goog.i18n.DateTimeP

[2015-04-14 06:00] concavelenz commented on #899
We should make sure that we handle this properly in ES6 mode (where this code is valid).  The functions shouldn't be reordered in any event, that seems like a bug to me.

[2015-04-14 06:02] concavelenz commented on #897
Personally, I would love to see the python code replaced with JS code.

[2015-04-14 06:04] concavelenz commented on #895
interesting.

[2015-04-14 13:42] MatrixFrog commented on #897
Definitely. @freshp86, keep us updated, and maybe we'll want to take your solution for lovefield and make it a general solution that anyone can use.

[2015-04-14 17:03] freshp86 commented on #897
The code resides at https://github.com/google/lovefield/blob/master/tools/scan_deps.js. It can be heavily cleaned up. Specifically I have in mind the following
1) the two helper classes RequireMap and ProvideMap can be replaced with native V8 Map classes.
2) Some bits are Lovefield specific and would need to be removed. For example TransitiveDepsScanner class also looks into a temporary folder whe

[2015-04-14 21:06] pauldraper opened #907 "@type doesn't work like @param"
Perhaps there is a better title.

When type checking is enabled,

[code]

produces

[code]

However, the following passes type checking:

[code]

[2015-04-15 05:45] concavelenz commented on #907
There are two kinds of record types in the type system: inferred and declared.   Inferred record types can be coerced into compatible declared record types, declared record types have invariant property types. In the first case the type of the object literal is declared, in the second the type of the object literal is inferred.

I recently started an experiment to change the relationship of the re

[2015-04-15 05:46] concavelenz commented on #904
I think this can be closed now?

[2015-04-15 06:38] MatrixFrog commented on #904
Yes thanks. For reference, the fix was 7f390a665ed2822451cc29a09502c57c152fe142

[2015-04-15 06:38] #904 closed

[2015-04-15 21:03] #889 closed

[2015-04-15 23:09] ILOVEPIE opened #908 "Erronious output generated with --debug --formatting=PRETTY_PRINT --compilation_level ADVANCED_OPTIMIZATIONS set"
I'm getting strange output with $s and incorrect formatting as well as syntax errors, it's supposed to simply print longer names and in a viewable format for debugging the output.

[2015-04-15 23:11] MatrixFrog commented on #908
IIRC --debug is for debugging the compiler, so unless you're hacking on the compiler itself you probably don't need it.

[2015-04-15 23:13] ILOVEPIE commented on #908
the documentation of the compiler said it was for debugging output

[2015-04-15 23:18] ILOVEPIE commented on #908
and --formatting=PRETTY_PRINT isn't working

[2015-04-15 23:31] ChadKillingsworth commented on #908
I use this all the time to debug - both flags.

Can you provide a repo case?
On Apr 15, 2015 6:18 PM, "Patrick Martin" <notifications@github.com> wrote:

[2015-04-15 23:43] ILOVEPIE commented on #908
i'm uncertain as to what specifically is causing this bug to occur with my .js files, considering that the one that's been giving me the most trouble is over 950 lines long, it will take me a while to come up with a repo case, the flags i'm using are:

    --debug --formatting=PRETTY_PRINT --compilation_level ADVANCED_OPTIMIZATIONS

and here is a snippet from the beginning of the output closure co

[2015-04-15 23:48] ihsoft commented on #908
"$" in debug output is totally OK. This is how compiler denotes renamed identifiers.

Pretty print is another story. What was the source you compiled? Did you try compiling with stable version? I frequently use debug & pretty print and never had problems.

[2015-04-15 23:52] ChadKillingsworth commented on #908
Also try disabling the type based optimizations

    - - use_types_for_optimization false

[2015-04-15 23:55] ILOVEPIE commented on #908
ah ok i didn't know about the $ thing, as for the pretty print, i'm using the compiler from this url: http://dl.google.com/closure-compiler/compiler-latest.zip

the source I compiled is part of the javascript based video player i've been working on for the past year and a half, i've been continually testing both the un-compiled and closure compiled versions, however when i updated my closure compi

[2015-04-15 23:58] ChadKillingsworth commented on #908
The latest compiler version enables the type based optimizations by default. Turning those off will more than likely fix your problem.

[2015-04-15 23:58] #908 closed

[2015-04-17 10:31] jhiswin opened #909 "es6 classes with same name as called function"
class MyClass extends SomeOtherClass {
   init(config){
      window["SomeObject"].init(config);
   }
}
MyClass.init({});

compiles to
function a(b){a(b)}a({});

[2015-04-17 15:40] MatrixFrog commented on #909
That's not what I'm seeing. http://closure-compiler-debugger.appspot.com/#input0%3Dclass%2520MyClass%2520extends%2520SomeOtherClass%2520%257B%250A%2520%2520init(config)%257B%250A%2520%2520%2520%2520window%255B%2522SomeObject%2522%255D.init(config)%253B%250A%2520%2520%257D%250A%257D%250A%250AMyClass.init(%257B%257D)%253B%26input1%26conformanceConfig%26externs%3Dvar%2520SomeOtherClass%253B%26refaste

[2015-04-18 05:30] jhiswin commented on #909
I've narrowed it down to something strange.  I made a typo in init() along the lines of:
[code]
And for some reason, it caused the init function to get confused and think it was calling itself recursively.
Note: init is not externed, and SomeObject does not (yet) exist

[2015-04-19 01:33] devraj opened #910 "Update extern to support referring to HTML5 history API directory"
At present you can refer to it as `window.history`, HTML5 allows referring to it the history API directory.

As per [discussion on the list](https://groups.google.com/forum/#!topic/closure-compiler-discuss/eWiXN2PkJK0) with @ChadKillingsworth the externals needs to be updated.

[2015-04-19 08:00] phistuck opened #911 "Functions exported within immediately-invoked function expression lose their type checking"
This code should produce warnings for the incorrect number of parameters and the type of the first parameter, but does not -
[code]

[2015-04-19 18:15] MatrixFrog commented on #910
https://github.com/google/closure-compiler/blob/b8239c41b48feb8c527ed11c12aae7cae47617d8/externs/gecko_dom.js#L109

[2015-04-19 18:17] MatrixFrog commented on #910
But there are a bunch of project-specific externs definitions inside Google so we probably have to delete all those so we don't get duplicate warnings :(

[2015-04-20 13:47] ChadKillingsworth commented on #910
@MatrixFrog Do you want to handle this then? If not, I'll get a PR ready.

[2015-04-20 15:21] ChadKillingsworth opened #912 "@export should support non-global properties"
`@export` should be allowed on a property at any scope depth.

See http://stackoverflow.com/q/29736165/1211524

[2015-04-20 17:01] MatrixFrog commented on #910
I probably won't get to it anytime soon. I think it should work with a `@suppress {duplicate}` so we don't have to do the Google-wide cleanup right away.

[2015-04-21 00:25] #910 closed

[2015-04-21 08:11] sinelaw commented on #305
+1
Any chance this can be fixed?

[2015-04-21 15:11] ChadKillingsworth opened #914 "Implement the ChildNode interface in default externs"
See http://stackoverflow.com/a/29774898/1211524

References
 * https://developer.mozilla.org/en-US/docs/Web/API/ChildNode
 * https://dom.spec.whatwg.org/#interface-childnode

Also, HTMLSelectElement overloads the `remove` method.

[2015-04-21 15:15] ChadKillingsworth commented on #914
Actually it looks like `.remove` is the only method of the interface currently implemented so we might just want to add that.

[2015-04-21 20:23] ChadKillingsworth opened #915 "Document @nocollapse"
Suggested documentation:

## Tag
@nocollapse

## Syntax & Examples
@nocollapse
*For example:*

[code]
# Description
Denotes a property that should not be collapsed by the compiler into a variable. The primary use for @nocollapse is to allow properties to remain mutable after exporting.

Without `@nocollapse`, static properties may be collapsed into global variables thereby making exports immutable

[2015-04-21 21:05] blickly commented on #915
Done: https://developers.google.com/closure/compiler/docs/js-for-compiler#tag-nocollapse

[2015-04-21 21:05] #915 closed

[2015-04-21 22:30] dimvar commented on #305
I agree this would be useful. It's not in my immediate plans, but we should do it for the new type inference.

[2015-04-24 00:22] concavelenz commented on #909
Can this be closed then?

[2015-04-24 04:28] #909 closed

[2015-04-24 05:24] JacksonGL opened #917 "Different semantics caused by moving 'use strict'"
Sorry, another issue report :) This time the compressed code throws exception on Firefox and Node.js.
 * It does not seem to violate any [compiler assumptions](https://github.com/google/closure-compiler/wiki/Compiler-Assumptions).
 * There is no warning under parameter ```--warning_level VERBOSE```

The following code executes normally:
[code]
After compression with the following parameters:
```--

[2015-04-24 05:32] blickly commented on #917
--language_in=ECMASCRIPT5_STRICT means that the input should be treated as ES5 strict mode code, i.e. not depend on any sloppy mode behavior.

[2015-04-24 05:32] #917 closed

[2015-04-24 05:34] JacksonGL commented on #917
Is there any way to preserve the function level strict mode? Thanks.

[2015-04-24 06:37] ihsoft opened #918 "Type of "this" is not deducted when goog.bind is used."
Consider the following code:
[code]
When `reportUnknownTypes` is active compiler reports:
[code]
In general it's a valid error since compiler cannot guess context of an arbitrary anonymous function. Though, `goog.bind` is a part of closures base. I'd say it's safe to assume here that `this` of the function has the same type as `this` of the caller. After all, the only reason of using `goog.bind` i

[2015-04-24 14:32] ChadKillingsworth commented on #917
No - function level strict mode doesn't make sense when functions can get completely inlined. It's an all-or-nothing choice. Details of the implentation: https://code.google.com/p/closure-compiler/issues/detail?id=69

[2015-04-24 14:34] ChadKillingsworth opened #919 "Migrate code.google.com closed issues"
When the move to github was made, open issues were migrated. However, closed issues were not. There are lots of great discussions there I still reference, like this one: https://code.google.com/p/closure-compiler/issues/detail?id=69

Can we import the closed code.google.com issues to github before code.google.com is turned off?

[2015-04-24 15:08] MatrixFrog commented on #918
I think this is supposed to work, as is native bind (function() {...}.bind(this)). Maybe you need to explicitly specify the Closure CodingConvention.

[2015-04-24 17:23] MatrixFrog commented on #919
I agree we should definitely do this.

I don't remember how we did the migration, but we didn't use the super-easy auto-migrator (https://code.google.com/export-to-github/) because it didn't exist at the time. And if we run the auto-migrator now I'm not sure what would happen. Ben, do you remember what we did, or have ideas how to do this?

[2015-04-24 17:47] ChadKillingsworth commented on #919
It looks to be more complicated. Open issues just reference to google code issue for discussion - they don't replicate it on github.

[2015-04-24 18:31] ihsoft commented on #918
I use flag `--process_closure_primitives`. Do I need to add some other flag?

[2015-04-25 10:15] ihsoft opened #920 "Misleading message for unreachable code"
Code:
[code]

With `--jscomp_error=reportUnknownTypes` compiler reports:
[code]

Removing `return` makes compilation passing. It makes me believe the actual error was `Code unreachable`.

[2015-04-25 14:29] MatrixFrog commented on #920
The unreachable-code check is in the `uselessCode` group so you can pass `--jscomp_error=uselessCode`.

[2015-04-25 19:41] ihsoft commented on #920
This check is active too. I compile with all the checks enabled as errors.
[code]

[2015-04-26 14:17] #603 closed

[2015-04-27 16:08] MatrixFrog commented on #920
We don't generally recommend enabling reportUnknownTypes but I guess it runs before the uselessCode check, so if you have it on as an error, this is indeed what will happen.

[2015-04-27 16:08] #920 closed

[2015-04-28 18:16] ghosttie opened #922 "generics not checked depending on definition position in file"
I have a problem where the compiler is allowing things it shouldn't.

I have asynchronous API calls that are used by passing them a callback function.  The callbacks expect a Response object as their parameter, and the Response object has a template.  So the API call getNumber expects a function(Response<number>) callback, getString expects a function(Response<string>) etc.

The problem is that if

[2015-04-29 00:17] blickly commented on #919
I've downloaded the database dump of the googlecode issue tracker (in a single huge json file), but I'm not sure what to do with it. Github doesn't allow renumbering of issue numbers, so we would never be able to number them consistently with what they were numbered before.

[2015-04-29 02:37] concavelenz commented on #918
It isn't clear if the issue is "this" or "this._playPosition" (both have the same starting location).   There isn't enough context to determine the type of "_playPosition" (the set before the bind doesn't count).  But I expect it is the property not the this.

[2015-04-29 03:58] ihsoft commented on #918
It's `this` for sure. `_playPosition` is declared in the constuctor and the class itself is `@struct`:
[code]

Not to mention there is an assignment right before the callback and if the property was unknown the error should have happen there.

[2015-04-29 05:57] roman01la opened #923 "Inline forEach"
Is it possible to make Closure Compiler to inline `forEach` into a `for` loop? For some reason V8 still doesn't do this optimization.

Also optimizng array iteration functions like `map`, `filter`, etc. would be a great thing.

[2015-04-29 16:52] MatrixFrog commented on #918
I'll look into this soon. However, using goog.bind here is unnecessary since you're calling the function immediately.

    (function() {
      alert("Value is: " + this._playPosition);
    }).call(this);

[2015-04-29 17:05] nicks commented on #918
i'm highly suspicious of the

/**  @struct @constructor */
FakePlayer = function() { ... }

declaration. shouldn't it be

/**  @struct @constructor */
var FakePlayer = function() { ... }

?

is it possible that FakePlayer is being defined and declared twice,
once here and once somewhere else?

On Wed, Apr 29, 2015 at 12:52 PM, Tyler Breisacher
<notifications@github.com> wrote:

[2015-04-29 18:04] ChadKillingsworth opened #924 "Distributing the Contrib/Externs"
Most of my projects make use of at least one extern maintained in the contrib/externs folder. Currently I either have to use a dependency system to download the extern from the github contrib externs folder or check the extern into my project's source control. Neither are great solutions.

I'd like to distribute the contrib/externs folder as part of the NPM package. It would be updated on the same

[2015-04-29 18:16] dimvar commented on #924
I'm fine with this. Remind me, why didn't we do it from the start?

[2015-04-29 18:25] ihsoft commented on #918
@MatrixFrog I only created this code _snippet_ to demonstrate the problem. In real life it's never an immediate call but providing a callback.

@nicks Example that I gave is a short snippet of a big module. `FakePlayer` is defined via `goog.require` once at the module header.

[2015-04-29 18:46] nicks commented on #918
goog.require declares things as objects if they're not declared elsewhere.
So, yes, that sounds like the source of your problem. Does changing to `var
FakePlayer` fix it?

On Wed, Apr 29, 2015 at 2:25 PM, ihsoft <notifications@github.com> wrote:

[2015-04-29 19:58] ChadKillingsworth commented on #924
I didn't occur to me.

To date, I just matched what was available in the other distributions. It's not in Maven, therefore I didn't include it in NPM.

[2015-04-30 05:11] ihsoft commented on #918
No, it doesn't fix the problem. And I'd surprised if it worked because of this is a closure technique of declaring classes. In real applications short names for the classes is a seldom case, usually classes have namespaces, and using `var` as you have suggested is just not feasible:
[code]
If you try to use `var` and rewrite code like this:
[code]
You'll get error:
[code]
And this will be a valid

[2015-04-30 18:18] mashify opened #925 "Feature request: @constexpr"
I would like something like this:

    /** @constexpr */
    function count(to) {
      for(var i = 0; i < to; i++) {}
      return i;
    }
    console.log(count(3));

result into:

    console.log(3);

when compiled.
At the moment this would result into:

    for(var a=0;3>a;a++);console.log(a);

[2015-04-30 18:32] dimvar commented on #925
We generally avoid adding jsdoc annotations that direct compiler optimizations. I don't think that <code>@constexpr</code> would be used often enough to justify the complexity of having it.

[2015-04-30 18:32] #925 closed

[2015-04-30 18:35] ChadKillingsworth commented on #925
It's also not needed. The compiler will completely inline a function if it can. In your case, the `for` loop isn't unrolled.

Example:
[code]

[2015-04-30 20:03] mashify commented on #925
alright.. thank you very much for the fast responses.

[2015-04-30 23:24] shicks opened #926 "Inconsistent source map when transpiling generic types with --preserve_type_annotations"
demo.es6.js:

    goog.provide('foo.Demo');

    /**
     * @param {T} foo
     * @template T
     */
    foo.Demo = function(foo) {
      this.foo = foo;
    };

Transpiling with

    jscompiler --language_in=ECMASCRIPT6_STRICT \
               --language_out=ECMASCRIPT3 \
               --transpile_only \
               --preserve_type_annotations \
               --pretty_print \

[2015-05-01 00:10] oldergod opened #927 "Non-existing type defined in externs/html5.js"
See this code [externs/html5.js](https://github.com/google/closure-compiler/blob/master/externs/html5.js#L2813)
The `options` parameter of `MutationObserver.prototype.observe` is typed to `MutationObserverInit` and this type is also defined few lines above at [line 2747](https://github.com/google/closure-compiler/blob/master/externs/html5.js#L2747).

However, the type `MutationObserverInit` does n

[2015-05-01 01:47] teppeis commented on #126
Optional field type is inconsistent between @param and @type.
I think the behavior of @param is correct.

Example:

[code]
[code]

[2015-05-01 06:12] ihsoft commented on #126
The warning looks fine to me. When you declare `f` you define it's type via annotation but then you assign an object of incompatible type, and this is what triggers the warning. Try the following:
[code]
Btw, in most cases you may skip first `@type` since in this case type of the variable can be dedicted from the assignment.

[2015-05-01 06:19] ihsoft commented on #925
This request somehow relates to `@nosideffects`. It's pity it cannot be applied to non-externs functions. In many cases prototype function could be inlined but compiler doesn't do this because of there could be side-effects, and there is no way to give a hint.

[2015-05-01 07:59] teppeis commented on #126
@ihsoft If the warning is correct, the above @param and `bar({})` should be error.
and we need another type definition for optional field.

TypeScript has the optional type:
[code]

[2015-05-01 16:29] MatrixFrog commented on #927
Yeah, a typedef of a record type probably would have been better. For now, you can add a cast and it should work.

[2015-05-01 17:49] #926 closed

[2015-05-01 20:40] rictic opened #929 "Transpilation of for ... of iteration doesn't work with built-in iterables"
[View this example in the Debugger](https://closure-compiler-debugger.appspot.com/#input0%3Dlet%2520map%2520%253D%2520new%2520Map()%253B%250Amap.set('a'%252C%25201)%253B%250Amap.set('b'%252C%25202)%253B%250Amap.set('c'%252C%25203)%253B%250A%250Afor%2520(var%2520x%2520of%2520map)%2520%257B%250A%2520%2520console.log(x)%253B%250A%257D%26input1%26conformanceConfig%26externs%26refasterjs-template%26inc

[2015-05-01 20:42] rictic commented on #929
Oh, it looks like the [latest version of es6_runtime does the right thing here](https://github.com/google/closure-compiler/blob/62b5a5d913f947d0d5fb6a5381884209db202785/src/com/google/javascript/jscomp/js/es6_runtime.js#L52), so maybe this will be fixed in the next release?

[2015-05-01 20:58] #929 closed

[2015-05-01 22:31] MatrixFrog commented on #929
Yup. Fixed in e2317ea07e42dfff97d8f3784f49ddfe0ce51602. We're hoping to get a release out in April, but since our time machine is currently broken, it will most likely be early next week instead.

[2015-05-04 22:09] MatrixFrog commented on #927
It's not letting me assign to him but @jklein24 has a fix for this.

[2015-05-05 12:56] normanr opened #931 "jQuery load is over eagerly defined as deprecated"
The [load event](http://api.jquery.com/load-event/) is deprecated, but the [load method](http://api.jquery.com/load/) is not, but usages of both generate deprecation warnings.

It would be nice if the deprecation warnings were only generated for the deprecated method, and not the non-deprecated one.

There's even confusion on the [original bug](http://bugs.jquery.com/ticket/11733) to deprecate the

[2015-05-05 13:30] ChadKillingsworth commented on #931
I can remove the `@deprecated` annotation, but since JavaScript doesn't support function overloading (and closure-compiler doesn't either), it's for both usages or neither.

[2015-05-05 18:33] shicks opened #932 "Multiple arrow functions in the same function but different lexical scope result in invalid transpiled output"
Simple repro case:

    xss.forEach(xs => {
      xs.forEach(x => console.log(x));
    });

When attempting to compile the transpiled result, the inner arrow fails with

    ERROR - Redeclared variable: $jscomp$this

Presumably the resolution is to just detect that the call is nested and not redeclare the variable (or if it's possible that `this` is different, use `$jscomp$this$1`, though I can't

[2015-05-05 18:35] MatrixFrog commented on #932
Is this from a Haskell-to-JS compiler? :)

[2015-05-05 18:37] shicks commented on #932
Scratch that - I looked back at it and it's not nested arrows, it's adjacent arrows in the same scope.

    xs.forEach(x => console.log(x));
    xs.forEach(x => console.log(x));

(Haskell-to-JS is a nice idea in theory, but in practice it's kinda annoying...)

[2015-05-05 18:40] shicks commented on #932
The above code transpiles to

    var $jscomp$this = this;
    xs.forEach(function(x) { console.log(x); });
    var $jscomp$this = this;
    xs.forEach(function(x) { console.log(x); });

(Apologies if it's not exact - I'm hand-simplifying my actual output - it's possible that it actually does work if the functions don't actually use `this`... but it definitely fails if `this` is referenced in both

[2015-05-05 18:43] shicks commented on #932
Okay, it's more subtle than that.  It works if they're really adjacent, but fails if they're, say, at different levels of nesting from `if`s or `for` loops.  I'm going to put together a real minimal example I can just paste in.

[2015-05-05 18:48] shicks commented on #932
var f = function(xs) {
      xs.forEach(x => this.log(x));
      if (xs.length > 1) {
        xs.forEach(x => this.log(x));
      }
      xs.forEach(x => this.log(x));
    }

Transpiled result:

    var f = function(xs) {
      var $jscomp$this = this;
      xs.forEach(function(x) {
        return $jscomp$this.log(x);
      });
      if (xs.length > 1) {
        var $jscomp$this = this;
        xs

[2015-05-05 19:00] MatrixFrog commented on #932
Can you repro this on the debugger? I'm not seeing it.

https://closure-compiler-debugger.appspot.com/#input0%3Dvar%2520f%2520%253D%2520function(xs)%2520%257B%250A%2520%2520xs.forEach(x%2520%253D%253E%2520this.log(x))%253B%250A%2520%2520if%2520(xs.length%2520%253E%25201)%2520%257B%250A%2520%2520%2520%2520xs.forEach(x%2520%253D%253E%2520this.log(x))%253B%250A%2520%2520%257D%250A%2520%2520xs.forEach

[2015-05-05 22:34] dimvar commented on #858
This was fixed here: https://github.com/google/closure-compiler/commit/104d6df364fc3831eeff9f480fd7cb02a3c376c9

[2015-05-05 22:34] #858 closed

[2015-05-05 22:36] dimvar commented on #833
Fixed: https://github.com/google/closure-compiler/commit/d536a7df9842ec6f109e6c523f89fbe1e2477332

[2015-05-05 22:36] #833 closed

[2015-05-06 01:01] shicks commented on #932
Look again.  You don't get an error on the first pass, but your link's Module Binary Parent has a redeclared $jscomp$this.  I can't find the flags to enable the REDECLARED_VARIABLE check, but if you enable it and pass the transpiled output back through the compiler, you get a redeclared variable error.

[2015-05-06 01:08] shicks commented on #932
Hmm... Nevermind, it seems to be working on the public debugger.  Could be a regression since that version was built, since the version at head is definitely broken.

[2015-05-06 15:22] #927 closed

[2015-05-06 18:45] dimvar commented on #759
fixed: https://github.com/google/closure-compiler/commit/c81d876573970b3b6d38a612490d50b2100772e3

[2015-05-06 18:45] #759 closed

[2015-05-06 19:07] dimvar commented on #875
I just tried this example and it worked as expected (no warnings). I'm closing this issue, and I'll fix #850 separately.

<code>
/**
 * @constructor
 * @struct
 */
function Foo() {
  /** @type {number} */
  this.prop;
}

(new Foo).prop = 123;
</code>

[2015-05-06 19:07] #875 closed

[2015-05-06 19:41] dimvar commented on #850
Should be fixed here: https://github.com/google/closure-compiler/commit/e43ad48a0086f041d9535bc15a1b268fdc30426c

[2015-05-06 19:41] #850 closed

[2015-05-06 19:50] dimvar commented on #865
Repro for the bad cast warning:

    /** @interface */
    function High() {}

    /** @constructor @implements {High} */
    function Mid() {}

    /** @constructor @extends {Mid} */
    function Low() {}

    function g(/** !High */ x) {
      /** @type {!Low} */ (x);
    }

[2015-05-06 19:52] dimvar commented on #860
This is really an externs issue, not an NTI issue, so I'm removing the label.

[2015-05-06 19:55] dimvar commented on #857
Yeah, this is about typing of the call property, it doesn't have to do with inheritance.

[2015-05-06 19:58] dimvar commented on #856
Repro:

    // externs
    /** @const */ var ns = {};
    /** @type {number} */ ns.num;

    // code
    var x = ns.num;

[2015-05-06 20:01] dimvar commented on #855
Should be fixed here: https://github.com/google/closure-compiler/commit/2abe542b6179ba3e20dd9b274f7d434fe67c67be

[2015-05-06 20:03] dimvar commented on #839
fixed here: https://github.com/google/closure-compiler/commit/167be809f81c993fd1d4c33c0a1025bcdf060b39

[2015-05-06 20:03] #839 closed

[2015-05-06 20:04] dimvar commented on #836
I believe this and #865 have the same cause. I'll look into it.

[2015-05-06 20:08] dimvar commented on #837
I'm closing this as it's not reporting a specific bug. Some of the individual warnings here have been fixed (see my comments on other bugs). If you find more, please file new issues, one issue per warning.

[2015-05-06 20:08] #837 closed

[2015-05-06 20:10] dimvar commented on #866
I just tried this example and I can't reproduce the issue. It must have been fixed at some earlier commit.

    function f(/** !Object */ x) {
      return x.hasOwnProperty('asdf');
    }

[2015-05-06 20:19] dimvar commented on #834
We have this bug also with the native Function.prototype.bind

[2015-05-06 20:19] dimvar commented on #832
duplicate of #865

[2015-05-06 20:19] #832 closed

[2015-05-06 20:24] dimvar commented on #829
What's the code to compile to reproduce this? We have changed how we do declarations, so there is a good chance this is fixed now.

[2015-05-06 20:25] dimvar commented on #766
I don't know if we'll handle typed arrays before handling ES6 in NTI. Marking as P3 for now.

[2015-05-06 20:27] dimvar commented on #760
Note to self: we should be allowing <code>@type</code> declarations where the initializer is a function to have a type that is a supertype of function, eg, a union that includes function.

[2015-05-06 20:33] dimvar commented on #862
I'm assuming this is a duplicate of #856

[2015-05-06 20:39] dimvar commented on #651
For NTI, we have an issue with goog.isObject even without the <code>&&</code> operator.

    /** @param {*} x */
    function f(x) {
      if (goog.isObject(x)) {
        return x.length;
      }
    }

[2015-05-06 20:42] dimvar commented on #247
Removing the NTI label since this works correctly there. Downgrading to P3 for the current type checker.

[2015-05-06 20:56] ghosttie opened #933 "incorrect compile error"
I have a property defined as:

[code]

but the compiler seems to be confused about it:

    found   : (Array|null|test.DisplayObject)
    required: (null|test.DisplayObject)
            var /** test.DisplayObject|Array<test.DisplayObject>|Array<test.TableRow> */ value = new test.Result().value;
                                                                                                 ^

It s

[2015-05-06 21:28] ChadKillingsworth commented on #924
Closed with the 20150505 release: https://www.npmjs.com/package/google-closure-compiler

[2015-05-06 21:28] #924 closed

[2015-05-07 12:33] blq opened #934 "ECMASCRIPT5 mode"
I compile using the "--language_in ECMASCRIPT5" setting (VERBOSE mode).
But I still get an error about a type collision with an ES6 feature:
"ERROR - Variable Iterable first declared in externs.zip//es6.js"
('Iterable' is my own definition in an extern).

In ECMASCRIPT5 mode I wouldn't expect ES6 warnings or errors? Shouldn't the compiler skip the es6.js extern file in this case?

Regards
/Fredrik

[2015-05-07 15:31] MatrixFrog commented on #934
We went ahead and added some ES6 features to the default set of externs, so that if you're in a browser that supports, say, Map and Set, you can just go ahead and use them without doing anything special, even if you're not using ES6 language features like arrow functions. You could try removing or renaming the 'Iterable' definition in your externs, or you can explicitly specify a set of externs fi

[2015-05-07 16:00] #932 closed

[2015-05-07 19:26] nicks opened #935 "missing ServiceWorker externs"
are there ServiceWorker externs yet?

I can contribute some if there are not
http://www.w3.org/TR/service-workers/

[2015-05-07 19:27] ChadKillingsworth commented on #935
I haven't seen any come through.

[2015-05-07 20:02] nicks commented on #935
OK, I sent a PR here:
https://github.com/google/closure-compiler/pull/936

[2015-05-07 20:28] ChadKillingsworth opened #937 "In externs, interfaces should be allowed to extend constructors"
HTML5 Service Workers are defined as an interface which extend a constructor (Worker). We should allow this.

See #936

[2015-05-07 20:43] dimvar commented on #651
I must have made a mistake yesterday, because trying this now with NTI works as expected. I'll add a unit test for it. Removing the NTI label.

[2015-05-07 21:10] dimvar commented on #937
Is this an IDL thing? IIRC, there is not an exact match between that type system and ours.

I don't think we should allow this in the externs, we should have the same typing rules everywhere.

[2015-05-08 16:44] blq commented on #934
But if I specify ES5 I would rather have warnings/errors if someone uses Map and Set etc, regardless if they exist or not? For compatibility, not convenience.

Yes, I guess can workaround technically, though externs have been used for quite a while without the collision (I was testing updating the compiler recently, that's why I found this change of behavior). Will need lots of re-tagging of old c

[2015-05-08 16:47] ChadKillingsworth commented on #934
Currently we don't have a way to specify different sets of externs based on flags. I'd like to work on this at some point, but I have to finish other work first. This is needed for several cases:

-- Language_in flags
-- Compiling in different environements (Node, web and server workers, etc)

[2015-05-08 16:50] ChadKillingsworth commented on #937
I thought we allowed interfaces to behave differently already, but I was mistaken. https://code.google.com/p/closure-compiler/issues/detail?id=250

[2015-05-08 16:50] #937 closed

[2015-05-08 17:02] lewistg opened #938 "Rewrite method names (passed in as strings) to mocking functions (e.g., goog.testing.MockControl.prototype.createMethodMock)"
At my place of work, we like to compile our JavaScript unit tests. Because advanced mode does not rewrite the methods named in strings, it is hard to leverage closure's mocking libraries. For example,

goog.testing.MockControl.prototype.createMethodMock

fails when the test is run compiled.

In the book "Closure: The Definitive Guide" it mentions a similar problem for the PropertyReplacer; it also

[2015-05-08 20:04] MatrixFrog opened #939 "Output file is produced even if there are errors"
See https://code.google.com/p/chromium/issues/detail?id=486093 -- apparently we are still writing an output file even if there are errors. This might happen only in IDE mode, but we should probably investigate.

[2015-05-08 20:25] MatrixFrog opened #940 "Better typechecking for enums in switch/case statements."
If the thing passed to a `switch` is not the same type as the `case`s we should perhaps warn about that. Example:

https://closure-compiler-debugger.appspot.com/#input0%3D%252F**%2520%2540enum%2520%257Bstring%257D%2520*%252F%250Avar%2520Color%2520%253D%2520%257B%250A%2520%2520RED%253A%2520'red'%252C%250A%2520%2520ORANGE%253A%2520'orange'%250A%257D%253B%250A%250A%252F**%2520%2540enum%2520%257Bstrin

[2015-05-08 23:39] jklein24 opened #941 "--extra_annotation_name doesn't seem to do anything"
I'm trying to use the --extra_annotation_name flag on the command line to avoid errors for some Polymer annotations that the compiler doesn't understand, but this flag seems to have no effect on anything. In the process, I tried copying the following 2 lines:

https://github.com/google/closure-compiler/blob/master/test/com/google/javascript/jscomp/CommandLineRunnerTest.java#L137-138

to the end of

[2015-05-08 23:39] jklein24 commented on #941
@MatrixFrog

[2015-05-09 05:47] dimvar commented on #939
IIRC, the compilation in IDE mode continues after errors, so it's not too surprising that it produces an output. We should still fix it though.

[2015-05-11 19:42] #758 closed

[2015-05-11 19:42] #856 closed

[2015-05-12 04:59] concavelenz commented on #939
likely we should never produce output for IDE mode.  It might be their runner though.

[2015-05-12 05:02] concavelenz commented on #937
As I recall IDL definitions are interfaces which is confusing.

[2015-05-12 05:06] concavelenz commented on #934
@blq The externs are for the most part in a separate file "es6.js".  If you build remove those definitions from a local build you should get the errors you want.

[2015-05-12 05:13] concavelenz commented on #766
I'm hope my intern will work on this.

[2015-05-12 05:24] concavelenz commented on #923
This is generally harder than it sounds to do correctly in the general case.  You can write a custom compiler pass to do this pretty trivially (see the compiler peephole passes) if you want to take that try this out for yourself.

[2015-05-12 18:43] MatrixFrog commented on #935
Added in fd513f84fecbf83642b1f234c0aa45b250923c35 -- I did a quick diff of that version vs. the one you sent and it looked like they were similar but definitely had some differences. Of course, let us know if you see anything that looks wrong.

[2015-05-12 18:43] #935 closed

[2015-05-12 20:01] rockwalrus commented on #938
It seems to me like a good way of handling this might be to have the compiler know how to fold Function.name

[2015-05-12 20:04] MatrixFrog commented on #938
I find that tests using MockControl and similar, rather than hand-written stubs/mocks, tend to be brittle and hard to read, so I'm not particularly inclined to make it *easier* to do that. Just my 2 cents though, doesn't mean it would never happen.

[2015-05-12 21:13] MatrixFrog commented on #941
It looks like you're overriding the command line flags here: https://code.google.com/p/chromium/codesearch#chromium/src/third_party/closure_compiler/runner/src/org/chromium/closure/compiler/Runner.java&l=190

Will try to confirm.

[2015-05-12 21:19] MatrixFrog commented on #941
Yeah, it looks like you can just nuke that line and everything works. It was probably copy-pasted from the runner used in third_party/WebKit/Source/devtools but afaict there aren't any `@suppressReceiverCheck`s in the code you're trying to compile.

[2015-05-12 21:19] #941 closed

[2015-05-12 21:42] Aedx opened #942 "Incorrect removal of named function variable assignment"
When compiling code containing a variable assignment which involves a named function on the RHS, `closure-compiler` 'optimises' away the function naming, resulting in assignment of an anonymous function instead.

For example, contemplate the following rather useless code snippet:

[code]

`closure-compiler` returns the following:

[code]

This is quite the problem when utilising named function pro

[2015-05-12 21:47] dimvar commented on #942
We don't support manipulating a function's name as a string in the code. See here limitations when working with the compiler:
https://developers.google.com/closure/compiler/docs/limitations

[2015-05-12 21:47] #942 closed

[2015-05-12 21:54] Aedx commented on #942
That isn't the issue, the issue is the fact that the named function is being converted into an anonymous function, hence causing unexpected behaviour.

That is, there are a lot of differences in the way that named (`function foo() {}`) and anonymous (`var foo = function() {}`) behave; converting one type to the other should be avoided at all costs.

[2015-05-12 21:57] dimvar commented on #942
You are right that they are different in general. But in the restricted JS subset that the compiler can optimize safely, they should behave the same.

[2015-05-12 22:01] Aedx commented on #942
They don't behave the same... Also, I am slightly confused as to what you mean by 'restricted JS subset'.

[2015-05-12 22:03] dimvar commented on #942
I mean that if you use the full dynamism of JS with Closure Compiler, the compiler will silently break your code. It cannot handle all of JS safely. Read through the limitations page to see which things to avoid.

[2015-05-12 22:07] Aedx commented on #942
The limitations page mentions this nowhere.

I thought that the point of this tool was supposed to be that it 'compiles from JavaScript to better JavaScript' - not to break it instead.

[2015-05-13 00:12] concavelenz commented on #942
Sorry, the compiler doesn't attempt to preserve function name properties.  We have documented the limitations the optimization impose here:

  https://developers.google.com/closure/compiler/docs/limitations?csw=1
  https://github.com/google/closure-compiler/wiki/Compiler-Assumptions

It isn't possible to do any optimization of JavaScript without making some assumptions (that includes only removing

[2015-05-13 00:16] concavelenz commented on #938
I've seen compiler passes that do this kind of thing, but no one has proposed them for inclusion in the compiler proper.

[2015-05-13 00:22] concavelenz commented on #918
What version of the compiler are you using?

[2015-05-13 01:00] concavelenz commented on #918
@ihsoft I verified the snippet you provided is properly typed on http://closure-compiler.appspot.com/ by inserting these statements into the bound function:

    /** @type {null} */ var x = this;
    /** @type {null} */ var y = this._offsetMs;

which produced the expected type errors.  It seems most likely that
(1) use are using a compiler such that the "closure" coding convention isn't being used

[2015-05-13 01:04] concavelenz commented on #126
There are two kinds of record types inferred and declared.  Declared record types are invariant and "optional" fields must be explicitly set to undefined, inferred record types are more lenient.  This is general source of confusion.

bar({}); // inferred.
/** @type {Foo} */ var f = {}; // declared

[2015-05-13 06:40] ihsoft commented on #918
Normally I use version from somewhat Mar 19. Just now pulled the latest release (05/06/15) and the problem is still there. I'd try reproducing the issue on API but I'm not familiar to it and cannot find how to set flags via UI.

Just to remind the context - the error shows up only with flag `--jscomp_error=reportUnknownTypes`. Without this flag compiler doesn't complain.

Another guess is that ann

[2015-05-13 07:09] dimvar opened #943 "Improve error message for incompatible enums"
Forked off #940. NTI catches the bug, but the error message is hard to understand for someone not very familiar with the type system. It reads

input0:16: WARNING - Cannot access property RED of non-object type bottom.
    case Color.RED:
         ^

input0:18: WARNING - Cannot access property ORANGE of non-object type bottom.
    case Color.ORANGE:
         ^

Code snippet:
[code]

[2015-05-13 07:18] ihsoft commented on #918
After some playing found a way to indirectly reproduce the issue. Try the following code in API (http://closure-compiler.appspot.com/home):
[code]
This sample compiles with no warnings. Now try this sample:
[code]
You'll get expected warning:
[code]
I'd say this example clearly shows that `this` context is not correctly deducted.

[2015-05-13 11:07] denji opened #944 "error: incompatible types: ArrayList, ImmutableList"
There is a problem when building a version of the `maven-release-v20150505 `.

[code]

[code]

[code]

[2015-05-13 15:33] MatrixFrog commented on #944
Interesting. Can you also do `javac -version`? Maybe you somehow ended up with a very new `java` but an old `javac`.

[2015-05-13 15:42] denji commented on #944
@MatrixFrog https://jdk9.java.net/download/
[code]

[code]

[2015-05-13 16:20] MatrixFrog commented on #933
I just pushed a new version of the debugger service, and I'm not seeing this. Maybe you're on an older compiler version? http://closure-compiler-debugger.appspot.com/#input0%3D%252F**%250A%2520*%2520%2540constructor%250A%2520*%2520%2540export%250A%2520*%252F%250Avar%2520test%2520%253D%2520function()%2520%257B%257D%253B%250A%2520%250Atest.prototype.doTest1%2520%253D%2520function()%2520%257B%250A%25

[2015-05-13 16:34] #836 closed

[2015-05-13 17:04] MatrixFrog commented on #918
I am getting a type error with the latest compiler. I think this is probably just the webservice being out of date; I'll try to do a push now.

[2015-05-13 17:16] dimvar commented on #944
This kind of type error is similar to what you'd see if you go from Java 8 down to Java 7 (Java 8 has better type inference). I'm not sure why it happens in Java9, maybe it's a regression. In any case, Java9 is not stable enough yet, and we don't support it in the compiler. If you get a type error with Java 7 or Java 8, let us know; we'd like to fix that.

[2015-05-13 17:16] #944 closed

[2015-05-13 17:33] ghosttie commented on #933
I'm using the latest version of the compiler (v20150505).

I'm not sure what to do with your link - I tried pasting my reproducer code into the text boxes but it says

    input0:1: ERROR - variable goog is undeclared
    goog.provide('test');
    ^

[2015-05-13 17:33] concavelenz commented on #918
You are missing the coding convention.  In your example, you are missing:

// @use_closure_library true

If you add it you get the expected warning.

What command-line are you using with the compiler?

[2015-05-13 17:35] MatrixFrog commented on #933
My link is the same, just without the goog.provide (since the debugger service doesn't have the Closure Library built in)

What is the full set of command line flags you're using?

[2015-05-13 17:49] ghosttie commented on #933
java -jar compiler.jar ^
			--js=_closure-library ^
			--js=c:\temp\test.js ^
			--compilation_level=ADVANCED_OPTIMIZATIONS ^
			--warning_level=VERBOSE ^
			--jscomp_error=accessControls ^
			--jscomp_error=checkRegExp ^
			--jscomp_error=const ^
			--jscomp_error=constantProperty ^
			--jscomp_error=strictModuleDepCheck ^
			--jscomp_error=visibility ^
			--jscomp_error=missingProperties ^
			--

[2015-05-13 17:51] eaftan commented on #944
This looks like https://bugs.openjdk.java.net/browse/JDK-8039214.  In javac 9, they've changed the type inference algorithm to be stricter about conformance to the spec, and this will cause some code not to compile.  I would say it's fine to ignore for now since the Java 9 release date is more than a year away, and javac may change in the meantime.

[2015-05-13 17:54] ihsoft commented on #918
Well, when adding this annotation to the snippets service throws the expected warning. Though, the main issue comes from using `--jscomp_error=reportUnknownTypes`. How to enable it when using service? In my project I don't use service and compile via command line tool which has flag `--process_closure_primitives` set.

[2015-05-13 18:03] #865 closed

[2015-05-13 19:53] concavelenz commented on #715
I have a change to fix this using the TTL and am cleaning up some code in order to land it.  It should land later this week or next week unless something unexpected comes up.

[2015-05-13 22:54] MatrixFrog commented on #918
That's a separate issue (and one we are probably not going to fix; it is a non-goal of the web service to be able to set every possible flag) but the type of 'this' is inferred with the correct coding convention, so closing this issue.

[2015-05-13 22:54] #918 closed

[2015-05-13 23:03] sharvil opened #945 "ICE when compiling with ECMASCRIPT6_TYPED and closure-library"
[code]

[2015-05-13 23:04] sharvil commented on #945
Code compiled with:

[code]

[2015-05-13 23:08] MatrixFrog commented on #945
I don't think ECMASCRIPT6_TYPED mode is being actively maintained at the moment.

[2015-05-14 00:04] ihsoft commented on #918
It's NOT a separate issue. This bug is for __command line version__ of the compiler.

Webservice is unrelated to the issue, it only appeared in the thread because @concavelenz used it to verify the snippet, and as we see now webservice cannot be used as such. But again, this issue is not for the webservice, it's for the compiler itself.

[2015-05-14 00:30] MatrixFrog commented on #918
The issue claims that the type of 'this' is not inferred. You can see that it is inferred (if you have the Closure coding convention enabled) because in this snippet

    /** @struct @constructor */
    var FakePlayer = function() {
      /** @type {boolean} */
      this.auto = false;
    };

    FakePlayer.prototype.seek = function() {
      var callback = goog.bind(function() {
        this.aut

[2015-05-14 00:41] sharvil commented on #945
Thanks for the heads up. I'll leave this issue open in case someone decides to pick up support in the future.

[2015-05-14 01:18] ihsoft commented on #918
This issue does claim that compiler reports an error in the code where there is no errors. Please, take a look the very first post which has starthed this thread. As I mentioned above webservice is unrelated to the issue. If you say webservice infers `this` type as expected then it's good for the service but this bug report was never about it, it's about closure compiler reporting:
[code]
And this

[2015-05-14 01:42] MatrixFrog commented on #918
I'll try to look into this more tomorrow. For now, I'll just point out that enabling reportUnknownTypes is not recommended. It's rare that your program will be so well-typed that every single expression has a known type. What may be happening here is that the type of `this` is known but the type of `this._playPosition` is unknown, but I can dig deeper tomorrow.

[2015-05-14 03:40] ihsoft commented on #918
Did some extra tests and I think I found the exact flags that make the problem. Here is sample (copy it into file `test.js`):
[code]
Compile like this:
[code]
You'll see many warnings from `base.js` which is fine, the only warning from `test.js` will be:
[code]
Now remove `--process_jquery_primitives` flag and the warning will go away. So, it looks like this problem only shows up when both `--proc

[2015-05-14 13:51] ChadKillingsworth commented on #918
`--process_jquery_primitives` is the problem - it changes the coding convention. Are you attempting to compile the jQuery source? That's pretty much the only reason to use that flag.  It's documented here: https://github.com/google/closure-compiler/wiki/jQuery-Expansions

This is expected behavior and is not a bug. The jQuery coding convention is not meant to be fully compatible with Closure-libra

[2015-05-14 15:27] Aedx commented on #942
Why not to use function declarations (FDs) and anonymous function expressions (AFEs)
------------------------------------------------------------------------------------

Before explaining the reasons behind my utilisation of NFEs, I will mention the major downfalls of both function declarations (`function foo() {}`) and anonymous functions (`var foo = function() {};`).

Function declarations are

[2015-05-14 15:54] ChadKillingsworth commented on #942
The variations you point out are all well known to the authors and handled by Closure-compiler, but in ways you probably aren't aware of.

The compiler will actually perform the function hoisting at compile time. The compiler will also emit an error if you try to conditionally define a function and specify the `--language_in=ECMASCRIPT5_STRICT` flag. It is not a goal to make the output JS easier t

[2015-05-14 16:02] #830 closed

[2015-05-14 16:40] Aedx commented on #942
Could you please clarify exactly what you mean by 'function names'? Is that their `.name` property, the variable to which they are assigned to in the code, etc.?

[2015-05-14 17:05] ChadKillingsworth commented on #942
All of the above. There is nothing wrong with referencing a function's `.name` property, but the compiler is free to change the references from which that value is derived. You cannot rely on it to be preserved.

Since the `.name` property is an official part of the ES6 Harmony proposal, more work around this specific property may come in the future. In fact, #938 suggests an interesting idea rega

[2015-05-14 17:27] Aedx commented on #942
I've not really had any problems with the `.name` derivation, only the anonymisation of NFEs. For an example, check the following code:

[code]

With the NFEs 'optimised' to AFEs:

[code]

---

I await the changes made for ES6 compliance; the issue which you referenced is interesting, seemingly it appears to be similar to one of the other functions which I found in Closure Library.

[2015-05-14 17:55] ihsoft commented on #918
Well, cannot say for sure why I started using this flag. At some point in the project development I truned it on to get rid of some warnings. Tried removing it now and project compiled successfully so, I can live without it.

It would be nice to have an error or at least warning in the compiler saying that these two flags are incompatible. There will be much less confusion when using the tool.

[2015-05-14 21:59] lgandras opened #946 "Allow invokable type"
Hi,

currently types (classes) can not be invoked. The next best thing is to define a `typedef` of a function and add properties. The only thing missing here is templating:

[code]
This is for [knockoutjs observables](http://knockoutjs.com/documentation/observables.html) which are integrated pretty straight forward with the closure library and compiler with the exception of the generic condition o

[2015-05-15 01:14] concavelenz commented on #406
I think we can close this if we have a document talking about what we don't support.

[2015-05-15 01:17] concavelenz commented on #221
I think we should close this in favor of:
1) a bug for supporting ES6 with the NTI (type check only)
2) a bug for supporting ES6 for whitespace only (if it doesn't currently work)
3) a bug for supporting ES6 in simple mode end to end
4) a bug for supporting ES6 in advanced mode but we need to think what that would actually look like.

[2015-05-15 15:41] MatrixFrog opened #948 "ES6 support in the new type inference"
This is to track the work needed for the NTI to understand ES6 natively without transpilation.

[2015-05-15 15:43] MatrixFrog opened #949 "Native ES6 support (without transpilation) in simple mode"
Allow ES6 as both the input and output language, in simple mode.